[2017-05-03 08:02] #890 closed

[2017-05-03 08:03] #865 closed

[2017-05-04 12:19] #852 closed

[2017-05-05 06:58] w2moon opened #891 "[ue4]How to make the spine skeleton render be a billboard?"

[2017-05-05 07:16] badlogic commented on #891
May I ask you to sign up on our forums at https://esotericosoftware.com/forum and ask this question there? That way, more people will see the answer.

[2017-05-05 07:16] #891 closed

[2017-05-05 07:20] badlogic opened #892 "[corona] Provide physics integration example"
See http://esotericsoftware.com/forum/Corona-Help-to-position-bounding-box-on-a-bone-1855?p=38645#p38645

[2017-05-05 10:04] torbenratzlaff opened #893 "[lua] BUG - Linked meshes and skins"
In SkeletonJson.lua line 249 a function call needs to be changed.

The current version
`skeletonData.findSkin(linkedMesh.skin)`
produces an error, as the function needs to be called with a colon character instead
`skeletonData:findSkin(linkedMesh.skin)`
this is because the corresponding function in SkeletonData.lua is defined with a colon character too.

[2017-05-06 06:51] tuzihao opened #894 "[Unity] Import skeletondata.asset files error in Unity Editor for OSX"
Unity(Latest version 5.6.0f3 - iOS platform) would freeze when import SkeletonData.asset file generated by spine

[2017-05-07 01:04] pharan commented on #894
Are you saying the Unity Editor freezes? Or it freezes when testing on the device?

Were there any errors logged?

[2017-05-08 10:38] badlogic commented on #893
Thanks for reporting! Fixed in master and 3.6-beta branch.

[2017-05-08 10:38] #893 closed

[2017-05-08 12:28] badlogic opened #895 "[runtimes] Triangulator doesn't handle co-linear points properly"
![https://libgdx.badlogicgames.com/uploads/Screen%20Shot%202017-05-08%20at%202.27.23%20PM-hpfurjPrl3.png](https://libgdx.badlogicgames.com/uploads/Screen%20Shot%202017-05-08%20at%202.27.23%20PM-hpfurjPrl3.png)

[2017-05-08 14:22] fangzhou111 opened #896 "[Unity]Import Error"
![image](https://cloud.githubusercontent.com/assets/28536341/25808468/c2cdfa66-343c-11e7-89dd-20a8cf92255c.png)
there is no class textureloader and some more

[2017-05-09 09:21] badlogic opened #897 "[starling] Support rotation in StarlingTextureAtlasAttachmentLoader"
See http://esotericsoftware.com/forum/starling-mesh-attachment-issue-with-allow-rotation-checked-8478

[2017-05-09 13:00] badlogic commented on #895
Labeled gotos were wrong.

[2017-05-09 13:00] #895 closed

[2017-05-10 11:58] badlogic commented on #675
I've tried to recreate the issue, see this new test https://github.com/EsotericSoftware/spine-runtimes/commit/66c6d5cd899400b3770c62afb7f719c67060929d

Upon clicking the reload button, the old 5 widgets are removed from the DOM (after pausing them, so no further calls to requestAnimationFrame are made), and 5 new widgets are added to the DOM.

I tested this in Chrome, Firefox and Edge on Windows,

[2017-05-10 11:58] #675 closed

[2017-05-10 12:56] badlogic commented on #881
I've created a little test runner to help me see the issue. I'm testing on a MacBook Pro with retina display. Here's the code:

[code]

I'm using the latest sources from the `3.6-beta` branch. I'm using the assets you sent via e-mail. I exported them using scale `1` for the texture packer settings.

I then played around with various widget settings, e.g. scale, fitToCanvas etc. None of my tests sh

[2017-05-10 12:56] #881 closed

[2017-05-10 13:31] #897 closed

[2017-05-10 16:05] NathanSweet opened #898 "API for renderer manipulation of world vertices"
This is an API to specify a function the renderer applies to world vertices just before rendering. This enables vertex shader-like effects: sine wave distortion, swirl, etc. We could provide some effects out of the box and users can develop their own.

See https://github.com/EsotericSoftware/spine-runtimes/commit/42fa637508745bcb593830ec47b42e2ce500f62a

- [x] spine-libgdx

---
- [x] spine-csharp

[2017-05-10 18:23] geddski commented on #881
Yeah it must have been something else I was doing in my app. No worries.

[2017-05-11 08:26] snake5 opened #899 "[runtimes] Animation change mixing problem (unnecessary motion between two similar poses)"
When I change an animation with mixing, the expected behavior is shortest-path interpolation between the two animations. The actual behavior is that additional motion appears between two nearly identical poses.

I am using the spine-c runtime (downloaded early this year).
There are two animation tracks used (body id=0, arm id=1), mix duration is 0.1 (but increasing it didn't help).
Character: [pla

[2017-05-11 10:30] snake5 commented on #899
Searched the forums, found this:
http://esotericsoftware.com/forum/Mix-creating-unexpected-behavior-in-new-version-7412?sid=cc7dad20b4bd159d49060d42c7dab26e&p=37952&hilit=mixing+bug#p37952
https://gist.githubusercontent.com/pharan/cffdc3b2aee9288c9ca8b4ab94ee97d2/raw/ec10be8fe92900d1dcb6bc22cad0a1e6fa21c803/AnimationState.cs

It appears to be different from spine-c and the differences suggest that

[2017-05-11 17:55] snake5 commented on #899
Looks like this issue is fixed in 3.6 beta.

[2017-05-11 18:22] snake5 commented on #899
Unfortunately I've found another bug of the same kind in latest 3.6-beta source.

When mixing overlaps (like when quickly switching the animation twice), there is still unwanted jittering.

https://drive.google.com/open?id=0Bz3gNbfHFo_lMU14V1FIWjY4ckU
Please download the video as the built-in player is showing a damaged copy instead of the 60fps original.

I'm using the same character files as abo

[2017-05-11 19:26] NathanSweet commented on #899
The skeleton is not enough info to reproduce the problem. First ,can you reproduce the problem in [Skeleton Viewer](http://esotericsoftware.com/spine-skeleton-viewer#Download)? If so, please list the exact steps to do so.

Note if you are not using multiple mixing (the default) then you will see a jump if you interrupt a mix. If you enable multiple mixing, you won't see a jump when interrupting a

[2017-05-11 19:51] snake5 commented on #899
Yes, I can reproduce the problem in Skeleton Viewer.
[This is the initial state](https://cloud.githubusercontent.com/assets/1819544/25968986/019c7180-369c-11e7-9bb0-5dff037e80da.png), then I quickly switch the animation to "ladder_jump" and back.

It probably is the jump from interrupting the mix. Neither option works for me then. I need smooth transitions regardless of how or when the animation i

[2017-05-11 20:04] NathanSweet commented on #899
If you are interrupting a mix then the expected behavior is as I described. Unfortunately there is no possibility to have both multiple mixing and to avoid dipping toward the setup pose. Maybe it would get you closer to the desired behavior if you turned multiple mixing on and off based on the state your character is in? Eg, while on the ladder turn multiple mixing on, otherwise set it to off.

[2017-05-11 20:22] snake5 commented on #899
Either behavior looks weird in this particular transition, multiple mixing looks even worse. The gif above shows what happens with multiple mixing. It was created with a different version of the runtime but I just checked that it is in fact the same behavior as with multiple mixing in this one.

By the way, I don't need multiple mixing as in mixing more than two animations/poses, I just need all t

[2017-05-11 21:07] NathanSweet commented on #899
I don't see any snapping with the repro steps you have given:
![](http://n4te.com/x/1897-jump.gif)
Please make it clear what the problem is.

If you are mixing A -> B and during the mix you set C (or A again, or any animation), then to avoid a jump you *do* need to mix more than 2 animations. You need to continue mixing A -> B and then mix the result with C.

Using a shorter mix time may help, sin

[2017-05-12 05:27] snake5 commented on #899
![output](https://cloud.githubusercontent.com/assets/1819544/25982972/d126410e-36e9-11e7-9e4a-4c595eebcf78.gif)
Here it is.

There not only seems to be the regular snapping but the bones are moving outside of the expected path.

As for multiple mixing, there are two possible options:
1) implement it so that there is no dipping (first animation sets the value without blending and following animatio

[2017-05-12 07:32] NathanSweet commented on #899
You example GIF has multiple mixing disabled. There is no snapping with it enabled.

[2017-05-12 07:55] snake5 commented on #899
I know, I can't use multiple mixing here, it looks weird.
![weird](https://cloud.githubusercontent.com/assets/1819544/25939045/25a77b36-363a-11e7-8a24-63383df1be0a.gif)
Hands are moving off the ladder, which is unacceptable, since both animations don't include this motion.

[2017-05-12 09:01] NathanSweet commented on #899
OK, I wanted to be sure. Unfortunately we haven't been able to come up with a solution for non-dipping, multiple mixing. You might try playing `ladder_prepjump` on track 0, then play `ladder_jump` on track 1. To cancel `ladder_jump`, call AnimationState [setEmptyAnimation](http://esotericsoftware.com/spine-api-reference#AnimationState-setEmptyAnimation) on track 1.

[2017-05-12 18:15] snake5 commented on #899
OK, thanks, that worked. I hope I won't run out of tracks this way though. It's a decent backup solution to keep in mind.

Multiple mixing seems like an easy problem (at least it was for the few animation systems that I'd written before) so I'm looking into it anyway. Dipping is probably a result of trying to use some kind of weighted blending instead of chronologically ordered interpolation, whic

[2017-05-12 20:52] NathanSweet commented on #899
We would certainly welcome a proper fix for non-dipping, multiple mixing! AnimationState is a bit of a beast, as you've found. For easy testing, I suggest running Skeleton Viewer in spine-libgdx from source. You can use [this JSON](http://n4te.com/x/1203-mixing.json) in Skeleton Viewer. Some tests that commonly fail:
1) bone1 -> bone2, interrupt mix to bone3
2) bone1 -> bone2, interrupt mix back t

[2017-05-13 06:38] snake5 commented on #899
I think I've managed to fix all of those issues at the same time (they seem to have been just one and the same issue).

The patch is still unfinished though. Scratch buffer should be dynamically allocated in animation state, all types of timelines should have an UID, and scratch buffer should be a bit vector to save memory.

[multiple_mixing.patch.txt](https://github.com/EsotericSoftware/spine-run

[2017-05-13 09:12] NathanSweet commented on #899
Interesting, though doing it in spine-c makes it harder to evaluate. Ideally changes are done to the reference implementation, which is spine-libgdx, then we port from there to the other runtimes.

Note that timelines already have an ID (`getPropertyId`). It's used to calculate timelinesFirst and timelinesLast, which appear to do something similar to what your channelStates does.

[2017-05-13 11:42] snake5 commented on #899
I have ported the unfinished fix to the libgdx runtime.
Thanks to your test case, I found and fixed another bug or two.

[multiple-mixing-libgdx.patch.txt](https://github.com/EsotericSoftware/spine-runtimes/files/998575/multiple-mixing-libgdx.patch.txt)

I have tried all of the tests you suggested and they look good to me. Can you confirm that the patch works for you as well?

[2017-05-13 12:51] NathanSweet commented on #899
Again, I think `timelinesFirst` and `timelinesLast` replace your `channelStates` -- they store if a timeline is the first or last one to be applied to a property. They are calculated only when the animations change, which is infrequent enough that their computation cost can be ignored. You shouldn't need a whole separate system to calculate property IDs, nor another array to store them per timelin

[2017-05-13 13:38] snake5 commented on #899
I don't need to know whether a timeline is first or last to be applied, but whether the next animation will apply the same timeline. I did not find such data there.

There is a difference in the [animation1] -> [empty] -> [animation2] case. The animation [empty] following [animation1] does not contain the same timelines, but it is not last according to the data available.

Also, I'm not storing pr

[2017-05-13 16:25] NathanSweet commented on #899
Re timelinesFirst/Last vs channelStates, gotcha. Thanks, the patch worked. It seems to work well in Skeleton Viewer for most cases, which is great, kudos! I did find one failure:
`bone1` -> `bone1-dupe`, then interrupt with `bone2`: bone1 rotation snaps when the `bone1` -> `bone1-dupe` mix completes.

[2017-05-13 17:11] snake5 commented on #899
Hmm, indeed, I can reproduce that issue. I'll look into it soon.

[2017-05-13 19:09] snake5 commented on #899
Trying a slightly different approach.
[multiple-mixing-libgdx-v2.patch.txt](https://github.com/EsotericSoftware/spine-runtimes/files/998871/multiple-mixing-libgdx-v2.patch.txt)

It should work with all of the test cases mentioned so far.

Only rotation timelines are supported by this patch. If the approach works acceptably, it should be easy to add support for others as well.

I found some issues

[2017-05-14 06:37] snake5 commented on #899
I've implemented the fix for all timelines.
[multiple-mixing-libgdx-v3.patch.txt](https://github.com/EsotericSoftware/spine-runtimes/files/999144/multiple-mixing-libgdx-v3.patch.txt)
There are some parts that I'm doubtful about (like scale timeline sign logic and the handling of event/draw order/attachment timelines) but it's difficult to say if everything's OK without thorough testing.

Here's a

[2017-05-15 07:19] badlogic opened #901 "[cocos2dx] Tinting skeleton not working"
See http://esotericsoftware.com/forum/Skeleton-Color-not-Working-8550

[2017-05-15 21:59] ForestRingGames opened #902 "[cocos2d-x] Cascading Color does not work - with suggested Fix"
Hey Mario and/or Nate,

Cascading Colors in Cocos2d-x does not work with SpineSkeletons. If cascadeColor is enabled and one sets the color of the parent of a Skeleton, the Skeleton keeps its color.

The reason is that the draw-function uses **color** instead of **displayedColor**, suggested fix:

[code]

The same logic is applied in other Cocos2d-x nodes, so it looks like an oversight to me - or i

[2017-05-16 03:22] NathanSweet commented on #899
Thanks for digging into this, I know it's quite a painful thing to think through all the cases without losing sanity. Your solution using the `mixOut` parameter is very interesting. I'm really impressed you found something that works in nearly all cases!

There does seem to be some issues with multiple tracks. I've updated the [test JSON](http://n4te.com/x/1948-6b1G.txt) (similar to how you did).

[2017-05-16 05:09] tuzihao commented on #894
**Unity** freezes when I **open project**. There is Unity crashlog in the **/Library/CrashedAssetImports.txt**. It freezes when import **skeletondata.asset**. But import this data after project opened, it would succeed.

[2017-05-16 07:07] pharan commented on #841
My recommended additions and changes to the Skin API:

`Skin.add(Skin otherSkin)`
adds attachments from another skin (mentioned above as "addAttachmentsFromSkin"

`Skin.removeAttachment(int slotIndex, String name)`
for removing attachments from the dictionary. This is required because the current system does not allow you to set a key to null. This is also important for allowing the lookup to fall

[2017-05-16 07:11] pharan commented on #894
So Unity editor freezes.
Are you using Unity for macOS/OS X?
We have not seen this problem yet but thanks for reporting. We still need to investigate the cause on a test machine.

[2017-05-16 07:12] pharan commented on #896
Are you adding spine-unity from github?
We recommend using the spine-unity.unitypackage download page instead. http://esotericsoftware.com/spine-unity-download/

But if you need to use github, make sure you import both `spine-unity` and `spine-csharp`.

[2017-05-16 07:14] fangzhou111 commented on #896
i got it,thank you

[2017-05-16 07:17] snake5 commented on #899
Hmm, I forgot about multiple tracks. I can reproduce your issue. At the moment, I can only think of a sub-optimal solution (storing the initial state for all bones, slots etc. before applying each track) but I'll keep working on it.

I also considered applying the mix-out value to all preceding timelines until it's missing from a track entry but the math doesn't quite make sense to me yet. The res

[2017-05-16 08:44] badlogic commented on #902
Definitely an oversight. I'll apply the fix to the 3.6-beta branch asap.

[2017-05-16 08:49] tuzihao commented on #894
Yes MacOS Sierra Unity 5.6.0

[2017-05-16 09:07] badlogic opened #903 "IKConstraint produces NaN (formerly [ue4] Meshes disappear)"
See this forum thread plus email from Frank Staff for repro files http://esotericsoftware.com/forum/Problem-exporting-in-Unreal-8555?p=38913&hilit=unreal#p38913

[2017-05-16 23:26] NathanSweet commented on #899
BTW, in 02660ddd0afc29fe85076a424c91ab3dff2cdb6d we managed to solve the `a -> b, a` case by finding the first animation that will be applied that *doesn't* key the property and using that animation's mix to mix out the dip fix (see `timelineDipMix`). I feel pretty OK but AnimationState now (as much as that is possible, given the monster that it is).

[2017-05-17 00:14] NathanSweet commented on #806
The `mixTime > 0` requirement ensures the mixingFrom entry is applied at least once. I've added a comment to make this clear (and next time I won't have to figure out why the heck I had it in there).

It seems an explicit check for this case is the only fix.

[2017-05-17 00:14] #806 closed

[2017-05-17 01:32] #896 closed

[2017-05-17 06:38] snake5 commented on #899
That's great news. I've checked all test cases known so far and they all look good, well done. Can't wait to get a C runtime port in my game. :)

[2017-05-17 09:03] #901 closed

[2017-05-17 09:03] badlogic commented on #902
Thanks for reporting, fixed in 3.6-beta branch!

[2017-05-17 09:03] #902 closed

[2017-05-17 09:51] badlogic opened #904 "[runtimes] Port AnimationState changes"
- [x] spine-libgdx

---
- [x] spine-csharp
- [x] spine-xna
- [x] spine-monogame
- [x] spine-unity
- [x] spine-tk2d

---
- [x] spine-c
- [x] spine-sfml
- [x] spine-cocos2d-objc
- [x] spine-cocos2dx
- [x] spine-ue4

---
- [x] spine-ts core
- [x] spine-ts webgl
- [x] spine-ts canvas
- [x] spine-ts threejs

---
- [x] spine-as3
- [x] spine-starling

---
- [x] spine-lua
- [x] spine-love
- [x] spine-coro

[2017-05-18 08:13] badlogic opened #905 "[ue4] Improvements"
Needs more info for some of these:

- Color control for bones/slots: Let's do it!
- Single bone/slot visibility control: Let's do it (in a nicer way than currently possible)!
- Better material impl: Please provide more details here. What is missing? What is broken?
- Collision per bone/slot: this is harder to achieve with the current architecture, as we batch all meshes into a single mesh for both

[2017-05-19 09:07] badlogic commented on #899
@snake5 I've ported the latest fixes to spine-c on the 3.6-beta branch. Let us know if you give it a whirl and find any problems!

[2017-05-19 10:27] #904 closed

[2017-05-19 19:15] snake5 commented on #899
Thanks! I have tried it now and it mostly works well for me.

There is a way to trigger the dipping problem but it requires very rapid animation switching. It's not nearly as simple as it used to be.

It can be seen here:
![s2bug](https://cloud.githubusercontent.com/assets/1819544/26263131/0f529418-3ce0-11e7-9f95-66eb9c1d11a9.gif)

I'm holding D and tapping W very quickly. Every press changes the

[2017-05-19 20:22] NathanSweet commented on #899
Hmm. It can be seen in SV by setting the speed to ~0.12 and the mix to 1, then change from `m1` to `m1-dup` repeatedly. You can see at the bottom that many "mixing from" track entries are being kept:
![](http://n4te.com/x/1992-0o0J.png)
Once you get more than 5, AnimationState#updateMixingFrom starts removing the oldest entries. The limit is to prevent a very long mixing from linked list. If you r

[2017-05-20 08:41] snake5 commented on #899
Sure, I can look into it.

[2017-05-22 06:39] ownself commented on #894
I met same issue here, with Mac Unity, 5.6.1f1, editor freezes when "importing small assets". after open log, it stops at importing SkeletonData.asset

[2017-05-22 18:21] GerodruS opened #906 "[UE4] Can't built for Android: undefined reference to 'vtable for USpineAtlasAsset'"
Example (https://github.com/EsotericSoftware/spine-runtimes/tree/master/spine-ue4) is working fine in editor, but I can't build it for android platform. Log:
[code]

[2017-05-23 06:48] snake5 commented on #899
This patch works for me in my game (should be small enough for retyping in Java, I didn't test it there yet):
[clean_fix_v2.patch.txt](https://github.com/EsotericSoftware/spine-runtimes/files/1021122/clean_fix_v2.patch.txt)

I am not sure why there needs to be one more supposedly unused track entry behind the one removed but that's what seems to be working for me right now. Also, the timelines for

[2017-05-23 08:16] badlogic commented on #906
Which version of the Spine UE4 plugin do you use (Master or 3.6-beta branch)? Which UE4 version do you use (4.15.2 or earlier)? Can you try a full clean of the Android build, and rebuild?

[2017-05-23 08:21] badlogic commented on #903
Not a spine-c problem, works in Cocos2d-X runtime.

[2017-05-23 08:45] GerodruS commented on #906
Spine UE4 plugin version is from Master branch. UE4 version is 4.15.2. I've tried check and uncheck ProjectSettings -> Packaging -> Project -> Full Rebuild flag. Is there another way to full rebuild?

[2017-05-23 08:48] badlogic commented on #906
That should do the trick. Could you gice the 3.6-beta branch a try? I see
if I can reproduce the issue locally.

On May 23, 2017 10:45 AM, "GerodruS" <notifications@github.com> wrote:

[2017-05-23 08:57] badlogic commented on #903
Can reproduce in test scene playing `Death01`. Seems the `SkeletonRendererComponent` is at fault drawing that attachment.

[2017-05-23 09:11] badlogic commented on #903
Getting NaN's in vertex positions for back_downskirt in last frame of death animation!

[2017-05-23 09:15] badlogic commented on #903
Bone data contains NaN's.

[2017-05-23 09:18] badlogic commented on #903
It's a bug in path constraint, constraint `path_down_skirt02` appears to be the culprit.

[2017-05-23 09:54] badlogic commented on #903
Seems to be a bug in IKConstraint, produces NaNs for rotation.

[2017-05-23 10:01] badlogic commented on #903
`angle = ACOS(-a * l1 / (aa - bb));` in IKConstraint.c:181 produces a NaN for constraint `IK_down_skirt02`

[2017-05-23 10:27] badlogic commented on #903
Turns out IKConstraint produces a NaN. In the reference implementation, the NaN gets eliminated by accident and not distributed throughout the whole skeleton update. In spine-c using MSVC++, the code takes a different path, resulting in NaN's everywhere. This needs to be fixed in all runtimes.

@NathanSweet please take a look. Here is the repro:

1. Load repro skeleton in SkeletonViewer (see Slack

[2017-05-23 10:35] badlogic commented on #903
Fix in C implementation https://gist.github.com/badlogic/dfc9d397cd9cc85d4e30374008572a54

[2017-05-23 11:12] NathanSweet commented on #899
Sorry, I didn't get notifications see about your edits 3 days ago, only when you posted a new message.

The patch looks interesting, I'll check it out today, thanks!

It's too large of a change to consider additive intra-track mixing for 3.6. It wouldn't really simplify AnimationState though, since we'd still need what we currently have for mixing tracks. Also, it seems we would need to calculate

[2017-05-23 16:37] NathanSweet commented on #903
It should not be possible for a NaN returned from ACOS to escape IkConstraint:
[code]
It is a bit odd for the IK algorithm to rely on NaN, but the above should work across all languages. Before adding a NaN check, I'd like to understand how `a1` or `a2` could possibly be set to NaN.

[2017-05-23 20:41] snake5 commented on #899
No worries, that was the idea. I didn't want to disturb anyone before I had anything concrete.

As for mixing - yeah, any major changes are too big for now. Come to think of it, the alpha value idea probably won't work here as cleanly as I expect and I should instead probably finish that patch I worked on a week ago.

[2017-05-24 01:41] NathanSweet commented on #899
I played with using `totalAlpha` a bit. It needs to happen in update, since apply should not have side effects (AnimationState may be applied to multiple skeletons between updates). Also setting `interruptAlpha` appears to be needed. I committed it in a69f9d579f33134659ecd8b7f36a443f6648fb08. It works in most scenarios, but there is still one that snaps: `m1 -> m1-dup, m2, m1-dup, m1`. The snap is

[2017-05-24 05:39] GerodruS commented on #906
Sorry for the delayed response.
I've tried 3.6-beta branch and it's working.
Thank you for advice.

[2017-05-24 08:25] badlogic commented on #906
Great! Thanks for trying.

[2017-05-24 08:25] #906 closed

[2017-05-24 09:33] badlogic opened #907 "[runtimes] Port IKConstraint simplification"
- [x] spine-libgdx

---
- [x] spine-csharp
- [x] spine-xna
- [x] spine-monogame
- [x] spine-unity
- [x] spine-tk2d

---
- [x] spine-c
- [x] spine-sfml
- [x] spine-cocos2d-objc
- [x] spine-cocos2dx
- [x] spine-ue4

---
- [x] spine-ts core
- [x] spine-ts webgl
- [x] spine-ts canvas
- [x] spine-ts threejs

---
- [x] spine-as3
- [x] spine-starling

---
- [x] spine-lua
- [x] spine-love
- [x] spine-coro

[2017-05-24 09:34] badlogic opened #908 "[runtimes] Port Animation State changes"
- [x] spine-libgdx

---
- [x] spine-csharp
- [x] spine-xna
- [x] spine-monogame
- [x] spine-unity
- [x] spine-tk2d

---
- [x] spine-c
- [x] spine-sfml
- [x] spine-cocos2d-objc
- [x] spine-cocos2dx
- [x] spine-ue4

---
- [x] spine-ts core
- [x] spine-ts webgl
- [x] spine-ts canvas
- [x] spine-ts threejs

---
- [x] spine-as3
- [x] spine-starling

---
- [x] spine-lua
- [x] spine-love
- [x] spine-coro

[2017-05-24 11:24] #908 closed

[2017-05-24 11:27] badlogic opened #909 "[c] Update spine-c guide to reflect API changes"

[2017-05-24 11:35] #909 closed

[2017-05-24 15:17] NathanSweet commented on #903
Can't rely on IEEE 754 NaN behavior in C. Sad. Might as well avoid trig/NaN in all runtimes.

[2017-05-24 15:25] #843 closed

[2017-05-24 15:34] #907 closed

[2017-05-24 15:36] #903 closed

[2017-05-24 20:34] snake5 commented on #899
Looks interesting. I can only really check the changes from C++ though. As for the snapping scenario, I'm not sure how much can be done without heavily increasing track entry count. The necessary animation count to trigger it is 5 already, which was the limit previously.

[2017-05-24 20:38] badlogic commented on #899
The changes are already in spine-c!

On May 24, 2017 10:34 PM, "Arvīds Kokins" <notifications@github.com> wrote:

[2017-05-24 21:13] snake5 commented on #899
Huh, looks like I missed it, sorry. Anyway, I tested it now and all the bugs that I could reproduce seem to be gone now. Good job!

So as far as I'm concerned, the issue can be closed now. If you want, I can still finish that more than a week old patch though.

[2017-05-25 06:26] badlogic commented on #899
Not sure it's worth it at this point for you to finish the patch. We'll tackle intra-track mixing in a separate issue for 3.7.

Really appreciate all your help with this!

[2017-05-25 06:26] #899 closed

[2017-05-25 07:00] pharan commented on #894
Thanks for sharing, @ownself!

[2017-05-26 15:59] badlogic opened #910 "[ue4] Can't compile with UE 4.16"
Build tool is broken again. Sent PR, see https://github.com/EpicGames/UnrealEngine/pull/3621

[2017-05-27 09:53] StoneChiu opened #911 "[libgdx]getAttachment in Skin Multithreaded error"
I think the Key lookup in Skin should not be static, it may cause some problem in multithreaded, or make the getAttachment method synchronized.

[2017-05-28 08:55] badlogic opened #912 "[widget] Aspect ratio is not honored properly"
See http://esotericsoftware.com/forum/Spine-widget-bug-web-widget-8676

[2017-05-28 21:15] NathanSweet commented on #911
I don't mind it being non-static, it's safer as you mentioned. After `lookup` is non-static, then multiple threads can concurrently call `getAttachment` only if other threads are not calling `addAttachment` or `clear`. Other Skin methods must not be used by multiple threads concurrently (well, `getName` and `toString` are safe).

Note that modifying a skin (or any skeleton data object in general)

[2017-05-29 07:24] snake5 opened #913 "spine-c: bad memory free order in AnimationState.c"
Just had a crash in a MSVC build:

[code]

The issue appears to be in this code (I'm using 3.6-beta branch):

[code]

Swapping the lines marked above solved the issue for me.

[2017-05-29 09:45] badlogic commented on #913
Oh boy, that's embarassing. Thanks for reporting! Our test suit should actually detect that case :/

[2017-05-29 09:45] #913 closed

[2017-05-29 09:46] #911 closed

[2017-05-31 15:55] badlogic opened #914 "[ts] Path constraint doesn't position bones correctly for a non-constant speed path"
http://esotericsoftware.com/forum/Unchecking-Constant-speed-breaks-animation-8690

Behavior different, non-constant on top, constant on bottom:
http://3.live-preview.com/spine_path/
Looks correct in the editor.

Example project with images:
http://3.live-preview.com/spine_path/money.zip

[2017-06-01 06:33] badlogic opened #915 "[ue4] Crash when setting data before atlas on skeleton component"
See email by Sam Ruff

[2017-06-01 06:33] badlogic opened #916 "[ue4] Plugin creates empty folder when deleting source assets"
See email by Sam Ruff

[2017-06-01 17:09] badlogic commented on #912
Typo in repro :D

[2017-06-02 16:49] badlogic opened #918 "[runtimes] Explicit setter to mark Skeleton as not dirty to prevent world transform updates"
See http://esotericsoftware.com/forum/Starling-AS3-Performance-Question-8706

[2017-06-02 16:50] badlogic commented on #912
Seems to not happen on macOS, but on Windows.

[2017-06-03 22:15] Bloodwork commented on #910
The link is not public. Leads to 404. I guess only the creator of the ticket can view it?

I guess I'll stick with 4.15 for now.

[2017-06-03 22:31] badlogic commented on #910
The link is to the PR on Epic's Unreal repository. You should have access to that if you use UE. The PR has been merged. You'll need to recompile the Unreal Build Tool project and replace the .exe in your local installation of UE 4.16 until Epic releases the next update.

[2017-06-04 08:45] badlogic opened #919 "[runtimes] Port AnimationState#apply returning boolean"
- [x] spine-libgdx

---
- [x] spine-csharp
- [x] spine-xna
- [x] spine-monogame
- [x] spine-unity
- [x] spine-tk2d

---
- [x] spine-c
- [x] spine-sfml
- [x] spine-cocos2d-objc
- [x] spine-cocos2dx
- [x] spine-ue4

---
- [x] spine-ts core
- [x] spine-ts webgl
- [x] spine-ts canvas
- [x] spine-ts threejs

---
- [x] spine-as3
- [x] spine-starling

---
- [x] spine-lua
- [x] spine-love
- [x] spine-coro

[2017-06-04 08:46] badlogic opened #920 "[runtimes] Fix DeformTimeline applying setup pose"
- [x] spine-libgdx

---
- [x] spine-csharp
- [x] spine-xna
- [x] spine-monogame
- [x] spine-unity
- [x] spine-tk2d

---
- [x] spine-c
- [x] spine-sfml
- [x] spine-cocos2d-objc
- [x] spine-cocos2dx
- [x] spine-ue4

---
- [x] spine-ts core
- [x] spine-ts webgl
- [x] spine-ts canvas
- [x] spine-ts threejs

---
- [x] spine-as3
- [x] spine-starling

---
- [x] spine-lua
- [x] spine-love
- [x] spine-coro

[2017-06-04 09:01] #919 closed

[2017-06-04 09:07] #920 closed

[2017-06-04 09:09] #918 closed

[2017-06-04 09:09] badlogic commented on #918
Decided against this. It can be easily handled in user code without any downsides.

[2017-06-04 09:47] #914 closed

[2017-06-05 10:22] badlogic commented on #912
I've tried everything to reproduce this. Using this repro case https://drive.google.com/open?id=0B-iSLz-MItyVdHBiUDFPaDVUVFk

No resolution + OS + browser combination triggers what Erikari is showing in her video/forum post. I assume an outdated runtime is used in those examples.

[2017-06-05 10:22] #912 closed

[2017-06-05 10:27] badlogic commented on #915
Can't reproduce with 3.6, code paths related to this have been changed since 3.5.

[2017-06-05 10:27] #915 closed

[2017-06-05 10:29] badlogic commented on #916
Seems to have been a bug in earlier UE4 versions. Does not happen in UE 4.16.0 anymore.

[2017-06-05 10:29] #916 closed

[2017-06-08 09:40] badlogic opened #921 "[ts] Flicker when using linked meshes"
In Cocos Creator, not our runtime, may still be an issue in core. See http://esotericsoftware.com/forum/Flicker-in-animation-when-using-linked-meshes-8734?p=39621#p39621 and PM from user.

[2017-06-09 09:37] badlogic commented on #921
Tested using spine-ts WebGL backend. Works as intended.

[2017-06-09 09:37] #921 closed

[2017-06-09 17:49] Bloodwork commented on #910
I've not tried compiling yet but this seems to be fixed in 4.16.1?

https://forums.unrealengine.com/showthread.php?146431-4-16-1-Hotfix-Released

[2017-06-09 17:53] badlogic commented on #910
Wonderful! Thanks for notifying me.

[2017-06-09 17:53] #910 closed

[2017-06-14 13:06] badlogic opened #923 "[runtimes] Updated examples"

[2017-06-18 12:22] snake5 opened #924 "[spine-c] Calling spBone_worldToLocal for the first time before calling spSkeleton_updateWorldTransform returns NaN"
I'm setting IK bone location to a world position. For this purpose I used spBone_worldToLocal to convert world position to a local position that I could give to the bone.

When I called `spBone_worldToLocal` before ever calling `spSkeleton_updateWorldTransform` on the skeleton, I received NaN local X and Y values, which in a typical plague-like fashion wrecked all further computation. Traced the i

[2017-06-18 13:40] pharan commented on #924
So why not call updateWorldTransform before doing your first operation? Or make sure your operation is always done after the updateWorldTransform of every frame?

[2017-06-18 13:41] pharan commented on #923
I don't get this. What is this?

[2017-06-19 07:38] snake5 commented on #924
What's the point of that when it's both faster and less confusing to just initialize the matrix properly? There are lots of ways to solve the problem, I'm sure. I just don't want to pick the one that's going to make me look for the same bug more than once.

[2017-06-19 09:41] pharan commented on #894
I wasn't able to reproduce this crash.
Unity 5.6.1 in OSX, I had Metal enabled and tried to import a raw set of json, atlas.txt and png. I separately tested importing a set with SkeletonDataAsset and AtlasAsset. No crashes.
So this might may not be happening to all setups.

In any case, disabling "Metal API in Editor" seems to have helped people who have run into this problem.

[2017-06-19 10:05] badlogic commented on #924
I think initializing the transform matrix to identity on creation of a bone is a good idea. Nothing is more annoying than tracing NaNs.

[2017-06-20 14:11] pharan opened #925 "[Animation] Mixing to before-first-key deform timeline causes meshes to shrink."
At runtime, mixing between two animations, and the second animation's deform timeline doesn't have a key at the beginning, causes the meshes to shrink.

![file](https://user-images.githubusercontent.com/1911082/27336673-dff0c582-5602-11e7-8271-1caceeb549da.gif)

![image](https://user-images.githubusercontent.com/1911082/27337345-b8fb185e-5604-11e7-9190-2fb83a9bad1c.png)

It looks like it's because

[2017-06-20 17:34] pharan commented on #925
repro project and export.
[shrinkbug.zip](https://github.com/EsotericSoftware/spine-runtimes/files/1089138/shrinkbug.zip)

Play A->B with a mix of 0.2 or 0.4
expected: should blend between animations normally. (like it looks in Preview View)
bug: mesh shrinks during the mix duration.

[2017-06-21 10:19] #923 closed

[2017-06-21 10:55] pharan commented on #924
True that you'd get rid of NaNs. (Not saying having the identity matrix is a bad idea).

But it would still be wrong for every frame, not just the first one, since every frame, you'd be getting the value from the previous pose/frame.

[2017-06-21 12:00] badlogic commented on #898
See https://github.com/EsotericSoftware/spine-runtimes/commit/42fa637508745bcb593830ec47b42e2ce500f62a

- [x] spine-libgdx

---
- [ ] spine-csharp
- [ ] spine-xna
- [ ] spine-monogame
- [ ] spine-unity
- [ ] spine-tk2d

---
- [ ] spine-c
- [ ] spine-sfml
- [ ] spine-cocos2d-objc
- [ ] spine-cocos2dx
- [ ] spine-ue4

---
- [ ] spine-ts core
- [ ] spine-ts webgl
- [ ] spine-ts canvas
- [ ] spine-ts

[2017-06-21 13:46] #925 closed, assigned to NathanSweet, pharan

[2017-06-21 14:18] archo5 commented on #924
Well, there doesn't seem to be a way to give IK targets absolute position, so it's a choice between "last frame world-to-local transform" and "last frame IK results", of which I prefer the first option. Absolute-position IK targets is another feature to consider, by the way.

[2017-06-22 18:24] badlogic opened #926 "[ts][widget] Tint black & clipping don't work together"
See http://esotericsoftware.com/forum/Try-clipping-in-the-3-6-beta-8240?p=40112#p40112

[2017-06-22 18:39] #926 closed, assigned to badlogic

[2017-06-22 18:45] #924 closed

[2017-06-22 18:45] badlogic commented on #924
If your IK target isn't 1) constraint and 2) directly attached to the root bone, you may get away with directly setting its position. It's an ill-defined problem though in a hierarchical system like a skeleton. Since bone positions are given in local space, there's no way around calculating the local transforms (and thus coordinate spaces) before being able to convert a world position to a local c

[2017-06-24 21:12] badlogic opened #927 "[runtimes] Explore typing caching fields"
E.g. `region.renderObject`

[2017-06-26 08:10] erikari opened #928 "Trial differs from Editor"
When opening a file.

See this topic: http://it.esotericsoftware.com/forum/How-to-actually-test-8871

[2017-06-26 08:15] #928 closed, assigned to nobody

[2017-06-27 13:46] #898 closed

[2017-06-27 13:49] badlogic opened #931 "[runtimes] Port latest dip fix"
See https://github.com/EsotericSoftware/spine-runtimes/commit/61e54a5771481f037ee8bdcc9956489d66d15560

- [x] spine-libgdx

---
- [x] spine-csharp
- [x] spine-xna
- [x] spine-monogame
- [x] spine-unity
- [x] spine-tk2d

---
- [x] spine-c
- [x] spine-sfml
- [x] spine-cocos2d-objc
- [x] spine-cocos2dx
- [x] spine-ue4

---
- [x] spine-ts core
- [x] spine-ts webgl
- [x] spine-ts canvas
- [x] spine-ts

[2017-06-27 13:50] badlogic opened #932 "[runtimes] Port fix for DeformTimeline"
See https://github.com/EsotericSoftware/spine-runtimes/commit/a8e1faf4ddba83964658c02a8af952388c81e87f and https://github.com/EsotericSoftware/spine-runtimes/commit/1a9270245626b21c7fe9083e642b334611f30b7a

- [x] spine-libgdx

---
- [x] spine-csharp
- [x] spine-xna
- [x] spine-monogame
- [x] spine-unity
- [x] spine-tk2d

---
- [x] spine-c
- [x] spine-sfml
- [x] spine-cocos2d-objc
- [x] spine-cocos

[2017-06-27 14:15] #931 closed, assigned to badlogic

[2017-06-30 07:38] HotkeyM opened #933 "[runtime] Unity runtime can not load animations exported with Dragonbones"
I tried to export animation with with Dragon bones PRO 5.2 File->Export, Type = Spine, Data Version = 3.3 to import with Spine runtime for Unity claimed to support 3.3 version.

First, it failed to import because original Spine format header has "skeleton":{"hash":"your hash there"} section. I commented that checking, but Spine runtime still continued to raise exception. It also fails on the first

[2017-06-30 09:08] badlogic commented on #933
Sorry you've been duped by DragonBones. Spine is not associated with DragonBones in any way. Their export functionality is their responsibility. We do not support DragonBones ourselves, at all.

Also, if you use the Spine Runtimes, you must have a valid Spine license. DragonBones should make that clear, otherwise their users are in legal trouble if they use the Spine Runtimes without a valid Spine

[2017-06-30 09:08] #933 closed, assigned to nobody

[2017-06-30 10:09] tatosgames commented on #762
Spine has much more potential than Spriter for construct... the needs of that caused the creation of a non official plugin.
Actually the non official Spine Construct 2 plugin is pretty buggy and it ruins the "public opinion"
Spine > Spriter
Spriter C2 Plugin > Actual Spine Plugin
I would like to change this :)

In addition: now C3 beta is out but the plugin conversion is pretty simple

[2017-07-02 16:07] ownself commented on #894
I disabled "Metal API" and the problem's gone. Thx mate!

[2017-07-04 08:44] #932 closed, assigned to badlogic

[2017-07-04 18:06] remmarcoux commented on #894
Having the same issue when I checkout my project on a Mac. According to this issue ([link](https://issuetracker.unity3d.com/issues/macos-metal-unable-to-open-project-after-enabling-metal-editor-support-star-experimental-and-deleting-library-folder)) it would start after deleting your Library Folder. In my case, the workstation never had a Library folder to begin with, so it was never populated bef

[2017-07-10 23:23] pharan opened #937 "[csharp/unity] Clipping has extra triangles sometimes."
http://esotericsoftware.com/forum/Clipping-Bug-8966

SkeletonViewer
![nvidia share_2017-07-11_07-22-57](https://user-images.githubusercontent.com/1911082/28044403-c99c3c6e-6609-11e7-856f-8ae641052ac8.png)

Spine-Unity
![nvidia share_2017-07-11_07-12-45](https://user-images.githubusercontent.com/1911082/28044373-9f4a3132-6609-11e7-8d76-827b6ceb4330.png)

[2017-07-11 08:19] pharan opened #938 "[docs] Need to update links to download "as a zip""
Many of the runtime readmes refer, as a setup step, to downloading the repo "as a zip" and link to:
https://github.com/EsotericSoftware/spine-runtimes/archive/master.zip

Since the master branch is gone, those links are broken.

[2017-07-11 08:35] pharan commented on #937
@badlogic
Looks like XNA/MXA for Visual Studio 2017 is broken.
Do you have a working setup you can test the repro export with?

[2017-07-11 13:58] badlogic opened #939 "[as3] TexturePacker atlases don't work"
See http://esotericsoftware.com/forum/AS3-Starling-runtime-Rendering-problem-8969, repro in PM.

[2017-07-12 03:03] pharan opened #940 "[unity] Unity 2017.x Sprite Atlas Support"
Unity 2017.1 introduces SpriteAtlas, which is a new asset type that has a collection of Sprites for Unity to pack. It gives control over output texture and packing settings.

This may remove the need for the (re)packing step or Spine-Unity's reliance on the Spine/libGDX atlas format. But it likely won't be able to handle all cases. This includes:
- images with subfolder paths ("goblingirl/forearm"

[2017-07-12 03:32] pharan opened #941 "[unity] Unity 2017 SpriteMask support"
Unity 2017.1 introduces SpriteMask.
https://docs.unity3d.com/2017.1/Documentation/ScriptReference/SpriteMask.html
SpriteMask is a component that can mask UnityEngine.Sprites in a certain arrangement in the scene graph.

Example of SpriteMask used on UnityEngine.Sprites:
![mask](https://user-images.githubusercontent.com/1911082/28100598-a5245faa-66f5-11e7-8dbc-f8cfe723555f.gif)

Under investigation

[2017-07-12 10:04] #938 closed, assigned to nobody

[2017-07-12 10:05] badlogic commented on #937
Tested in XNA (VS15), no extra triangles as far as I can see. Clipping looks correct.

[2017-07-12 21:08] ForestRingGames opened #942 "[cocos2d-x] SpineSkeleton keeps rendering if the opacity of a parent node is zero"
So we've got this node hierarchy:

SomeCCNode (Opacity 0)
----SkeletonAnimation

In this case the SkeletonAnimation is still producing renderer commands that cause OpenGl draw calls - even though nothing is visible. We've debugged this with the Xcode OpenGL Frame tool. We see the geometry, but nothing is visible and OpenGL calls get "wasted".

[2017-07-12 23:30] pharan commented on #937
Ok, that helps narrow it down.
Should be on spine-unity's renderer side.

[2017-07-12 23:48] pharan commented on #941
Doesn't look good so far. The system/API seems pretty enclosed at the moment.

[2017-07-13 00:50] pharan commented on #937
Note the same number of verts and tris.

No bug when flipped.
![image](https://user-images.githubusercontent.com/1911082/28145840-00044806-67a8-11e7-9e27-9dfeedc6acad.png)

Bug state. It's fanning the wrong way? Is this the triangulator?
![image](https://user-images.githubusercontent.com/1911082/28145844-0f20b5ae-67a8-11e7-833b-70288391b556.png)

Extra triangles aren't at the start or end of the b

[2017-07-13 16:31] badlogic commented on #939
See also http://esotericsoftware.com/forum/AS3-Starling-runtime-animations-not-matched-8998?p=40828#p40828

[2017-07-14 02:17] kadlugan commented on #892
Howdy badlogic, its kadlugan from the esoteric forums here. I hope things are going well.

I noticed a change of status for this issue to 'ready'.  Does this mean that you have a working example up and running?  Fingers crossed. :)

[2017-07-14 02:27] pharan opened #943 "[unity] Unity 2017 Timeline/Playables support"
"Timeline is a powerful new visual tool that allows you to create cinematic content such as cutscenes and trailers, gameplay sequences, and much more."

It's basically an animation sequencer built into Unity Editor and the Unity engine. It's not only for cutscenes. It's for any, moderately complex, sequence of animations that can play even while the player is running around in-game.

Unity designe

[2017-07-14 06:42] freeubi opened #944 "[obj-c] Render Spine on custom UIView"
Hello,

i checked the demo and it seems that the animation is drawn on a rootView.
Instead of that, can i render it to a uiview of my choice?

[2017-07-14 09:58] badlogic commented on #944
Hi!

The spine-cocos2d-objc runtime is for [Cocos2d-ObjC](http://www.cocos2d-iphone.org/). I'm afraid I'm not intimately familiar with Cocos2d-ObjC and can't answer your question. I suggest you consult their documentation on whether this is possible, and also ask on [their forum](http://forum.cocos2d-objc.org/).

Cheers,
Mario

[2017-07-14 09:58] #944 closed, assigned to nobody

[2017-07-14 09:59] badlogic commented on #942
Ah, good catch! We can make it so that nothing is rendered when the node's (inherited) opacity is 0!

[2017-07-14 10:00] badlogic commented on #892
I've looked into it already. It's a mess because the physics API of Corona is pretty terrible. Any bounding shapes we submit will be centered automatically (!!!) and there's no obvious way how to compensate for this. I'll keep trying to make something sane.

[2017-07-14 19:28] vync79 commented on #939
Hello,
I did some investigations on my side and here is what I found:
- a display bug with Starling runtime / TexturePacker atlases appeared with the commit of March 10th:
[[starling] Added two color tinting. Closes part of #843](https://github.com/EsotericSoftware/spine-runtimes/commit/4935284449d0291f1e63ddbee9963d3c2b37fd42)

- when using the TexturePacker format, it looks like only the mesh ty

[2017-07-15 00:04] kadlugan commented on #892
Thanks badlogic,

Yeah, it does seem to be a recurring issue of getting deep enough access via the API to do what you need in a simple way.  I appreciate your continued persistence.     The following are a couple of suggestions  - you may have already considered as you know more about the challenges than i do.

Have you tried using an outline body or chain body?
https://docs.coronalabs.com/guide/p

[2017-07-15 00:51] pharan commented on #942
Is it standard in cocos2dx to not issue draw calls when the node opacity is zero?

[2017-07-15 02:01] pharan commented on #937
[simpler clipping bug repro.zip](https://github.com/EsotericSoftware/spine-runtimes/files/1149968/simpler.clipping.bug.repro.zip)

input into SkeletonClipper
[code]

output from SkeletonClipper
[code]

UnityEngine Mesh Data
[code]

[2017-07-16 01:45] ForestRingGames opened #945 "[cocos2d-x] getCurrent(trackIndex) does not return nullptr even though the animation has finished playing"
Is it intended behaviour that `getCurrent(trackIndex)` returns a pointer to the last spTrackEntry, even though it has already finished playing? The track time is just ticking up to infinity, even though the end time was reached already.

I've read in several forum posts that it should return nullptr in case there is no animation playing currently.

[2017-07-16 08:15] badlogic commented on #942
@pharan It's up to the Node implementation. Not submitting draw calls when opacity is zero is a good default.

[2017-07-17 09:56] badlogic opened #946 "[cocos2d-objc] Make runtime compatible with ARC"
See http://esotericsoftware.com/forum/Using-spine-cocos2d-objc-runtime-9021

[2017-07-17 10:03] badlogic commented on #939
Hi Vince,

Thanks for all your work! I'll try to get to this today and incorporate it in the runtime and hopefully also fix the rotated case.

Cheers!
Mario

[2017-07-17 10:15] badlogic commented on #945
The track end time is set to a really high value by default, so the last track entry will usually linger around. However, you said the end time has already been passed, so this sounds like a bug. I'm investigating.

[2017-07-17 10:33] ForestRingGames commented on #945
@badlogic Sorry, I was wrong. The track end has not passed, but the animationEnd of the last animation had long passt. I mixed them up. So might it even be normal behaviour that the last spTrackEntry is then staying alive?

[2017-07-17 10:34] badlogic commented on #945
Ah, yes. That is "normal" indeed then :(

On Jul 17, 2017 12:34 PM, "ForestRingGames" <notifications@github.com>
wrote:

[2017-07-17 10:35] #945 closed, assigned to badlogic

[2017-07-17 12:26] badlogic commented on #942
Fixed, but per attachment.

[2017-07-17 12:26] #942 closed, assigned to badlogic

[2017-07-17 12:33] badlogic commented on #927
`spine-libgdx` doesn't need it, already typed to `TextureRegion` in both mesh and region attachment.

`spine-c` can't express it in its type system, requires `void*` for `renderObject`

`spine-lua` is Lua, no typing possible at all.

`spine-as3`, `spine-ts` and `spine-csharp` could generically type `RegionAttachment` and `MeshAttachment` renderObject, but the AttachmentLoader interface can't be me

[2017-07-17 12:33] #927 closed, assigned to badlogic

[2017-07-17 12:44] badlogic commented on #946
Making the runtime ARC compatible would mean it is not compatible with non-ARC projects anymore. An alternative to use the runtime in an ARC project is to exclude the spine-cocos2d-objc files from using ARC as described here https://stackoverflow.com/questions/6646052/how-can-i-disable-arc-for-a-single-file-in-a-project

[2017-07-17 12:44] #946 closed, assigned to badlogic

[2017-07-17 13:14] badlogic commented on #937
Taking this on. I'll try to repro in XNA again, need to write a debug renderer first. My guess is that the translation of some of the labeled gotos is still borked.

[2017-07-17 13:15] badlogic opened #947 "[xna] Debug renderer"
Just simple line rendering for all attachment types that have a visual component. Needed for #937

[2017-07-17 14:13] vync79 commented on #939
Hi Mario,
You're welcome, I'm glad I could help.
Thanks for your fantastic framework and the efforts you make to keep it compatible with such a list of runtimes!
Bye,
Vince

[2017-07-17 17:22] evilbert103 commented on #939
Nice find and quick update, I was also exploring this issue so much appreciated!

I believe I'm honing in on another issue in the RegionAttachment. I've been playing with a spine animation that runs a sprite sheet animation internally (not ideal but nonetheless). When it runs in spine the object that should sit stationary is moving around as the frames swap (5-10 pixels along both axis).

My conce

[2017-07-17 17:29] badlogic commented on #939
Could you open a new issue and post reproduction steps and data?

On Jul 17, 2017 7:22 PM, "evilbert103" <notifications@github.com> wrote:

[2017-07-17 19:14] evilbert103 opened #948 "[as3] TexturePacker Trim Settings Issues"
I've been playing with a Spine animation that runs the frame swapping for a sprite sheet animation. In Spine, the animation runs smoothly changing frames cleanly, but when run in AS3 code the image jumps along the X and Y axis on different frames. I've repackaged an example for you showcasing the issue. Meteor.spine contains one skeleton animation. I have provided two different TexturePacker proje

[2017-07-17 20:27] aram-ahak commented on #939
Hi!
 (http://esotericsoftware.com/forum/AS3-Starling-runtime-animations-not-matched-8998?p=40828#p40828) issue hasn't closed yet

[2017-07-18 13:42] badlogic commented on #939
Sorry @aram-ahak I'm looking into it.

[2017-07-18 18:36] evilbert103 commented on #948
FYI I was able to correct the issue with this ugly code. This certainly wouldn't run as quickly but perhaps it will help you find a better solution. Basically the problem was that when the texture is trimmed unevenly the pivot point is shifted away from 0,0...

[code]

[2017-07-19 03:18] pharan opened #949 "[AnimationState] Wildcard for AnimationState mix data."
Sometimes, you always want a specific animation to start without mix, or end without a mix, so you need to set its mix duration to 0 when you play that animation, or play something from it.

Or you want a specific animation to start playing with a certain mix duration regardless of what animation came before it.

It would be convenient if we could define this in AnimationStateData.

http://esoteri

[2017-07-19 05:38] littlesome opened #950 "[unity]need add UNITY_2017 check"
hi,

unity2017 does not define UNITY_5, so some code need changes, eg:

https://github.com/EsotericSoftware/spine-runtimes/blob/3.6/spine-csharp/src/Atlas.cs#L47

https://github.com/EsotericSoftware/spine-runtimes/blob/3.6/spine-csharp/src/SkeletonBinary.cs#L31

and this way maybe better:

[code]

https://github.com/EsotericSoftware/spine-runtimes/blob/3.6/spine-csharp/src/SkeletonJson.cs#L31

[2017-07-19 09:01] badlogic commented on #939
@aram-ahak this doesn't appear to be an issue with the atlas. Using the Spine texture atlas also produces the issue. Investigating.

[2017-07-19 09:33] badlogic opened #951 "Shearing + disabled scale inheritance + flipY = true does not work as intended."
Repro http://esotericsoftware.com/forum/download/file.php?id=3559

The arm bone has skew on it in the default animation. That plus flipY set to true will result in this

![https://libgdx.badlogicgames.com/uploads/Screen%20Shot%202017-07-19%20at%2011.33.27%20AM-Wq72j5VMXQ.png](https://libgdx.badlogicgames.com/uploads/Screen%20Shot%202017-07-19%20at%2011.33.27%20AM-Wq72j5VMXQ.png)

When this is the

[2017-07-19 09:41] badlogic commented on #951
[Bone:210](https://github.com/EsotericSoftware/spine-runtimes/blob/3.6/spine-libgdx/spine-libgdx/src/com/esotericsoftware/spine/Bone.java#L210) is wrong, this only works if `a,b,c,d` form an ortho basis, which is not the case if shearing is applied.

[2017-07-19 09:50] badlogic commented on #939
This is a bug in all Spine runtimes, flipping and shear don't work together as they should. @aram-ahak I opened a new issue here https://github.com/EsotericSoftware/spine-runtimes/issues/951

[2017-07-19 09:50] #939 closed, assigned to badlogic

[2017-07-19 11:49] badlogic commented on #951
If flip is set on skeleton, then root encodes flipping. However, in `noScale`, `noScaleOrReflection` case, that root flipping is smoked when we reconstruct parent local y-axes. We need to flip parent local y-axes manually in that transformation mode, as it is reconstructed from ortho normal basis, and does not encode flipping anymore.

[2017-07-19 11:51] badlogic commented on #951
- [x] spine-libgdx

---
- [x] spine-csharp
- [x] spine-xna
- [x] spine-monogame
- [x] spine-unity
- [x] spine-tk2d

---
- [x] spine-c
- [x] spine-sfml
- [x] spine-cocos2d-objc
- [x] spine-cocos2dx
- [x] spine-ue4

---
- [x] spine-ts core
- [x] spine-ts webgl
- [x] spine-ts canvas
- [x] spine-ts threejs

---
- [x] spine-as3
- [x] spine-starling

---
- [x] spine-lua
- [x] spine-love
- [x] spine-coro

[2017-07-19 12:02] #951 closed, assigned to NathanSweet, badlogic

[2017-07-19 12:04] badlogic commented on #939
@aram-ahak i've fixed the issue you ran into, please update your runtime copy. See #951

[2017-07-19 12:06] badlogic commented on #949
Would setting start/end mix for an animation overwrite mix durations set for animation pairs?

[2017-07-19 12:23] badlogic commented on #948
That's actually a pretty good solution! It works for both the Spine and TexturePacker regions, including the Spine trimming. I wouldn't be concerned about performance to much, this method is only used when regions are loaded from JSON. I've merged this manually with some touch ups. Thanks!

[2017-07-19 12:24] #948 closed, assigned to badlogic

[2017-07-20 11:05] pharan commented on #950
Thanks for reporting! I was so sure that was fixed.

[2017-07-20 11:06] #950 closed, assigned to pharan

[2017-07-21 13:55] badlogic commented on #947
Closed via https://github.com/EsotericSoftware/spine-runtimes/commit/a5d2519f862bac650d5e67aff65e53d529db3813

[2017-07-21 13:55] #947 closed, assigned to badlogic

[2017-07-21 14:46] #937 closed, assigned to badlogic

[2017-07-21 14:47] badlogic commented on #937
Bug was in Triangulator, mistranslated `break outer`

[2017-07-24 09:52] gamedevcouple commented on #943
this would be the single most useful addition in ages to the program.

the ability to sequence animations with gameplay and audio and scrub through would  reduce code-bloat in animation state machine scripts and AI scripts, and open up a world of development to designers and artists.

[2017-07-25 07:20] pharan commented on #943
There's no argument there. And we have been anticipating this API release for more than a year.

But the Playables API currently seems to be more indirect and convoluted and anticipated. (some measures they took to improve performance)
And they've already said it's going to change very soon.

We've already got the most basic thing working, no problem. But a lot of the multi-track, mixing and edge

[2017-07-25 09:04] badlogic opened #953 "[xna] Make SkeletonRenderer compatible with SpriteBatch"
See http://esotericsoftware.com/forum/Monogame-Spine-Draw-Order-9061

[2017-07-25 14:04] subzero911 opened #954 "[Unity] Manual is unclear"
1. Add a documentation for Mecanim SkeletonAnimator API.
I don't understand how to catch custom events via SkeletonAnimator instead of SkeletonAnimation.
2. Add all possible attributes (like [SpineEvent]) documentation and usecases.
3. Some manual pages are available only through cross-links in the text. And not presents in a table of contents. Like this: http://ru.esotericsoftware.com/spine-unity

[2017-07-25 15:56] pharan commented on #954
The docs are currently in flux, as is the implementation of SkeletonAnimator with some adaptations with the new 2017.1 API.

SkeletonAnimator tries to do things the way Unity does, and uses Unity Animation Events on the dummy AnimationClips. https://docs.unity3d.com/Manual/animeditor-AnimationEvents.html
ie. You need to write a method on the script with the same name as the event defined in Spine.

[2017-07-27 09:17] bosnian commented on #943
@pharan When can we expect the release with Timeline support(roughly)?

[2017-07-28 07:11] pharan commented on #943
VERY ROUGHLY, likely before the year ends.
Can't give a more specific estimate currently.

[2017-07-28 10:01] #954 closed, assigned to nobody

[2017-07-31 06:00] yjgaia opened #956 "[spine-ts][canvas] Canvas renderer can't handle scaled texture atlases"
![spine-bug](https://user-images.githubusercontent.com/1523129/28764031-60030586-75fd-11e7-9902-97909e0512f2.png)

When ‘Scale’ of ‘Output’ of ‘Texture Packer Settings’ in Spine Export setting is modified, an exported image does not show properly, like the left image above.
If `triangleRendering` is set to `true`, an exported image shows properly as the right image above, but I would not use `tria

[2017-07-31 09:21] badlogic opened #957 "[runtimes] PathConstraint divides by 0 if setup length of bone is 0 and spacing is length based"
- [x] spine-libgdx

---
- [x] spine-csharp
- [x] spine-xna
- [x] spine-monogame
- [x] spine-unity
- [x] spine-tk2d

---
- [x] spine-c
- [x] spine-sfml
- [x] spine-cocos2d-objc
- [x] spine-cocos2dx
- [x] spine-ue4

---
- [x] spine-ts core
- [x] spine-ts webgl
- [x] spine-ts canvas
- [x] spine-ts threejs

---
- [x] spine-as3
- [x] spine-starling

---
- [x] spine-lua
- [x] spine-love
- [x] spine-coro

[2017-07-31 09:29] #957 closed, assigned to badlogic

[2017-07-31 10:21] vzlomvl opened #958 "[csharp] PathConstraint.cs line 94: missing ";", line 95 missing "f"."
float setupLength = bone.data.length
if (setupLength == 0) setupLength = 0.000000001;

to

float setupLength = bone.data.length;
if (setupLength == 0) setupLength = 0.000000001f;

[2017-07-31 11:12] badlogic commented on #958
Mea culpa, fixed!

[2017-07-31 11:12] #958 closed, assigned to badlogic

[2017-07-31 13:25] badlogic opened #959 "[c] AttachmentTimelines don't trigger properly when mixing multiple animations on a track"
See repro from Kirill via email.

[2017-07-31 13:27] #959 closed, assigned to badlogic

[2017-08-02 10:47] #956 closed, assigned to badlogic

[2017-08-03 07:49] ShuraLiu opened #960 "[cocos2d-x]SkeletonRenderer misses parent's update function"
the SkeletonRenderer class misses Node::update(delta) in it's update function, which means  it's components will not run update.

[2017-08-03 09:12] badlogic opened #962 "[ue4] Can't subclass components, linker complains"
http://esotericsoftware.com/forum/UE4-unresolved-external-symbol-spFloatArray-dispose-9106

[2017-08-03 09:22] #960 closed, assigned to badlogic

[2017-08-03 09:23] badlogic commented on #960
Thanks, fixed!

[2017-08-09 17:59] shahasad78 commented on #728
Looking forward to seeing this implemented. Will buy a spine license once it works with Godot

[2017-08-09 18:35] ambethia commented on #728
Godot 3.0 alpha1 is out now. ;)

[2017-08-10 16:40] hardsetting opened #965 "[csharp] entry.trackEnd set to float.MaxValue prevents trigger of AnimationState.End"
I updated spine runtimes of my project to the latest version (git cloned yesterday) and I noticed that the animation callbacks I was using started behaving weirdly.

Namely, the AnimationState.End of the last animation in the track is never triggered. I noticed instead that the AnimationState.Completed is called as expected (according to [this](http://esotericsoftware.com/spine-unity-events)).

Af

[2017-08-10 17:32] hardsetting commented on #965
Actually using the commented line I suggested yields yet stranger results.

In my case I got the expected behavior back by changing
[code]
to
[code]

that works for me because I always have a single non-looped animation in the track.

[2017-08-13 20:47] pharan commented on #965
This was a change in 3.4, I think.
Currently, animations(in a TrackEntry) in AnimationState don't get cleared until you clear it manually (`ClearTrack(x)`) or you specify TrackEnd. This applies to all runtimes.

Could you say in what way the commented code "yields yet stranger results"?

"track time" and "animation time" are technically on two different scales so you may get unexpected results if

[2017-08-14 13:31] sbrednikhin commented on #959
Looks like you fix is not completely correct. Java code skips one iteration of outer loop, but your variant skips all last iterations.
something like:
[code]
would be better.

[2017-08-15 18:27] badlogic opened #967 "[sfml] Support premultiplied alpha blending"
See http://esotericsoftware.com/forum/spine-sfml-overrides-custom-BlendMode-9165

[2017-08-17 09:30] #967 closed, assigned to badlogic

[2017-08-17 09:32] badlogic opened #968 "[ue4] Updated to UE 4.17"
Switch to new build system.

[2017-08-17 10:01] sbrednikhin opened #969 "Wrong fix in #959"
Looks like you fix for issue https://github.com/EsotericSoftware/spine-runtimes/issues/959 is not completely correct. Java code skips one iteration of outer loop, but your variant skips all last iterations.
something like:
[code]
would be better.

[2017-08-21 17:39] NathanSweet commented on #965
Sorry you hit this gotcha. We didn't like the looping vs non-looping animations having different behavior when reaching the `trackEnd`. If you want the old behavior you can set `trackEnd` to `animation.duration`. See docs here:
http://esotericsoftware.com/spine-api-reference#TrackEntry-trackEnd

[2017-08-21 17:39] #965 closed, assigned to nobody

[2017-08-22 04:30] pharan opened #970 "[AnimationState] Some problem with mixing out not in order."
This totalAlpha condition seems to be preventing an ended TrackEntry (mixTime > mixDuration) from actually being ended.
https://github.com/EsotericSoftware/spine-runtimes/blob/34086c1f41415309b2ecce86055f6656fcba2950/spine-libgdx/spine-libgdx/src/com/esotericsoftware/spine/AnimationState.java#L147-L151
With this condition in place, it seems to present the problem linked below. Commenting it out re

[2017-08-22 20:53] NathanSweet commented on #970
@pharan How can I see this with the ref impl? I tried:
[code]
I don't see meshes that aren't reset to the setup pose, though I don't really know what I'm looking for. I also tried using `setAnimation` with sleeps between them.

[2017-08-23 00:43] pharan commented on #970
@NathanSweet  I actually ran into the same problem.

vzlomvl mistyped.
[code]

That should repro it.
The first three animations just demonstrate a case where it isn't broken.

[2017-08-23 10:16] #970 closed, assigned to NathanSweet

[2017-08-23 10:17] NathanSweet commented on #970
Ah, thanks @pharan! I think I have a good fix.

[2017-08-23 11:11] pharan commented on #949
Logically, I think the checks would be in this order/priority:
1. animation pair (animationA->animationB)
2. to wildcard (animationA->*)
3. from wildcard (* -> animationB)
4. default mix

On the other hand... that already sounds messy.

[2017-08-24 09:20] badlogic commented on #969
The fix is correct. Labeled gotos in Java work differently than gotos in C. A Java goto will skip the block marked by the label.

[2017-08-24 09:20] #969 closed, assigned to badlogic

[2017-08-24 09:22] badlogic opened #971 "[runtimes] Port AnimationState fix"
See https://github.com/EsotericSoftware/spine-runtimes/commit/c8d595565b2fd982ca27ef4d04dabc1366fe8026

- [x] spine-libgdx

---
- [x] spine-csharp
- [x] spine-xna
- [x] spine-monogame
- [x] spine-unity
- [x] spine-tk2d

---
- [x] spine-c
- [x] spine-sfml
- [x] spine-cocos2d-objc
- [x] spine-cocos2dx
- [x] spine-ue4

---
- [x] spine-ts core
- [x] spine-ts webgl
- [x] spine-ts canvas
- [x] spine-ts

[2017-08-24 09:34] #971 closed, assigned to badlogic

[2017-08-24 09:51] badlogic commented on #892
Posted a possible solution here https://forums.coronalabs.com/topic/69888-is-it-possible-in-corona-walking-simulation-with-physics-and-smooth-movement/?p=364581

Many limitations!

[2017-08-24 10:14] sbrednikhin commented on #969
https://docs.oracle.com/javase/tutorial/java/nutsandbolts/branch.html
"A labeled continue statement skips the current iteration of an outer loop marked with the given label."
Should I believe it?

Maybe in your fix ```outer:``` must be in inner scope, like this:
[code]

[2017-08-24 11:35] supermrji opened #972 "spine-webGl how can I totally remove my obj"
I use `spine-webGl` runtime .
I want to remove played animation spine item ,
And I set a empty frame `animationState.update(undefined);`

It seems disable but memory are still taken .
Can someone tell me how to remove spine-webGL item ?

[2017-08-27 20:45] mhazaru commented on #762
Would love to see this as well. Construct makes 2D stuff very easy to do, but it just needs a good animation engine like Spine to go with it.

[2017-08-28 08:48] #972 closed, assigned to nobody

[2017-08-28 08:50] badlogic commented on #972
Passing undefined to the `update` method is not the solution you are looking for. With the spine-webgl runtime, you are in full control of when to render what. Simply don't render the skeleton via `SkeletonRenderer` if you don't want it to show up in your canvas, and make sure to clear the canvas via WebGL (`glClear`), to override the last rendered canvas content.

Please post questions regarding

[2017-08-29 09:37] badlogic commented on #968
Closed via https://github.com/EsotericSoftware/spine-runtimes/commit/e02f8b7a1cdb4634d13859e7b00037b5230311a4

[2017-08-29 09:37] #968 closed, assigned to badlogic

[2017-08-29 11:13] badlogic commented on #962
This appears to be impossible. UBT won't generate exported symbols for C functions either using the `MODULE_API` macro, or explicitly using `__declspec` on MSVC. The resulting `.lib` file never includes the exported C function symbols.

[2017-08-29 11:20] badlogic commented on #962
Seems to work with explicit `__declspec`, needed to clean intermediates after code change. Doesn't work using `MODULE_API` macro.

[2017-08-29 13:17] badlogic commented on #962
Introduced `dll.h` in spine-c, defines `SP_API`. Every spine-c function needs to be prefixed with this macro in its header file. For UE4 the SPINEPLUGIN_API is evaluated and eventually replaced with the correct ``__declspec`. For users wanting to compile Spine into a dll on Windows, users can simply set `SPINEPLUGIN_API` to `DLLEXPORT` for dll compilation and ``DLLIMPORT` for linking to the dll fr

[2017-08-29 13:21] badlogic commented on #962
Closed via https://github.com/EsotericSoftware/spine-runtimes/commit/91d44b29fd71be3e3a1778def4f2a281603f2e7c

[2017-08-29 13:21] #962 closed, assigned to badlogic

[2017-08-31 09:47] supermrji commented on #972
Thanks a lot .
I will try it .

[2017-08-31 14:50] Bloodwork commented on #968
Is this already available publicly via cloning the runtimes?

[2017-08-31 16:51] badlogic commented on #968
Yes, in both the 3.6 and 3.7-beta branches!

On Aug 31, 2017 4:50 PM, "Bloodwork" <notifications@github.com> wrote:

[2017-08-31 17:45] Bloodwork commented on #968
Then I'm confused. I'm using the latest UE4 4.17.1 and I get this error: http://take.ms/ap1ER

[2017-08-31 22:27] MrMengis commented on #894
We are experiencing this problem on macOS 10.12.6 with Unity 5.6.3p1. Can someone explain how to disable the "Metal API in Editor" please?

*Update: for anyone curious the answer is to change {project root folder}/ProjectSettings/ProjectSettings.asset
from:
  metalEditorSupport: 1
to:
  metalEditorSupport: 0

[2017-09-01 08:17] pharan commented on #894
You could have also accessed it in one of the preferences menu inspectors. I forget which one, I'm currently not on a mac.

[2017-09-01 17:25] MrMengis commented on #894
Unfortunately, using the editor was not an option as the project could not be opened using the metal API without significant changes to the Assets/ data. A 1 character change in a single text file seemed the less invasive workaround.

[2017-09-04 13:07] badlogic commented on #968
Could you try opening the example project in this runtime repo? I'm running that without problems in 4.17.1. If you only copied the SpinePlugin and SpineEditorPlugin, please also make sure to copy our fork of RuntimeMeshComponent to your project.

[2017-09-04 13:36] badlogic opened #981 "Investigate C++11 runtime"
While our spine-c runtime is pretty good, it is still cumbersome to use from within C++. Ideally, we'd have a C++11 based runtime compatible with as many platforms as the C89 based runtime.

- [ ] Define platforms to support
- [ ] Check C++11 support of toolchains for each platform
- [ ] Come up with C++11 coding subset and standard that works on each platform
- [ ] Implement runtime is subset is

[2017-09-05 05:17] gregmax17 opened #982 "[js] Clean up"
Is there was to destroy/set all references to null once the mesh is removed from the scene?

[2017-09-05 07:26] badlogic commented on #982
Could you elaborate? spine-ts doesn't have the concept of scene, but instead is an immediate mode renderer, where you issue drawing commands every frame.

[2017-09-05 09:50] badlogic commented on #982
Closing this out, will reply to you here if you get back to me. Going forward, please use the forums at https://esotericsoftware.com/forum for questions. The issue tracker here on GitHub is meant to report bugs in one of the Spine runtimes.

[2017-09-05 09:50] #982 closed, assigned to nobody

[2017-09-06 08:08] badlogic commented on #762
With the C3 release coming closer, and with Scirra planning on adding an editor SDK, we decided to start working on a C3 plugin, instead of C2.

[2017-09-07 14:17] ZimM-LostPolygon commented on #941
It's entirely possible. The masking system uses stencil buffer:
https://forum.unity3d.com/threads/sprite-mask-inner-workings.492410/#post-3211401
Basically, you'll need to modify the shader, that's it. Not sure if this should be included into the spine-unity runtime itself, though.

[2017-09-07 16:01] pharan commented on #941
Thanks for the info! Super helpful.
Also, feel free to chime in on the other Unity 2017 stuff! Any help is appreciated, if you happen to be poking around those areas.

What's weird is that (in the above gif) I was using the unmodified `Spine/Skeleton` shader on a SpriteRenderer and the masking still functioned correctly. How did that work?

[2017-09-07 17:03] ZimM-LostPolygon commented on #941
Perhaps Unity is doing some broken magic internally if no Stencil section is defined in the shader?

[2017-09-08 02:42] pharan commented on #941
I suppose, under the hood, stencil properties you type in ShaderLab are really just instructions for the UnityEngine's C++ side to call the appropriate graphics library stencil function calls. Maybe there's no reason why their components can't just call those stencil functions regardless of what the ShaderLab code says. No magic.

Anyway... I just added this part Sergi mentioned:
[code]
to the Spi

[2017-09-08 02:49] pharan commented on #941
I'll update this later with a version that exposes the stencil properties as material inspector fields.
https://gist.github.com/pharan/eb758e46630ad7ae2234227480922c21

--------------

Done
![ghhgk](https://user-images.githubusercontent.com/1911082/30245964-95d30982-961d-11e7-9040-b1e12c764690.gif)
But the shader needs a material inspector to nicely show the compare function.

[2017-09-09 00:02] ghost commented on #981
I'm currently integrating the spine-c runtime into my C++03 game framework now, which targets Windows 7+, Mac OS X 10.8+, iOS 8.0+, UWP 10, and Android 16+. I plan on leveraging rapidjson to handle file loading since it is already being used in my framework. I'm thinking I will be porting the whole c runtime into a C++ runtime for my use.

Just thought I would bring this up, though it sounds like

[2017-09-11 12:59] torbenratzlaff opened #983 "[corona] Shearing + disabled scaling inheritance leads to wild flickering"
If you create a bone for which you disable the scaling inherintance and apply an animation that uses shearing, the attached graphics will flicker wildly when used in the Corona SDK example.

**Steps to reproduce:**
1. Create a new bone
2. Attach a graphic to the bone
3. Disable the "inherit scale" checkbox for the bone
4. Create a new animation in which you use the shearing transformation (two key

[2017-09-11 13:24] badlogic opened #984 "[cocos2dx] Clipping doesn't work if clip ends before last slot"
See http://esotericsoftware.com/forum/Clipping-features-is-not-avialible-in-cocos2d-x-runtime-9260

[2017-09-11 13:25] #984 closed, assigned to badlogic

[2017-09-11 13:35] badlogic opened #985 "[cocos2dx] Parts of animation disappearing when using key cleanup tool"
See email by ForestRing Games.

[2017-09-11 14:40] badlogic commented on #762
I've now looked into this for a few days. A few observations which lead me to temporarily freeze development of this runtime. If anyone has any input or solutions to the below problems, let me know!

- The SDK currently doesn't support editor plugins. We can not render Spine skeletons in the editor.
- The rendering API isn't very well documented. I found a few other OSS plugins that do custom rend

[2017-09-11 15:27] #983 closed, assigned to badlogic

[2017-09-11 15:27] badlogic commented on #983
Thanks for reporting, fixed in 3.6 and 3.7-beta branch!

[2017-09-12 04:26] zero19th opened #986 "Test"

[2017-09-12 08:16] badlogic commented on #986
Please don't abuse the issue tracker or we'll have to ban you from interacting with this repository.

[2017-09-12 08:16] #986 closed, assigned to nobody

[2017-09-12 12:50] torbenratzlaff opened #987 "[corona / lua] skeletons are updated even if there is no animation/effect playing"
In the current version skeletons are completly updated every time you call the update functions like in the example:
`state:update(delta)
state:apply(skeleton)
skeleton:updateWorldTransform()`

Even if there is no animation playing (skeleton has been set to setup pose or last animation is not looped) the skeleton is updated as if changes had happend. This is a big performance issue.

**Here are so

[2017-09-12 13:02] torbenratzlaff opened #988 "[corona] Slot colors ar darkened by low alpha values"
The current implementation of colering graphics darkens those with a low alpha value.
This appears, because a slots color values are multiplied with its alpha value, which leads to darker colors.

This can be solved by changing the block of code in the updateWorldTransform function in the spine-corona lua file.

Old
`color:set(skeletonColor.r * slotColor.r * attachmentColor.r * multiplier,
		skele

[2017-09-12 19:09] NathanSweet commented on #987
We normally assume a skeleton has been updated every frame. It's unusual to not play any animation, usually there is idle. It's too hard to know if a skeleton was changed, but it could be reasonable to provide a property which disables updates. If you know your skeleton is dormant, you can set the property and clear it when you want updates again.

[2017-09-13 07:09] badlogic commented on #987
The problem with tracking whether there were state changes or not is that they usually are quite expensive themselves. We've previously considered exactly that, but ultimately decided against automatic state change tracking for the reason just outlined.

You can register listeners with `AnimationState` and `TrackEntry` to get an event when animation(s) are complete. The Corona Skeleton "class" doe

[2017-09-13 07:09] #987 closed, assigned to badlogic

[2017-09-13 07:13] badlogic commented on #988
Could you provide me with an example for this issue? The multiplier is used to discern between premultiplied alpha and non-premultiplied alpha.

[2017-09-14 08:21] badlogic opened #990 "[runtimes] API to add all attachments of a skin to another (empty/new) skin"
See http://esotericsoftware.com/forum/Generating-a-skin-at-runtime-libGDX-9092?p=41209#p41209

[code]

See also http://esotericsoftware.com/forum/Combinig-skins-in-C-runtime-9274

- [ ] spine-libgdx

---
- [ ] spine-csharp
- [ ] spine-xna
- [ ] spine-monogame
- [ ] spine-unity
- [ ] spine-tk2d

---
- [ ] spine-c
- [ ] spine-sfml
- [ ] spine-cocos2d-objc
- [ ] spine-cocos2dx
- [ ] spine-ue4

---
-

[2017-09-14 08:27] badlogic opened #991 "[c] Add spSkin_dispose that does not dispose attachments"
This is required for creating runtime skins that contain pointers to attachments from other skins.

See http://esotericsoftware.com/forum/Combinig-skins-in-C-runtime-9274

[2017-09-14 08:34] badlogic commented on #990
See also https://github.com/EsotericSoftware/spine-runtimes/issues/841. Not sure if we should tackle this shallow copy use case or the full monty.

[2017-09-14 08:34] badlogic commented on #991
See also https://github.com/EsotericSoftware/spine-runtimes/issues/841

[2017-09-14 12:15] NathanSweet opened #992 "Check proper tint black blending for non-PMA images"
We should verify non-PMA blending is incorrect when using tint black. Consider a single formula to combine PMA and non-PMA cases, where `u_pma` is a uniform which is 1 for PMA and 0 for non-PMA:
[code]

[2017-09-14 12:24] ivanpopelyshev commented on #992
Ok, so, which branch should i make PR against?

Whole idea of two-tint looks like that: We have to map [0..1] color into [dark..light], independent from alpha. Alpha works like always. There's no "dark alpha" nor"light alpha", just one alpha.

# Premultiplied

BlendMode : (1, 1-src_alpha)
v_light, v_dark are premultiplied by alpha, u_pma is 0.0 and is packed as a "v_dark.a" but it has no logic rel

[2017-09-14 12:31] ivanpopelyshev commented on #992
Also, you guys are much better than me in testing, I'm just a math guy. If we succeed, I'll add it to pixi.js and may be I add it to CanvasRenderer too! Also we'll try bunnymark two shaders, may be we can use two-tint shader by default.

Btw, tint can be packed into 4 bytes, and dark-light into 8. Right now runtime is packing it into 4 floats, which is not optimal.

[2017-09-14 15:06] ivanpopelyshev commented on #992
Ok, now PMA is 1.0 for premultiplied. Please check it in PR.

[2017-09-14 19:06] kcapelli-assf commented on #943
Hey Pharan!

My team is loving Spine: we've never gotten up to speed so quickly with a tool. Thanks for such an intuitive interface!

I wanted to follow up on this topic: we're in prototype right now (writing tools and defining pipelines) and planning to go into production early next year. Timeline is a necessary part of our pipeline, and Spine almost perfectly solves our particular animation need

[2017-09-15 00:20] pharan commented on #943
We can release a unitypackage of the work-in-progress version so you can prototype with it and give us feedback. In its current form, it should be usable enough for prototypes. Though this has the risk of breaking all your stuff in the future IF we do a major refactor.

I'll probably also put it in a separate repo somewhere before it becomes officially part of the spine-unity runtime.

The big kno

[2017-09-15 00:26] pharan commented on #943
spine-unity-experimental
Spine Timeline for spine-unity 3.6
2017-09-15
http://esotericsoftware.com/files/runtimes/unity/spine-unity-experimental-spine-timeline-3_6-2017-09-15.unitypackage

[2017-09-15 08:58] badlogic opened #994 "[ue4] SP_API redefinition errors on Android"
See http://esotericsoftware.com/forum/UE4-Game-Will-not-compile-android-9283

For whatever reason `-Werror,-Wmacro-redefined` is passed to the compiler...

[2017-09-15 09:00] #994 closed, assigned to badlogic

[2017-09-15 09:05] badlogic opened #995 "[webgl] fix demos on mobile, to many WebGL contexts"
We have 11 WebGL demos here: http://esotericsoftware.com/spine-demos. Each renders to its own canvas, and thus requires its own WebGL rendering context.

Desktop browsers seem to limit the number of active WebGL rendering contexts to 16, on mobile that number seems to be device specific. Some support less than the 11 we require for our current demo page, resulting in some demos not showing up, as

[2017-09-15 09:16] badlogic commented on #995
Commits fixing this issues:

https://github.com/EsotericSoftware/spine-runtimes/commit/ff1a81bab32767248f5c9704c20cdd6e871287db
https://github.com/EsotericSoftware/spine-runtimes/commit/4fe53ac8568669aaf07a7fb5eca29c909233a20c
https://github.com/EsotericSoftware/spine-runtimes/commit/cb9e025390b53f71b9112cf73aa8b12b3cb05a8e

Here's how it works. The demos are laid out vertically on the page. Only

[2017-09-15 09:18] #995 closed, assigned to badlogic

[2017-09-18 12:42] badlogic commented on #985
Usage error.

[2017-09-18 12:42] #985 closed, assigned to badlogic

[2017-09-18 12:57] badlogic commented on #990
Closed in favor of #841

[2017-09-18 12:57] #990 closed, assigned to badlogic

[2017-09-18 12:58] badlogic commented on #991
Closed in favor pf #841

[2017-09-18 13:25] #991 closed, assigned to badlogic

[2017-09-18 14:01] pharan commented on #841
Good docs.

"DEEP COPY"
Sorry, just read my old post again. For "deep copy" here, I guess I just meant copy-constructors for attachment types, which we don't have officially.
This is for when users need to make remapped versions of attachments/new linked meshes individually.
I think spine-libgdx used to have copy constructors but they were really just for the editor.

The case where you create new

[2017-09-20 02:52] chaixl commented on #894
Having the same issue

[2017-09-20 04:17] EkoPratomo opened #996 "[Unity] Animation preview of SkeletonDataAsset in inspector is broken if previewed after another animation was played and stopped"
Solution: call SetToSetupPose when playing animation preview of SkeletonDataAsset in inspector if an animation was played and stopped

		void PlayAnimation (string animName, bool loop) {
			m_animEvents.Clear();
			m_animEventFrames.Clear();

			if (!m_playing) {
				m_skeletonAnimation.skeleton.SetToSetupPose();
			}
			m_skeletonAnimation.state.SetAnimation(0, animName, loop);

			Spine.Animatio

[2017-09-20 13:44] ledvinam commented on #943
Hi Pharan, is there official github for spine timeline features? M.

[2017-09-22 12:51] ivanpopelyshev opened #997 "Humor: Order of elements in affine matrix"
![OMG](https://sun9-3.userapi.com/c840137/v840137965/2566b/iTt8D53fbrY.jpg)

You guys use "adobe russian l10n" order in spine-ts. It differs from matrices in Pixi, Flash and even apple Swift.

[2017-09-22 14:11] pharan commented on #997
That's funny.

I've never seen people order it the way it says in the EN docs.
I learned it in school/books, and in various tutorials and videos on the internet as:
[code]
'cause the rote memorized formula was always
`ax + by`
`cx + dy`

I can't find the Swift docs that show it as you described though. That would be funny.

[2017-09-22 18:00] kcapelli-assf commented on #943
Pharan, thanks so much! Sorry for the tardy reply, I've been out sick and then catching up. My engineers are approaching this soon and I'm directing them to this thread and the package plus the SPINE documentation.

[2017-09-22 20:10] ivanpopelyshev commented on #997
the idea is that you have three vectors: Axis X (a,b) , Axis Y (c,d) and offset (tx, ty), that's three columns :) In your case its two rows and one column which is kinda strange.:

[code]

[2017-09-23 16:20] pharan commented on #997
It's hackish but also pretty standard and common.
What it's doing is actually using 3D skew to represent 2D translation.
In the same way, 3D engines would use a 4x4 matrix, using 4D skew to represent a 3D translation.
I imagine it's done this way because it's more efficient on the GPU where the full-on matrix computations would fit right in.

At least, that's what I understand of it.

Spine code j

[2017-09-23 18:02] ivanpopelyshev commented on #997
@pharah its strange because (a,b) is a row, but (tx, ty) is a column :))) As for general knowledge, I even know how to make perspective with only 3x3 matrix (https://github.com/pixijs/pixi-projection)

Also we are uploading data in gpu by columns.

[2017-09-23 19:36] sorthoth opened #998 "bad break"
https://github.com/EsotericSoftware/spine-runtimes/blob/9e97eb2bfae379a3eea41e50301b7c896dc93413/spine-c/spine-c/src/spine/AnimationState.c#L924

[2017-09-23 19:36] sorthoth opened #999 "bad outer"
https://github.com/EsotericSoftware/spine-runtimes/blob/9e97eb2bfae379a3eea41e50301b7c896dc93413/spine-c/spine-c/src/spine/AnimationState.c#L929

[2017-09-24 06:03] badlogic commented on #999
No, this is a correct translation of the reference implementation https://github.com/EsotericSoftware/spine-runtimes/blob/3.6/spine-libgdx/spine-libgdx/src/com/esotericsoftware/spine/AnimationState.java#L729

[2017-09-24 06:03] #999 closed, assigned to badlogic

[2017-09-24 06:03] badlogic commented on #998
No, this is a correct translation of the reference implementation https://github.com/EsotericSoftware/spine-runtimes/blob/3.6/spine-libgdx/spine-libgdx/src/com/esotericsoftware/spine/AnimationState.java#L729

[2017-09-24 06:03] #998 closed, assigned to badlogic

[2017-09-24 06:04] badlogic commented on #997
This is a humour free zone! :)

[2017-09-24 06:04] #997 closed, assigned to nobody

[2017-09-24 15:14] sorthoth opened #1000 "incorrect outer label in c language"
https://github.com/EsotericSoftware/spine-runtimes/blob/a8f50bdeccaedffe55a792b15ca39ad6a80a3220/spine-libgdx/spine-libgdx/src/com/esotericsoftware/spine/AnimationState.java#L728

	public static void main(String[] args) {
		outer:
		for (int i = 0; i < 5; i++)
		{
			if (i == 3)
				continue outer;
			System.out.println(i);
		}
	}
/* output */
0
1
2
4

https://github.com/EsotericSoftware/spine-run

[2017-09-24 22:46] NathanSweet commented on #1000
It looks like this was ported as `break outer` while the ref impl has `continue outer`.

We could consider label naming conventions to make the intention clear, eg `goto break_outer` and `goto continue_outer`. Then we'd always use this boilerplate (omitting a label if not needed):
[code]
This could also be done in C#, @pharan.

[2017-09-24 22:47] NathanSweet commented on #1000
Alternatively:
[code]
Though, it is kind of nice to have `continue_outer` in the same place as the ref impl (before the loop). But then it's uglier to move out the for loop initializer. I'm fine with either way.

[2017-09-25 06:30] shahasad78 commented on #728
I know the Kestrel Moon people have been on the forums trying to enlist help to port Creature to 3.0

[2017-09-25 08:55] aienabled opened #1001 "C# runtime stackoverflow crash"
I just noticed that this code:
[code]
will throw a stackoverflow exception sometime later. And it's really hard to debug as it doesn't print the stacktrace (a common problem for stackoverflow exception).

I understand the code above might make no sense (and now I simply do `currentTrack.MixTime = 1;` and it works perfectly well) but still it would be better if Spine Runtime will throw a proper exc

[2017-09-25 10:07] badlogic commented on #992
I've tested the PR by @ivanpopelyshev and it works as intended for tint black in both PMA and none PMA mode. However, this issue is about verifying that non-PMA tint black is broken. @NathanSweet any pointers on how to do that?

[2017-09-25 10:14] pharan commented on #1001
Thanks for reporting!
This likely applies to all runtimes, not just spine-csharp.
We'll look into a good fix or warning, whichever makes sense.

My initial suspicion is that AnimationState isn't able to dispose of old playing animations (TrackEntry objects) because mixTime never got the chance to become > mixDuration.
https://github.com/EsotericSoftware/spine-runtimes/blob/c1538b113bbace55e858b589

[2017-09-25 11:07] ivanpopelyshev commented on #992
something like TEXTURE=0x707070, TEXTURE_ALPHA=0.5 with DARK=0x707070 will show the difference in both pma and non-pma modes. Current formula is just wrong for both cases.

[2017-09-25 12:29] badlogic commented on #992
I wrote a quick test https://github.com/EsotericSoftware/spine-runtimes/blob/3.6/spine-ts/webgl/example/test-pma-tintblack.html

It loads two textures, one non-pma, one pma. It then renders either one of the textures using pma or non-pma blending as well as the light and dark colors you can specify in hex in the first two fields.

Seems non-pma tint black is indeed broken:

Outputs (see form state

[2017-09-25 12:42] badlogic commented on #981
I'm not hellbound on needing C++11 features, C++03 may suffice. From what I read so far, C++03 may be the only thing that is also guaranteed to work on consoles. We don't have access to any console SDKs, so can't confirm this atm.

[2017-09-25 12:47] ivanpopelyshev commented on #992
I'm making special texture for it.

[2017-09-25 12:51] badlogic commented on #992
Sorry, I was able to see the brokenness. My PMA code in the test was wrong :D

[2017-09-25 12:52] ivanpopelyshev commented on #992
We're making the texture for you anyway.

[2017-09-25 13:02] badlogic commented on #992
I can confirm non-PMA plus tint black broken (see screenshot comparison above), and your shader fixing it for non-PMA.

[2017-09-25 13:05] badlogic commented on #992
I've updated the test in the repo, lets you choose between old shader and new one. @NathanSweet non-PMA plus tint black was indeed broken, I suggest we update all tint black capable runtimes with Ivan's shader. The additional dark color alpha preparation is less expensive than setting a uniform for runtimes that already set dark color as a 32-bit packed rgba value, so I'd go with that.

[2017-09-25 13:17] ivanpopelyshev commented on #992
Did you think about using UNSIGNED_BYTE for those two vec4?

That's my shader in pixi plugin: https://github.com/gameofbombs/pixi-heaven/blob/master/src/twotint/sprites/SpriteHeavenRenderer.ts#L5 , https://github.com/gameofbombs/pixi-heaven/blob/master/src/twotint/ColorTransform.ts#L146

[2017-09-25 13:18] badlogic commented on #992
I did, but our meshes aren't setup to store packed data (yet).

On Sep 25, 2017 3:17 PM, "Ivan Popelyshev" <notifications@github.com> wrote:

[2017-09-25 13:26] badlogic commented on #988
@torbenratzlaff just wanted to bump this. do you have a reproduction case for me to verify the issue?

[2017-09-25 13:32] ivanpopelyshev commented on #992
Well, I gave you the code, it has to be enough. I can create separate issue or PR for that thing.

[2017-09-25 13:33] ivanpopelyshev commented on #992
However its up to you whether to do it - it makes code less readable.

[2017-09-25 13:40] #1000 closed, assigned to badlogic

[2017-09-25 13:41] badlogic commented on #1000
@NathanSweet that would considerably make porting of this error prone construct easier. I think we can postpone "backporting" the convention for now, but do it for new code in the reference implementation. If you want it backported, let me know.

@sorthoth thanks, fixed in 3.6 and 3.7-beta branch.

[2017-09-25 13:46] ivanpopelyshev commented on #992
Ok, that one has wrong line at the right side, but should be enough:
![gray_alpha](https://user-images.githubusercontent.com/695831/30811495-0e04ef48-a211-11e7-896c-93040a86f720.png)

It has different alpha from left to right, and different colors from top to bottom.

[2017-09-25 13:46] NathanSweet commented on #1000
There's only maybe 5 gotos, would be nice for them to all be pretty.

[2017-09-25 13:52] badlogic opened #1002 "[runtimes] Convert labeled gotos to new convention"
See https://github.com/EsotericSoftware/spine-runtimes/issues/1000#issuecomment-331745562

Start with ref impl, then port to other runtimes that support some form of goto.

The following gotos need to be fixed up following the new convention:

https://github.com/EsotericSoftware/spine-runtimes/blob/3.6/spine-libgdx/spine-libgdx/src/com/esotericsoftware/spine/AnimationState.java#L742
https://github

[2017-09-25 13:54] badlogic opened #1003 "[runtimes] Port corrected tint black shader"
See https://github.com/EsotericSoftware/spine-runtimes/issues/992

Thanks @ivanpopelyshev

- [x] spine-libgdx

---
- [x] spine-csharp
- [x] spine-xna
- [x] spine-monogame
- [x] spine-unity
- [x] spine-tk2d

---
- [x] spine-c
- [x] spine-sfml (does not support tint black)
- [x] spine-cocos2d-objc
- [x] spine-cocos2dx
- [x] spine-ue4

---
- [x] spine-ts core
- [x] spine-ts webgl
- [x] spine-ts canva

[2017-09-25 13:54] badlogic commented on #992
Cool, thanks! We've decided to go with your math. I'm closing this issue in favor of the porting one here https://github.com/EsotericSoftware/spine-runtimes/issues/1003

[2017-09-25 13:54] #992 closed, assigned to badlogic

[2017-09-25 14:23] ivanpopelyshev commented on #1003
Three patterns for you!

Simple version

![gray_alpha](https://user-images.githubusercontent.com/695831/30813464-2ee9710c-a216-11e7-98a2-e03e76f0734b.png)

All grayscale and alpha, 256x256

![pattern256](https://user-images.githubusercontent.com/695831/30813445-211079f4-a216-11e7-98f7-45afd41810f6.png)

All grayscale and alpha, [1024x1024](https://user-images.githubusercontent.com/695831/30813456-

[2017-09-25 15:02] aienabled commented on #1001
@pharan, sounds right. I'm glad to help. BTW, your deduction skills are great! 👍

I did it every update frame by setting specific animation frame I want to display (depending on the game input (mouse position)). I set `currentTrack.TimeScale` to 0 and as a safety measure against mixing I've unadvisedly added this problematic line `currentTrack.MixTime = currentTrack.MixDuration = 0;`. It started l

[2017-09-25 19:47] ivanpopelyshev commented on #1003
There's no double-tint in canvas so you can just cross it :)

[2017-09-25 21:29] HDANILO commented on #940
Do we have an ETA on this? It would be awesome.

[2017-09-26 10:23] pharan commented on #940
I wouldn't count on it on 2017.1.
There seems to be problems with how Unity Sprite Atlas assets work that we can't use it as a suitable/reliable replacement yet.
We'll see what changes in future Unity versions.

[2017-09-26 15:48] MMVL123 opened #1004 "Please Help..weightedmesh error"
I use spine-csharp and spine-unity from “spine-runtimes3.6” to load my Spine Project,it notice “The requested value 'weightedmesh' was not found”and“Skeleton may have been exported from an incompatible Spine version.”……What should i do？

[2017-09-27 07:55] byron-conroy opened #1005 "[LibGDX Runtime] SkeletonAttachments Incorrectly Flipped"
I have attached a SkeletonAttachment to another skeleton and there appear to be some issues with regards to flipping. All the following screenshots are flipping along the X Axis only.

Both Main skeleton and the attachment not flipped.
![default](https://user-images.githubusercontent.com/9834063/30901882-c92add54-a3ac-11e7-9f9c-853d9525bd05.png)

Main skeleton flipped and the attachment not flippe

[2017-09-27 10:23] badlogic commented on #1004
You are trying to load a project exported from a Spine editor version that is incompatible with your Spine runtime version. Please refer to this for more information http://esotericsoftware.com/forum/Spine-editor-and-runtime-version-management-6534

[2017-09-27 10:23] #1004 closed, assigned to nobody

[2017-09-27 10:24] #1002 closed, assigned to badlogic, pharan

[2017-09-27 10:26] badlogic commented on #988
Can't reproduce. Closing this out.

[2017-09-27 10:26] #988 closed, assigned to badlogic

[2017-09-27 11:45] joelmayer87 commented on #762
I would be very interested in a C3 Plugin for future projects as well :)

[2017-09-27 12:02] pharan commented on #1001
The `currentTrack.TimeScale = 0` was correct for what you were trying to do.

`currentTrack.MixTime = currentTrack.MixDuration = 0;` is a weird thing to do in that case.
I mean, again, you could set it once.
But keeping that mix value, every frame, forever, for all TrackEntries ultimately means you're not letting them mix out. Which is also fine unless you also keep setting new animations and not

[2017-09-27 12:02] #1001 closed, assigned to pharan

[2017-09-27 12:03] #1005 closed, assigned to badlogic

[2017-09-27 12:05] badlogic commented on #1005
Thanks for reporting. I've fixed up SkeletonAttachment to behave like it should, but that required a breaking change.

Skeletons that are attached to another skeleton via a `SkeletonAttachment` now need to be updated via an alternative `Skeleton#updateWorldTransform(Bone)` method. The bone passed to this method is the bone of the parent skeleton to which the child skeleton is attached via the `Ske

[2017-09-27 12:47] MMVL123 commented on #1004
Thank you very much。If I don't change the Spine Version，where can I get the old version of “spine-runtimes” ？I’ve checked version of the project，is 3.2.01……

[2017-09-27 14:05] piotrros opened #1006 "Skeleton binary backward compatibility"
I'm struggling with some binary skeletons.

Graphic designer updated Spine to the latest version and created several new models (for a new game). I couldn't open them (app crashed) in my app so I did runtimes update.

Now they're working just fine, but the old ones (saved in older Spine version) don't work anymore.

My app (on the old model) is crashing on this line (929):

`spSlotData* slotData =

[2017-09-27 14:15] pharan commented on #1006
The problem to solve here is why your old project won't open in the latest Spine.
Compatibility is handled on the project/editor level, and the recommendation is always to keep your editor and runtime versions in sync.

This is especially important when using skeleton binary as that is more likely to change with the introduction of new features.

[2017-09-27 14:26] badlogic commented on #1006
Sorry for the troubles. Here's some more in-depth information on what you can do http://esotericsoftware.com/forum/Spine-editor-and-runtime-version-management-6534

You need to find out what version your old and new models use, then decide on a version all of them need to be converted to. It appears you already decided on converting the old models to the latest format. Please send the project file

[2017-09-27 14:26] #1006 closed, assigned to nobody

[2017-09-27 21:01] ghost commented on #981
Then in that case, I might have a PR for you pretty soon, since I plan on having my C++03 implementation completed here in a few days.

[2017-09-28 08:53] badlogic commented on #981
@sgowen that sounds great! To merge the PR and integrate your contribution into our repo, we need you to sign our [CLA](http://esotericsoftware.com/files/cla.txt) and have it sent to contact@esotericsoftware.com. Sorry for the red tape :/

[2017-09-28 11:00] MMVL123 opened #1007 "Error After using JsonRollback tool."
My 3.2.01 Json can't completely be loaded to Unity.And I try to use JsonRollback tool.
But……
ArgumentException: The requested value 'skinnedmesh' was not found.
System.Enum.Parse (System.Type enumType, System.String value, Boolean ignoreCase) (at /Users/builduser/buildslave/mono/build/mcs/class/corlib/System/Enum.cs:692)
Spine.Unity.Editor.SpineEditorUtilities.GetRequiredAtlasRegions (System.Strin

[2017-09-28 11:04] badlogic commented on #1007
The JsonRollback tool can't update your JSON from 3.2.01 to the latest version. You can find the latest version of the JSON format here http://esotericsoftware.com/spine-json-format

As I said in the other issue, please import your old JSON into the latest Spine editor, then export it again. This way you'll get the latest JSON format. If importing the old JSON into the latest Spine editor does not

[2017-09-28 11:04] #1007 closed, assigned to nobody

[2017-09-28 11:07] MMVL123 commented on #1007
Thank you，and I‘m sorry .Please close this issue...

[2017-09-28 11:08] badlogic commented on #1007
Don't be sorry! We'd love to help as best as we can. Let me know how importing into the editor and reexporting works out for you.

[2017-09-28 14:55] ghost commented on #981
@badlogic No worries! We'll discuss once I get the PR ready.

[2017-09-30 01:32] ZimM-LostPolygon commented on #941
@pharan Problem with this shader is that this way, it will always do the stencil test. There is no way to turn it off except not having the Stencil block. So two shaders and materials are required to cover everything - one with stencil test, and one without.

[2017-09-30 07:57] fechy opened #1008 "[libgdx] Wrong alpha since v3.6.39"
Since v3.6.39, the alphas are wrong, see:
https://gyazo.com/754b05ea887ec09240731d7a4fba8d8d

On the left side is the version before 3.6.39:
Notice the "wave" below the bird and over the button that it correctly transitions from full seen to invisible.
On the right side is the new version:
Notice that the "wave" goes to a dark color instead of just disappear.

Tried the newest snapshot build and i

[2017-09-30 07:59] badlogic commented on #1008
@fechy there was a bug in the renderer, I just commited a fix. Could you get the latest revision from the master repo and give that a try?

[2017-09-30 08:36] fechy commented on #1008
@badlogic indeed it works with the latest revision from the repo.

Looking forward for the new build.
Thanks

[2017-09-30 09:03] NathanSweet commented on #1008
2 minute response time and fix, on a Saturday no less, WTG @badlogic! o/

[2017-10-01 09:08] badlogic commented on #1008
Actually fixed before issue submission.

On Sep 30, 2017 11:03 AM, "Nathan Sweet" <notifications@github.com> wrote:

[2017-10-01 12:04] #1008 closed, assigned to badlogic

[2017-10-01 17:16] pharan commented on #943
We've made some progress on this. Expect a new unitypackage in the next 2 or 3 days.
In this form, it's about ready to be included in the official git repo, but still marked experimental.
The basic mixing cases should already be handled.

There are still some lingering questions regarding more complex cases (multiple tracks, with AnimationState animation being applied at the same time, and in what

[2017-10-02 18:45] pharan commented on #941
Oh, definitely. I had no intention of officially adding the stencil test to the default shader in the package.

I was just doing it to poke at stuff and see how the thing works.

[2017-10-02 19:08] pharan commented on #943
Currently, some order of execution stuff requires an extra `UpdateWorldTransform` call to the skeleton being animated, which is really not cool. The alternative may have to be disabling the SkeletonAnimation or attaching an additional new component to the Spine GameObject that handles all the quirks.

There may also just be an alternate non-editor-scrubbable clip type which just issues "commands"

[2017-10-04 18:15] pharan commented on #943
There are some quirks about how Timeline assets and the Playables API are actually separate things that make the editor/inspector not as friendly as it could be. Cleaning up is taking a while.

[2017-10-05 14:00] denizzzka opened #1009 "[c] calls to setlocale in SkeletonJson.c crash"
Versions checked: ~master and latest release

While compiling it shows some warnings:
[code]

Then after I start to use spine-c library it crashes:

[code]

[2017-10-05 14:03] denizzzka commented on #1009
Previous versions from ~ 23 Feb 2017 worked fine.

[2017-10-06 12:09] badlogic commented on #1009
Thanks for reporting. I'm looking into it. What GCC version are you using?

[2017-10-06 13:38] badlogic commented on #1009
@denizzzka  could you tell me which of the `setlocale` calls is crashing? According to the `setlocale` [man page](http://man7.org/linux/man-pages/man3/setlocale.3.html) we use the function correctly, either passing in `NULL` or whatever the first call to `setlocale` returned.

You could comment those setlocale lines and your programm should work as previously. But I'd like to understand why your s

[2017-10-06 15:10] jake opened #1011 "Make the spine demos more portable and reusable"
The [Spine Runtime Demos](http://esotericsoftware.com/spine-demos) page has a lot of potentially useful code, but it's very hard to discover or reuse.

You [asked me](https://twitter.com/EsotericSoft/status/916307284459950081) on Twitter to define what I meant by "modular code". I just mean more self contained — something you can copy and paste out of the demo page and have work.

Currently, the d

[2017-10-06 15:47] denizzzka commented on #1009
$ gcc -v
Using built-in specs.
COLLECT_GCC=gcc
COLLECT_LTO_WRAPPER=/usr/lib/gcc/x86_64-linux-gnu/6/lto-wrapper
Target: x86_64-linux-gnu
Configured with: ../src/configure -v --with-pkgversion='Debian 6.3.0-11' --with-bugurl=file:///usr/share/doc/gcc-6/README.Bugs --enable-languages=c,ada,c++,java,go,d,fortran,objc,obj-c++ --prefix=/usr --program-suffix=-6 --program-prefix=x86_64-linux-gnu- --enable

[2017-10-06 16:05] denizzzka commented on #1009
[code]

But also I tried C locale:
(`platformer` is my program what uses spine-c)
[code]

[2017-10-06 16:10] badlogic commented on #1009
Thanks. Can you tell me which line of code crashes? There are multiple
setlocal calls.

On Oct 6, 2017 6:05 PM, "Denis Feklushkin" <notifications@github.com> wrote:

@denizzzka <https://github.com/denizzzka> could you tell me which of the
setlocale calls is crashing?

$ locale
LANG=ru_RU.utf8
LANGUAGE=
LC_CTYPE="ru_RU.utf8"
LC_NUMERIC="ru_RU.utf8"
LC_TIME="ru_RU.utf8"
LC_COLLATE="ru_RU.utf8"
LC_MO

[2017-10-06 16:25] denizzzka commented on #1009
SceletonJson.c:590 causes warning. I think bug near of it.

In general, it is unclear why there is a need to manipulate the locale. Here is only graphics!

[2017-10-06 16:40] badlogic commented on #1009
The warning is unrelated. Please debug the binary and tell me on what line
it crashes. I would do so myself, but I can not reproduce the issue on my
machine.

Modifying the local is necessary so the JSON parser can parse floating
point values correctly (decimal point). You can remove those lines to
continue working while we figure out what's going on on your machine.

On Oct 6, 2017 6:25 PM, "Deni

[2017-10-06 16:51] denizzzka commented on #1009
point values correctly (decimal point).

My life will never be the same! A terrible decision of the standardization committee...

continue working while we figure out what's going on on your machine.

Strange thing: it isn't fails if I commit out any of two these `setlocale`s!
But then it fails on
[code]
in my own code.

[2017-10-06 16:54] badlogic commented on #1009
As I said before, if we can't reproduce it, there's no way to fix it.

Also, do you export from a Spine editor version that is the same as the
spine-c runtime version?

Can you try to compile and run the spine-sfml example and see if that works
on your machine?

On Oct 6, 2017 6:52 PM, "Denis Feklushkin" <notifications@github.com> wrote:

[2017-10-06 17:02] denizzzka commented on #1009
spine-c runtime version?

No, my Spine editor files dated about ~ Feb 2017

on your machine?

spine-sfml isn't compiles (commit 43f37ce5657f8c5a3812b467811b7ee85296ea13)

[code]

[2017-10-06 17:03] badlogic commented on #1009
The editor and runtime versions must match. The file format changes
occassionally.

Regarding the SFML error, please pull in the latest changes on the 3.6
branch from today.

Thanks for helping figuring this out.

On Oct 6, 2017 7:02 PM, "Denis Feklushkin" <notifications@github.com> wrote:

[2017-10-06 17:04] denizzzka commented on #1009
(As I know, `_readFile` was renamed to `_spReadFile`)

[2017-10-06 17:06] denizzzka commented on #1009
branch from today.

I am on 3.7-beta with same errors

[2017-10-06 17:07] badlogic commented on #1009
Please try the stable 3.6 branch from today.

On Oct 6, 2017 7:06 PM, "Denis Feklushkin" <notifications@github.com> wrote:

[2017-10-06 17:08] denizzzka commented on #1009
occassionally.

I would like to hope for a error (exception) in this case, rather than segfault :-)

[2017-10-06 17:08] denizzzka commented on #1009
Tried at https://github.com/EsotericSoftware/spine-runtimes/issues/1009#issuecomment-334813019

[2017-10-06 17:16] denizzzka commented on #1009
Also tried for sfml with same errors

[2017-10-06 17:19] badlogic commented on #1009
The commit you linked to is not from today...

Please pull in the changes up until and including today, from the 3.6 branch. Then please try running the sfml example.

[2017-10-06 17:26] denizzzka commented on #1009
branch 3.6, commit 38c8c870e804ec2ba6365e7d16ae27db4e440a9f

spine-sfml isn't compiles with errors:
[code]

same commit for spine-c fails on the runtime with segfault same as described in https://github.com/EsotericSoftware/spine-runtimes/issues/1009#issue-263135994

[2017-10-06 17:29] denizzzka commented on #1009
[code]

I think at least this error isn't bug of build system etc because same error I am fixed in my own D spine binding yesterday:
https://github.com/denizzzka/dspine/commit/22564744c4dfc6e665c34d5d86b7de57dbe5e6bb

[2017-10-06 17:30] badlogic commented on #1009
https://github.com/EsotericSoftware/spine-runtimes/commit/3dbab2122d5536244421bc4cc3e0721995d66608

[2017-10-06 17:35] denizzzka commented on #1009
spine-sfml compiles ok. Then fails with same segfault:
[code]

[2017-10-07 07:07] denizzzka commented on #1009
occassionally.

I changed my integration tests to loading spineboy-ess.json skeleton from actual version of `spine-runtimes` instead of my own skeleton. Nothing was changed, it still fails on `setlocale` after `spSkeletonJson_readSkeletonData`.

[2017-10-07 11:42] denizzzka commented on #1009
My mistake: it isn't fails when I am comment out both setlocale sections. Then spine-sfml examples work ok.

[2017-10-07 13:18] denizzzka commented on #1009
Tried to update libc6 - isn't helps.

[2017-10-09 09:16] badlogic opened #1012 "Update spine-c docs"
See http://esotericsoftware.com/forum/Spine-c-3-6-Update-documentation-9363?p=42451#p42451

http://esotericsoftware.com/forum/Spine-c-Event-callbacks-in-C-9360

[2017-10-09 09:24] badlogic commented on #1009
There are 3 calls to setlocale https://github.com/EsotericSoftware/spine-runtimes/blob/3.6/spine-c/spine-c/src/spine/SkeletonJson.c#L590

Could you tell me which one crashes?

[2017-10-09 09:43] badlogic commented on #1011
Thanks for the follow up. I guess the biggest problem is, that the spine-ts WebGL runtime isn't an engine per se, but instead a framework with a few utility classes for doing common things such as reacting to mouse/touch/keyboard etc. to be re-used by engine creators like pixi.js.

The most bare-bones example is this https://github.com/EsotericSoftware/spine-runtimes/blob/3.6/spine-ts/webgl/exampl

[2017-10-09 09:43] denizzzka commented on #1009
I was tried to comment out all setlocales except to first one - crashes.
Except second one - crashes.

[2017-10-09 09:52] badlogic commented on #981
Results of my investigation.

# Target platforms & Tool support
We aim at Windows, Linux, macOS, Android, iOS, WebAssembly as well as consoles. C++11 is supported on the first 5 platforms to the extend we'd need it for a spine-cpp platform. For consoles, the information is sparse, but from my research it appears that at least C++03 is supported.

# C++ Subset
I'm a strong believer in Branimir's [O

[2017-10-09 09:52] #981 closed, assigned to badlogic

[2017-10-09 09:53] badlogic commented on #614
Flash is dead, long live starling

[2017-10-09 09:53] #614 closed

[2017-10-09 10:00] badlogic opened #1013 "Avoid batch flushing when switching between normal and additive blending with PMA"
See https://github.com/EsotericSoftware/spine-runtimes/commit/812510e948cc2c81adcb14b1b307aa60d8a07862

- [x] spine-libgdx

---
- [x] spine-csharp
- [x] spine-xna
- [x] spine-monogame
- [x] spine-unity
- [x] spine-tk2d

---
- [x] spine-c
- [x] spine-sfml (does not support tint black)
- [x] spine-cocos2d-objc
- [x] spine-cocos2dx
- [x] spine-ue4

---
- [x] spine-ts core
- [x] spine-ts webgl
- [x] s

[2017-10-09 11:20] badlogic commented on #592
Merged info from here into https://github.com/EsotericSoftware/spine-runtimes/issues/841

The skin helper methods can be done with the new skin API. I don't like having a hundred ways of doing something, but we can add those helpers later if necessary.

[2017-10-09 11:20] #592 closed

[2017-10-09 12:50] ghost commented on #981
@badlogic Sounds good! Yeah, I should have it ready sometime this week!

For the most part, I'm more a fan of KISS (Keep it Simple Stupid) than Orthodox C++. Though there does seem to be some overlap. That being said, writing C code in a C++ context just for the sake of doing so unless you cannot (as Orthodox C++ would suggest) seems silly to me. C++ is different, and has a different way of doing

[2017-10-09 12:54] badlogic commented on #981
I agree with everything you said :) Orthodox C++ was just the only public
doc I knew that summarizes most of my own thoughts. If you look at
Branimir's bgfx, you'll see he's not using all that much C design himself.

Looking forward to your PR!

On Oct 9, 2017 2:50 PM, "Stephen Gowen" <notifications@github.com> wrote:

[2017-10-09 13:29] badlogic commented on #1009
Thanks for testing. I'll try to reproduce your Debian setup and the crash you see. Worst case, we'll have to add a define that lets you disable locale handling. It's a bit beyond me why the call would crash. It strictly follows the contract set out by the POSIX standard. I must overlook something.

[2017-10-09 14:10] denizzzka commented on #1009
My (stupid) idea: why you don't hardcode dot as floats delimiter? Both in spine-runtimes and in Spine editor?

[2017-10-09 14:16] badlogic commented on #1009
The Spine editor always outputs the same float delimiter size. However, depending on the locale, the float parser may use `.` or `,`. We could look into making the float parser in the runtime always use the same delimiter. The parser uses `strtof` or `strtod`, which use the current C locale (http://en.cppreference.com/w/c/string/byte/strtof). We could write a replacement for that, but that's not n

[2017-10-09 14:51] badlogic commented on #506
Merged into https://github.com/EsotericSoftware/spine-runtimes/issues/841

[2017-10-09 14:51] #506 closed

[2017-10-09 14:55] badlogic opened #1015 "[cocos2dx] Remove hardcoded worldVertices array"
See https://github.com/EsotericSoftware/spine-runtimes/pull/1014/files

[2017-10-10 10:42] #1009 closed, assigned to badlogic

[2017-10-10 10:42] badlogic commented on #1009
This should be fixed now. In the end, I replaced the call to the locale dependent `strtof` with a custom float parser. The fix is in both the latest 3.6 and 3.7-beta branch. Thanks for reporting!

[2017-10-10 13:37] #1015 closed, assigned to badlogic

[2017-10-10 13:38] badlogic commented on #1015
I've fixed this as follows. Instead of a per SkeletonRenderer scratch buffer, we now have a single global scratch buffer. The only operations using that scratch buffer are the debug drawing method and `getBoundingBox()`. These two methods ensure that the capacity of the scratch buffer suffices for the following operation. The rendering method uses the batch scratch buffers and is not affected by t

[2017-10-11 02:11] denizzzka commented on #1009
It works fine! Thanks!

[2017-10-11 07:20] badlogic opened #1016 "[runtimes] Port Deformtimeline fix"
See https://github.com/EsotericSoftware/spine-runtimes/commit/33d4c60ac7912020ca45d550389f2d6d3c17489f

See forum http://esotericsoftware.com/forum/3-6-43-Latest-runtime-Odd-mesh-mixing-behaviour-9380?p=42545#p42545

- [x] spine-libgdx

---
- [x] spine-csharp
- [x] spine-xna
- [x] spine-monogame
- [x] spine-unity
- [x] spine-tk2d

---
- [x] spine-c
- [x] spine-sfml
- [x] spine-cocos2d-objc
- [x] s

[2017-10-11 07:39] badlogic opened #1017 "[c] Add userData to AnimationState for global callbacks, remove renderObject"
See http://esotericsoftware.com/forum/Spine-c-Event-callbacks-in-C-9360

[2017-10-11 09:27] #1016 closed, assigned to badlogic, pharan

[2017-10-11 09:28] badlogic commented on #1017
There's already a userData on AnimationState. And rendererData is used in UE4 for "reasons".

[2017-10-12 10:05] badlogic opened #1019 "[ue4] Begin Cursor Over event not fired for SkeletonRenderer component"
See http://esotericsoftware.com/forum/UE-On-Begin-Cursor-Over-event-for-Render-doesn-t-work-9397

[2017-10-12 12:36] #1017 closed, assigned to badlogic

[2017-10-12 13:32] badlogic commented on #1019
Confirmed to not trigger any mouse events when clicked/hovered, even though collision mesh is generated.

[2017-10-12 13:40] badlogic commented on #1019
Fixed via https://github.com/EsotericSoftware/spine-runtimes/commit/77221b4ceef8b008e302a281adfbe109dd627a94

[2017-10-12 13:40] #1019 closed, assigned to badlogic

[2017-10-12 15:01] #1012 closed, assigned to badlogic

[2017-10-13 00:13] Cipriux commented on #762
Construct 2 user here. I will replace the Spriter workflow with Spine and willing to pay for it. Spine is great tool. I honestly don't care much for Construct 3 since I will never use a software based on monthly/year payment plan and NEVER EVER use a browser based software for real development. So I support this idea as long as is for Construct 3 AND 2 also.

[2017-10-13 12:44] #1003 closed, assigned to badlogic, pharan

[2017-10-13 12:54] badlogic commented on #953
XNA SpriteBatch can only render quads. Instead of making SkeletonRenderer compatible with XNA SpriteBatcher, we let users obtain `MeshBatcher` of a SkeletonRenderer, so they can batch their meshes with those of skeletons.

[2017-10-13 12:54] #953 closed, assigned to badlogic

[2017-10-16 20:41] ghost commented on #981
Just wanted to provide a quick update. Should be just a few more days. Had to go through the codebase and rip out std::map and std::vector in favor of portable hand-written ones. That was fun! And I'm glad I did it.

[2017-10-18 00:46] 420everyday opened #1022 "[ue4] "Plugin missing or incompatible" in UE 4.16.3"
Hello Everyone, I Just Started Spine with Unreal Engine 4(Sorry For The Wick English Ability)

However, When I Try To Install Spine Plugins(File Cloned, Run Engine), This Is Happening

Press Y

Y Again

Press Confirm

Press Confirm, And UE Starts Then Try To Import .json File. But Not Able To Use

I Try To Many Times For Install this Plugin with This Page : http://ko.esotericsoftware.com/spine-ue4

[2017-10-18 08:42] badlogic commented on #1022
Sorry for the troubles. Spine-UE4 works with UE 4.15 upwards. The errors you encountered point at the fact, that your UE4 installation might be corrupted. I've tried to reproduce the issue with a fresh install of UE4 and couldn't reproduce it. Could you try to reinstall your UE4 and try again?

[2017-10-18 12:25] badlogic commented on #1022
Hello again. I missunderstood your problem. If you want to run the samples from our spine-runtimes Git repository, you have to use UE 4.17, as all the assets and levels are stored in that version. If you integrate the Spine UE4 plugin in your own UE 4.16.3 project however, everything will work as intended.

Let me know if that helps!

[2017-10-18 12:25] #1022 closed, assigned to badlogic

[2017-10-18 14:40] 420everyday commented on #1022
Thanks For The Answer!
Sorry For Late Reply I Just Delete Useless Things And Reinstall UE4.
I've already tried with 4.17.3 and 4.16.3 version With Github repository
But This happens all the time.
So I asked to my friend for this process course In his computer, And That dudes Saying
its keep happening, with win10, UE4.17.3, SDK8.1, Visual Studio 2015, Github Spine Sample
Those Materials Are Right?

[2017-10-18 15:28] badlogic commented on #1022
There is no UE 4.17.3, the latest version is 4.17.2. I assume that is a typo? As I said above, 4.16.3 can not run the sample project in the GitHub repository.

I'm afraid I don't really know what the problem could be. I tried to set things up like you have, by removing all my Unreal Engine installations, then starting a new like this:

1. In Epic Games Launcher, install Unreal Engine 4.17.3, leave

[2017-10-18 16:00] 420everyday commented on #1022
Thanks Again!
Sorry I Made You Confusing, I Mistaken Version numbers. I got Lastest Version.
I Try Later(Not a days), Because so many SDK versions, Various UE version, Visual Studio 2015~2017..
Make me Confuse.
So I Return With That Procedure As you describe Clearly

Many Thanks of Your Help!

[2017-10-19 07:30] 420everyday commented on #1022
I'm did it! So many thanks to you!
I was so noob at this.

but, the problem still there.
in example project, run successfully.
i tried packaging because, before i ask you
i heard something in another website "packaging is not possible so he drop the project"
so i press packaging, it's Failed!
i tried with this packaging settings
![111](https://user-images.githubusercontent.com/32886724/31758603-19

[2017-10-19 07:34] badlogic commented on #1022
Glad it works for you now! The error you get is unrelated to Spine. You are trying to package an app for mobile (iOS), and for that you need something called a provisioning profile. Please check out the UE4 docs on how to package for different operating systems.

Could you tell me what site said packaging a Spine UE4 project is impossible?

[2017-10-19 08:23] 420everyday commented on #1022
i worry about i was keep packaging with windows(64bit)
i don't know why message log say "no apple computer file" like that
however i should be search in ue4 docs

It was Unreal Engine Korea Official Community(http://cafe.naver.com/unrealenginekr)
username ha9904221 says in our 'problem help' issue
he says using spine in unreal, packaging is not working and so he used png sequence at least
so i wil

[2017-10-19 08:44] badlogic commented on #1022
Awesome, thank you!

On Oct 19, 2017 10:23 AM, "420everyday" <notifications@github.com> wrote:

[2017-10-19 10:45] 420everyday commented on #1022
Im sorry. i got some important Technical Question
I recognized a second ago

json file's IK is not available in UE?

This is serious, and heart of our project main skill
we creating 2D Platformer Shooting Game
Character Head/Arms are will be follow Player's Mouse cursor
Like This Spine Asset Pack - Gunman
https://www.youtube.com/watch?time_continue=1&v=etNVOvbkji4
We have worked only with this pur

[2017-10-19 10:48] badlogic opened #1023 "[runtimes] Fix PathConstraint length spacing for zero length bones"
See https://github.com/EsotericSoftware/spine-runtimes/commit/bcf90240db6c88c3e5091572e5f3ae0132ec69bd

- [x] spine-libgdx

---
- [x] spine-csharp
- [x] spine-xna
- [x] spine-monogame
- [x] spine-unity
- [x] spine-tk2d

---
- [x] spine-c
- [x] spine-sfml
- [x] spine-cocos2d-objc
- [x] spine-cocos2dx
- [x] spine-ue4

---
- [x] spine-ts core
- [x] spine-ts webgl
- [x] spine-ts canvas
- [x] spine-ts

[2017-10-19 11:19] badlogic commented on #1022
The Spine UE4 plugin supports all Spine features except premultiplied
alpha. Check out the docs at https://esotericsoftware.com/spine-ue4

On Oct 19, 2017 12:46 PM, "420everyday" <notifications@github.com> wrote:

[2017-10-20 00:34] 420everyday commented on #1022
I tried every process in your Link.
So it seems IK is not available in UE4.
without IK, It's a just animation tool....

Sorry for give up with your helping
We gonna find another tool, before dismiss.

[2017-10-20 08:43] badlogic commented on #1022
I'm not sure what you are missing? the BoneDriverComponent lets you move a
bone in a skeleton. If that bone is an IK traget, you will influence the IK
chain. That's how IK is supposed to work, and how you implement arm
following/targeting. We even have an example level that shows how it works.

On Oct 20, 2017 2:34 AM, "420everyday" <notifications@github.com> wrote:

[2017-10-20 09:20] #1023 closed, assigned to badlogic, pharan

[2017-10-20 11:46] 420everyday commented on #1022
I think spine bone follower / driver component will be use as you say.
we found this link http://ko.esotericsoftware.com/spine-ue4#Skeleton-Follower-Component
for showing bones to operate.

But i can't do this with that short information. it feels like a clue.
and Searching Spine-UE4 information is TOO MUCH HIDDEN.
If you got example level for UE.
I'd like to ask you to offer us.

[2017-10-20 11:49] badlogic commented on #1022
The spine-ue4 docs describe how to run the samples. Check out the level `Getting Started/05-driving-bones`. We'll try to improve the docs.

[2017-10-23 15:36] NathanSweet opened #1024 "AnimationState not returning bones to the setup pose"
Forum post:
http://esotericsoftware.com/forum/Bug-Animation-does-not-return-to-set-up-9404

Repro files are "Helga - Mix Bug Repro.zip" on Slack.

[code]

[2017-10-23 16:16] NathanSweet commented on #1024
The problem seems to occur when track entries with timelines using `DIP` mixing finish on the same frame. This happens on the frame when attack becomes the current animation: the first teleportation finishes mixing out and the second teleportation is replaced by attack without using a mix duration. Exactly what happens is:
1) The first teleportation timeline is applied using `DIP`: a later timelin

[2017-10-24 11:25] NathanSweet commented on #1024
The fix is bad, it breaks multiple mixing.

[2017-10-25 01:36] 420everyday commented on #1022
we've done what I told you before.
Also Complete Packaging!
so I'm gonna tell username ha990422 how to we succeed.
so many thanks to you! praise badlogic!

[2017-10-25 01:57] unix2dos commented on #943
How do I get the latest code, even if it's unstable?

[2017-10-25 08:50] badlogic opened #1025 "[ue4] Update for 4.18"
RMC has an issue, see http://esotericsoftware.com/forum/UE4-4-18-Spine-Broken-because-RMC-not-updated-to-4-18-9474

[2017-10-26 12:40] badlogic opened #1026 "[ue4] Collision mesh generation hogs performance"
See http://esotericsoftware.com/forum/UE4-Performance-problem-example-project-current-branch-9482

[2017-10-27 22:23] NathanSweet commented on #1024
New fix does not seem to break other use cases.

[2017-10-27 22:23] #1024 closed, assigned to NathanSweet

[2017-10-28 07:33] badlogic opened #1027 "[runtimes] Fix not returning to setup pose when multiple mixing from entries end at the same time"
See https://github.com/EsotericSoftware/spine-runtimes/commit/882f49f5a94e03b53a34c824cca564c32324f144

- [x] spine-libgdx

---
- [x] spine-csharp
- [x] spine-xna
- [x] spine-monogame
- [x] spine-unity
- [x] spine-tk2d

---
- [x] spine-c
- [x] spine-sfml
- [x] spine-cocos2d-objc
- [x] spine-cocos2dx
- [x] spine-ue4

---
- [x] spine-ts core
- [x] spine-ts webgl
- [x] spine-ts canvas
- [x] spine-ts

[2017-10-28 07:48] #1027 closed, assigned to badlogic, pharan

[2017-10-28 13:43] NathanSweet opened #1028 "[c] Incorrect mixing before first key on tracks > 0"
Animation.c follows this pattern for many timelines:

[code]

This treats `SP_MIX_POSE_CURRENT` and `SP_MIX_POSE_CURRENT_LAYERED` as the same, which is incorrect. `SP_MIX_POSE_CURRENT_LAYERED` should take no action before the first key -- in fact this is the only difference between the two enum values. If the compile requires all enum values to be specified, a fix would be:

[code]

Or:

[code]

[2017-10-28 14:23] #1028 closed, assigned to badlogic

[2017-10-30 09:13] badlogic commented on #1025
Fixed via https://github.com/EsotericSoftware/spine-runtimes/commit/ed24d3b33f198ef6f8a0f4c32c2a3496340bf6b6, kept compatibility with < 4.18 through the ugly use of preprocessor...

[2017-10-30 09:13] #1025 closed, assigned to badlogic

[2017-10-30 09:25] badlogic commented on #1026
Tested in 4.17 and 4.18 using examples. Can not reproduce.

![https://i.imgur.com/FfUQewP.png](https://i.imgur.com/FfUQewP.png)

[2017-10-30 09:25] #1026 closed, assigned to badlogic

[2017-10-30 09:28] badlogic opened #1029 "[runtimes] Port additive blending"
See latest changes on 3.7 branch by Nate. Only port to 3.7 branch!

- [x] spine-libgdx

---
- [x] spine-csharp
- [x] spine-xna
- [x] spine-monogame
- [x] spine-unity
- [x] spine-tk2d

---
- [x] spine-c
- [x] spine-sfml
- [x] spine-cocos2d-objc
- [x] spine-cocos2dx
- [x] spine-ue4

---
- [x] spine-ts core
- [x] spine-ts webgl
- [x] spine-ts canvas
- [x] spine-ts threejs

---
- [x] spine-as3
- [x] s

[2017-10-30 12:47] badlogic opened #1030 "[libgdx] ScaleTimline blending broken in non-additive case"
3.7-beta branch, use heroes example for reproduction.

1. Open in SkeletonViewer
2. Set speed to 0.4ish
3. Queue animation "floorIdle", looping
4. Wait a bit, then on same track, queue "floorGetUp"
5. See head explode

Works in 3.6 as expected.

[2017-10-30 12:53] badlogic commented on #1030
Also reproducable with Penguing sample from http://esotericsoftware.com/forum/morph-target-track-animation-mix-mode-9459.

1. Open `deform_sample.json` in SkeletonViewer
2. On track 0, enqueue "breath", looping, alpha 1
2. On track 1, enqueue "up", looping
3. Play around with track 1 alpha, see the penguin grow and pop when setting alpha to 1

[2017-10-31 09:14] minggo opened #1031 "[cocos2dx] TankExample will crash with latest cocos2d-x codes"
I am updating cocos2d-x's Spine runtime to 3.6.39, and found the `TankExample` will crash on Mac. I haven't tested on other platforms. `BatchingExample`, `GoblinsExample`, `RaptorExample` and `SpinebodyExample` work correctly.

I used cocos2d-x with the [commit](https://github.com/cocos2d/cocos2d-x/commit/b53eb252005ee92773f6cd9f66191cf99ad2320a), which is the latest codes.

Edit: my environment:

[2017-10-31 09:49] minggo commented on #1031
TankExample works on iOS simulator.

[2017-11-01 06:50] minggo commented on #1031
And it works on Windows, linux and Android too. Only crash on macOS, the crash screen is

<img width="922" alt="screen shot 2017-11-01 at 2 44 21 pm" src="https://user-images.githubusercontent.com/488203/32263105-37d38ec8-bf13-11e7-84fd-8abc94784487.png">

Steps to reproduce it:

* clone [cocos2d-x](https://github.com/cocos2d/cocos2d-x) and update submodules
* merge [the PR](https://github.com/coc

[2017-11-01 08:41] badlogic commented on #1031
Thanks for reporting, I'll take a look asap.

[2017-11-01 08:42] #1030 closed, assigned to NathanSweet

[2017-11-01 14:16] tiagomartines11 opened #1033 "[cocos2dx] Premultiplied alpha"
Using the latest cocos2dx and spine-runtimes 3.6.39, I cannot use PMA (or forcefully not use it) properly.

I followed the guidelines from #809 and I tried both proposed solutions.
Solution 2 renders my animation properly, but I cannot give up PMA on my project globally.
Solution 1 does not work and I can't figure out why. I see black shadows on the edges of my assets where they should subtly fade

[2017-11-02 09:52] badlogic commented on #1031
I've updated our sample to cocos2d-x 3.16, the last official release. I can not reproduce the crash of the tank example on any platform.

My guess is, that the tank.json file you ship in cocos2d-x is exported from an older Spine version, and thus incompatible with the loader. You can find the latest exports here https://github.com/EsotericSoftware/spine-runtimes/tree/3.6/examples

[2017-11-02 09:52] #1031 closed, assigned to badlogic

[2017-11-02 09:54] badlogic commented on #1031
Also, you MUST include our copyright notices in your repo if you copy our code and assets! As stated before, we'd prefer if you didn't include Spine in the cocos2d-x repository, as it confuses users and the runtime included in the cocos2d-x repo is usually outdated.

[2017-11-02 09:59] minggo commented on #1031
@badlogic thanks to fix it.

The copyright notices is here: https://github.com/cocos2d/cocos2d-x/blob/v3/licenses/LICENSE_spine.txt

If cocos2d-x doesn't include spine runtime, then it is hard to generate lua/js binding codes.

[2017-11-02 10:03] badlogic commented on #1031
@minggo thanks, but the license file only covers the code. It does not cover the sample skeletons you also have in your repository. Each of these has its own license file. Sorry for the extra work, but please add those license.txt files as well.

I understand the issue with the lua/js bindings. However, as it stands, even your latest update already misses some essential bug fixes.

[2017-11-02 10:07] minggo commented on #1031
tank.json is replaced with tank-pro.json which is shift in spine runtime 3.6.39. I think you should enable `Address Sanitizer` to catch the crash like this:

* Producet -> Scheme -> Edit Scheme
* Diagnostics -> Addres Sanitizer

It will catch invalid pointer access ASAP.

Sorry, i will add the license of sample skeletons ASAP.

[2017-11-02 10:07] badlogic commented on #1033
By latest, are you talking about the cocos2d-x 3.16 release, or the latest commit from their master branch? I'm afraid this is more of an issue with cocos2d-x than with Spine itself. I'm not sure what we can do on our end to fix this.

[2017-11-02 10:12] minggo commented on #1031
@badlogic sorry, should  i add all the licenses under [this folder](https://github.com/EsotericSoftware/spine-runtimes/tree/3.6/examples)? Or is there a license for all  sample skeletons?

Thanks.

[2017-11-02 10:22] badlogic commented on #1031
@minggo it seems all the skeletons you include are ours, so including this single license file in the spine resources folder in your tests is sufficient https://github.com/EsotericSoftware/spine-runtimes/blob/3.6/examples/tank/license.txt

I found the bug that makes loading crash on macOS thanks to address sanitizer! Thanks for the hint, see this commit for the fix https://github.com/EsotericSoftw

[2017-11-02 10:31] badlogic commented on #1033
I dug a bit deeper, and it appears PMA is still supposed to work as before in cocos2d-x. Could you please check if this method is executed for your images? https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/platform/CCImage.cpp#L2452. This will be called for solution 1 to make all the loaded images PMA.

SkeletonRenderer has a field `_premultipliedAlpha` which you can set via `setOpacityModifyRGB`

[2017-11-02 13:03] tiagomartines11 commented on #1033
Thank you very much for looking into this. After a lot of tinkering, I found a strange solution!
The original PMA output from Spine produces odd artifacts when leaving `CC_ENABLE_PREMULTIPLIED_ALPHA` on and using `setOpacityModifyRGB(true)`.
But after losslessly compressing this PNG file with ImageOptim, it started rendering properly. I believe the indexing process that happens during compression

[2017-11-02 13:07] badlogic commented on #1033
That is an interesting find. I'd like to get to the bottom of this, please
send me your assets, contact@esotericsoftware.com

On Nov 2, 2017 2:04 PM, "Tiago Martines" <notifications@github.com> wrote:

[2017-11-03 01:24] minggo commented on #1031
@badlogic thanks to fix it.

I updated spine runtime license and added resource license in https://github.com/cocos2d/cocos2d-x/pull/18438.

[2017-11-06 03:58] mustang2247 opened #1035 "[unity] if you load ab file the spine animation not show"
if you build "6 SkeletonGraphic" to AssetBundle file "skg.u3d", and then you load "skg.u3d" file and load scene "6 SkeletonGraphic", so the spine animation error.
the demo add: https://github.com/mustang2247/unityhotupdateflow.git
err:[png](https://github.com/mustang2247/unityhotupdateflow/blob/master/nope.png)

[2017-11-06 15:42] robertelsinki opened #1036 "[cocos2d-x] Missing Configuration in Android.mk for cocos2dx"
I'm new to spine and I fresh installed cocos2dx v3.16 on new machine, after spending hours to get it work
I found missing configuration in

spine-runtimes-3.6/spine-cocos2dx/example/proj.android/jni/Android.mkAndroid.mk

LOCAL_SRC_FILES

missing:

../../Classes/TankExample.cpp \

and bunch of c files:

Array.c
ClippingAttachment.c
Color.c
PointAttachment.c
SkeletonClipping.c
SkeletonTwoColorBatch.

[2017-11-06 15:50] robertelsinki commented on #1036
btw this is the working Android.mk in this case:

[code]

[2017-11-07 23:29] teetteet commented on #762
Construct2 user here too. I would love to see Spine for C2 too.

[2017-11-08 10:09] #1033 closed, assigned to badlogic

[2017-11-08 10:12] badlogic commented on #1036
Thanks for the report, I just recently updated our cocos2d-x example to cocos2d-x 3.16 and must have forgotten to update the Android build. Mea culpa.

[2017-11-09 01:41] pdyxs commented on #943
Any updates on this?

[2017-11-10 02:34] homes815 commented on #894
try this.

spine-unity/Asset Types/Editor/SkeletonDataAssetInspector.cs

 #if UNITY_EDITOR_WIN
[CustomEditor(typeof(SkeletonDataAsset)), CanEditMultipleObjects]
#endif
public class SkeletonDataAssetInspector : UnityEditor.Editor

[2017-11-10 09:00] badlogic opened #1037 "[ue4] UE4 AnimationStart delegate not firing"
See http://esotericsoftware.com/forum/UE4-AnimationStart-delegate-not-firing-9541

[2017-11-10 09:37] badlogic commented on #1037
In `USpineSkeletonAnimationComponent::SetAnimation` and similar methods, we call `spAnimationState_setAnimationByName`. This drains the event queue, which calls the state listener. At this point in time, the `spTrackEntry->rendererObject` is not set yet, so the check in `callback` fails and the event is not reported.

[2017-11-10 10:13] #1037 closed, assigned to badlogic

[2017-11-10 10:27] #1036 closed, assigned to nobody

[2017-11-13 01:20] tmathews opened #1038 "[ue4] Support for version 18+"
Tried following the build instructions for the latest version. Doesn't seem to be supported. Is this being worked on?

Also is it possible to get documentation added for building the UE4 project on Linux?

[2017-11-13 10:45] badlogic commented on #1038
UE 4.18 is supported. Could you expand on what's not working for you?

The spine-ue4 runtime is not platform specific. Please check out this UE4 wiki entry on how to build on Linux https://wiki.unrealengine.com/Building_On_Linux

[2017-11-13 11:19] badlogic commented on #1038
Argh, I forgot to commit the new functions in animation state. Fixing! See also http://esotericsoftware.com/forum/UE4-AnimationStart-delegate-not-firing-9541

[2017-11-13 13:06] #1038 closed, assigned to badlogic

[2017-11-13 17:16] tmathews commented on #1038
I've tried the installation process with both Windows and Linux and still cannot get them work. This is after the new commit you have made. When I open the project it asks to compile for a new version, which then it proceeds to attempt but says failed and asks to build from source.

Also when I generate project files I receive an error that I have brought up here: https://answers.unrealengine.com/

[2017-11-13 17:17] badlogic commented on #1038
Could you please post all the errors you get?

On Nov 13, 2017 6:16 PM, "Thomas" <notifications@github.com> wrote:

[2017-11-13 17:30] tmathews commented on #1038
Here is the log output I get when opening the project on Linux. https://gist.github.com/tmathews/100ef2f7d7e7ab5fa5457db263e73a75

[2017-11-13 17:33] badlogic commented on #1038
Please also post the errors you got on Windows.

On Nov 13, 2017 6:30 PM, "Thomas" <notifications@github.com> wrote:

Here is the log output I get when opening the project on Linux.
https://gist.github.com/tmathews/100ef2f7d7e7ab5fa5457db263e73a75

—
You are receiving this because you modified the open/close state.
Reply to this email directly, view it on GitHub
<https://github.com/EsotericSoftwar

[2017-11-13 17:53] tmathews commented on #1038
My mistake, I must have done something wrong before. It is working on Windows with with the latest commit to 3.6 now. I would appreciate any insight on the Linux issues above.

[2017-11-15 01:23] MikalDev commented on #762
@badlogic

There is a new release  67of C3 with this comment, hopefully this will help you get going (and to request for features you need):

https://www.construct.net/make-games/releases/beta/r67

"Additionally we've started working on adding support in the SDK for drawing plugins (i.e. plugins that appear in the Layout View). This involves quite a large API surface, so it will probably take a fe

[2017-11-15 02:46] heschlie opened #1039 "[Runtimes | libgdx] Bounding box attachments from skins aren't showing up as attached when skin is changed"
I'm not 100% sure if this is by design or not so apologies if this is expected behavior. We have a Bounding Box Attachment (bba) which is tied to a skin. when we switch to that skin in game the bba doesn't seem to transfer over and get attached to the proper slot. Which means when we call `SkeletonBounds.polygon()` on it we get `null` back and future operations cause an NPE.

I'm currently working

[2017-11-15 10:23] badlogic commented on #1039
`Skeleton.setSkin` only sets attachments if a corresponding attachment was set in the old skin. Assuming your bounding box attachment is in the new skin and not in the old skin, you have to call `Skeleton.setSlotsToSetupPose` as per the `Skeleton.setSkin` Javadocs.

I'm closing this out for now if you don't mind but will of course re-open if that doesn't fix the issue.

[2017-11-15 10:23] #1039 closed, assigned to nobody

[2017-11-15 16:02] heschlie commented on #1039
@badlogic thanks for the quick reply, that did indeed fix it.

[2017-11-16 07:42] pharan commented on #943
We're currently adapting it for 2017.2. Some changes seem to have made our mixing handling less reliable.

I'm adding a Spine AnimationState Timeline Track type to handle basic stuff. It just makes method (SetAnimation) calls to SkeletonAnimation's AnimationState object. This means you won't be able to scrub it in edit mode. Timeline's editor APIs currently don't have a distinction between edit mo

[2017-11-16 07:44] ledvinam commented on #943
Wov, that is great news. We are waiting for this feature in order to make animated short stories in Unity. :-) Please do it "right" :-)

[2017-11-16 07:44] pdyxs commented on #943
Thanks, looking forward to it!

[2017-11-16 07:47] pharan commented on #943
Haha! We'll do it as "right" as Unity will allow... which is honestly looking a bit messy.

[2017-11-16 07:57] pharan commented on #943
https://forum.unity.com/threads/default-playables-text-switcher-track-error.502903/
Also weirdly getting this error. Currently no way to get rid of it, and it seems to be a persisting bug even in 2017.3 beta.

[2017-11-21 09:06] MikalDev commented on #762
@badlogic

Another C3 release, now with documentation on the drawing plugins. The Spriter team is also working on a plugin for C3 now, hopefully Spine can have one also in the near future.

Details in this thread:
https://www.scirra.com/forum/drawing-plugins-now-supported-in-r68_t197970

[2017-11-23 17:09] Gamzic opened #1040 "Can i use it for commercial without any purchasing?"
Can i use runtime in my games for commercial without buing spine pro? If not, then please ask me, is the Essential Licence enough to develop commercial games using only your rintimes? Thank you)

[2017-11-24 00:02] badlogic commented on #1040
You need a Spine license to use the Spine runtimes. If you make more than $500,000USD in annual revenue, you must license Spine Enterprise, otherwise Spine Professional or Spine Essential are fine.

[2017-11-24 00:02] #1040 closed, assigned to nobody

[2017-11-24 06:56] pharan commented on #943
For now, the experimental code and docs will be tracked here: https://github.com/pharan/spine-unity-experimental/tree/spine-timeline

I'm currently writing the how-to-use docs.
For now, the main Spine Animation Track type is quite unusable if you have mixing.

Spine AnimationState Track should be safer for now, since all it does is make SetAnimation calls for the SkeletonAnimation's AnimationState

[2017-11-25 03:16] AndreaDev237 opened #1041 "[UE4] Generation of huge infinite number of File in DerivedDataCache"
Hello,
I notice a problem with SpineSkeletonRender Component
When an actor has SpineSkeleton Render + SpineSkeletonAnimation component with Atlas and data set the engine generate infinite files called "PHYSX_[alphanumeric string]PHYSXPC_[more text].udd" inside the Folder DerivedDataCache of engine.

I notice that because on my SSD of 1TB the folder contains 27 milions of this file and a total size

[2017-11-25 06:40] pharan commented on #943
Documentation is included with the experimental Spine Timeline folder.
https://github.com/pharan/spine-unity-experimental/tree/spine-timeline/Assets/spine-unity-experimental/Spine%20Timeline/Documentation

You can find the latest unitypackage here: http://esotericsoftware.com/files/runtimes/unity/spine-unity-experimental-spine-timeline-3_6-2017-11-25.unitypackage

[2017-11-25 21:25] badlogic commented on #1041
Thanks for reporting. That is an extremely nasty issue. I'll try to figure out what writes all these files. Given the file names, it appears that the physics integration is at fault.

[2017-11-27 09:56] felixwcf commented on #762
Another C2 and soon-to-be C3 developer say hi...

[2017-11-27 09:59] badlogic commented on #762
New SDK API allows us to at least get non-Mesh/FFD going. See https://www.scirra.com/forum/test-spriter-c3-addon_t198037

[2017-12-05 02:24] Scoremonger commented on #762
That's great! Yet another C3 user here (they released their first stable version today), and I'm really wanting to use Spine instead of Spriter in my projects.

[2017-12-05 09:09] badlogic opened #1043 "TwoColorPolygonBatch should implement Batch"
See http://esotericsoftware.com/forum/Slot-getDarkColor-Tint-Black-9628

[2017-12-06 04:23] Geequlim commented on #728
Here is a module that implemented the spine support for godot.
Both godot 2.1 and 3.0 is supported with the spine runtime 3.5.51.
https://github.com/GodotExplorer/spine

[2017-12-06 11:51] badlogic opened #1044 "[ue4] 01-basic-animation crashes"
See http://esotericsoftware.com/forum/UE4-SpineUE4-Project-Crash-9637

[2017-12-06 14:04] badlogic commented on #1044
Reproducable in 3.6 and 3.7-beta. Also happens in sample 03

[2017-12-06 14:37] badlogic commented on #1044
This PR https://github.com/EsotericSoftware/spine-runtimes/pull/1034 broke things in a subtle way on Windows. Reverted, back to normal.

[2017-12-06 14:37] #1044 closed, assigned to badlogic

[2017-12-06 23:05] #996 closed, assigned to pharan

[2017-12-11 10:53] badlogic opened #1047 "[ue4] Add UMG support"
Once this is implemented, use it in the assets editor, see https://github.com/EsotericSoftware/spine-runtimes/issues/1291

[2017-12-13 14:34] Monkeyzav commented on #762
C3 user here, definitely a big +1 need :)
Hope things can make mesh being taken in account, 'cause spine without mesh is... uh.... not cool.

[2017-12-18 15:42] Rainfarer opened #1049 "[UE4] Blend overrides for "Set animation" node"
Ability to override blend time for animation in "Set animation" node in UE4

[2017-12-19 06:12] lsc1414 opened #1050 "[Unity]Every Frame have GC when Using SkeletonAnimator"
![image](https://user-images.githubusercontent.com/5005412/34143130-1fe55c32-e4c6-11e7-82bf-9469ac5594af.png)

[2017-12-19 12:55] badlogic opened #1051 "[corona][lua] IK bend direction is inverted"
See email 1606e67d6292bcba

[2017-12-20 10:29] badlogic commented on #1051
Can't reproduce. IK bend direction works as intended.

[2017-12-20 10:29] #1051 closed, assigned to badlogic

[2017-12-20 13:51] MichalBerlinger opened #1052 "[Unity] SkeletonAnimation.Initialize should not set animation"
When switching skeleton data asset and using SkeletonAnimation.Initialize(true) you might run into an issue, that new skeletonData animations don't have current _animationName, and you can't set new AnimationName before Initialization because those ways it is not available either.

Steps to reproduce:
1) Create SkeletonAnimation with one asset
2) In runtime, use script to update this SkeletonAnima

[2017-12-20 23:16] pharan commented on #1052
Setting the initial animation according to what's serialized is for skeletons that don't have code. Sometimes skeletons are just there for visuals and you shouldn't need to add an extra component for it.

That it will throw an exception if the _animationName is incorrect was a problem even if you weren't switching out the skeletonDataAsset, so we're handling that either way:
https://github.com/Eso

[2017-12-20 23:42] pharan commented on #1050
What Unity version?

[2017-12-21 01:40] lsc1414 commented on #1050
5.6.3f1

[2017-12-21 10:26] MichalBerlinger commented on #1052
So I downloaded the latest version from repository, and it works now. Thanks for the fix!

[2017-12-21 15:48] vzlomvl commented on #940
Hello. Any news on this topic? I am using Unity 2017.2.1f1 and seems "Unity 2017.1 pack square POT textures when Tight Packing is disabled" problem is gone. It would be great use Sprite Atlas with Spine.
![image](https://user-images.githubusercontent.com/17579325/34263229-71a4906c-e677-11e7-92ab-97352a5a0511.png)

[2017-12-23 14:07] yeti25660 commented on #1022
Hello,

I have problem to launch my level without error.
Despite I was following all instruction in http://esotericsoftware.com/spine-ue4 I've always trouble.

![image](https://user-images.githubusercontent.com/8846054/34320126-9ce6a7b6-e7f2-11e7-9170-29eace6a1525.png)

And when I click on yes,

![image](https://user-images.githubusercontent.com/8846054/34320131-f1d57c70-e7f2-11e7-87f5-387a3972eda

[2017-12-23 16:37] yeti25660 opened #1054 "[UE4] "The following modules are missing ...""
Hello,

I have problem to launch my level without error.
Despite I was following all instruction in http://esotericsoftware.com/spine-ue4 I've always trouble.

![image](https://user-images.githubusercontent.com/8846054/34320126-9ce6a7b6-e7f2-11e7-9170-29eace6a1525.png)

And when I click on yes,

![image](https://user-images.githubusercontent.com/8846054/34320131-f1d57c70-e7f2-11e7-87f5-387a3972eda

[2017-12-26 15:05] badlogic opened #1055 "[as3] Mixing bugs"
See http://esotericsoftware.com/forum/AS3-Starling-Mixing-animations-bug-9720

[2017-12-28 11:18] badlogic commented on #1054
Could you show me the build log?

[2018-01-02 12:20] badlogic commented on #1054
@yeti25660 I'll re-open once you provide me with the requested information.

[2018-01-02 12:20] #1054 closed, assigned to nobody

[2018-01-02 13:00] #1055 closed, assigned to badlogic

[2018-01-02 18:04] truong511134 opened #1056 "Spine.Unity.SkeletonAnimation. How do definition for Reset()?"
using Spine.Unity;

Assets/Source/Scripts/Gameplay/Bubble.cs(497,22): error CS1061: Type `Spine.Unity.SkeletonAnimation' does not contain a definition for `Reset' and no extension method `Reset' of type `Spine.Unity.SkeletonAnimation' could be found. Are you missing an assembly reference?

CODE:

     {
            SkeletonAnimation anim = ShowingPart.transform.GetChild(0).GetComponent<SkeletonAni

[2018-01-03 06:19] pharan commented on #1056
why did you need Reset? What is it trying to do here?

[2018-01-03 07:51] truong511134 commented on #1056
Hi John,

Im update Plugin Spine for Unity. So after update done appear error "Assets/Source/Scripts/Gameplay/Bubble.cs(497,22): error CS1061: Type Spine.Unity.SkeletonAnimation' does not contain a definition forReset' and no extension method Reset' of typeSpine.Unity.SkeletonAnimation' could be found. Are you missing an assembly reference?"

2018-01-03 13:19 GMT+07:00 John <notifications@github.c

[2018-01-03 08:18] #1052 closed, assigned to pharan

[2018-01-03 08:41] pharan commented on #1056
You can probably change your code to this.
[code]

[2018-01-03 20:42] piotr-j commented on #1043
Ive figured ill take a look at this, might need it in the future. Ive encountered one problem, Sprites. Since its kinda pointless without adding support for dark for other stuff, sprites verts no longer match. Also, another freaking batch...  any ideas for what, if anything, to do anout that?

[2018-01-04 09:28] badlogic commented on #1043
Welp, no way around just manually transfering Sprite vertices to the batch
buffer, setting the dark color of each vertex to 0 :/

On Jan 3, 2018 9:43 PM, "Piotr Jastrzebski" <notifications@github.com>
wrote:

[2018-01-06 13:15] #1056 closed, assigned to nobody

[2018-01-06 13:28] pharan commented on #1050
There was fortunately already an optimization in place. It accidentally didn't encompass 5.6, where it should have.

The fix will be applied soon. Thanks for reporting!

[2018-01-06 13:28] #1050 closed, assigned to pharan

[2018-01-06 13:32] pharan commented on #894
If someone is still having this issue in the latest versions of Unity, please post a comment.

[2018-01-06 13:32] #894 closed

[2018-01-10 06:08] maxxboehme opened #1058 "[SFML] Including spine-sfml.h causes 'Polygon': redefinition error on windows"
When including spine-sfml.h I get the error 'Polygon': redefinition in wingdi.h. I assume this is because I am including some SFML headers that must be including windows.h which is bringing in that file. spine-sfml.h should be refactored to be able to remove "SPINE_SHORT_NAMES" so these name collisions don't happen.

There appears to be a workaround though described on [StackOverflow](https://stac

[2018-01-10 15:01] badlogic opened #1059 "[libgdx] AttachmentTimeline broken in 3.7-beta"
Repro:

1. Switch to 3.7-beta branch
2. Point SkeletonViewer at tank-pro.json in examples/tank/export
3. Play `shoot` animation in a loop

Expected: no black smoke blobs on the second loop
Actual: black smoke blobs on the second loop

It appears that dark/light colors on a bunch of two color slots aren't reset properly when entering the second loop. One affected slot to test with is `smoke-puff1-b

[2018-01-10 15:32] #1059 closed, assigned to NathanSweet, badlogic

[2018-01-10 15:51] badlogic commented on #1058
Thanks for reporting. I've fixed this in the 3.7-beta branch.

[2018-01-10 15:51] #1058 closed, assigned to badlogic

[2018-01-11 09:04] badlogic opened #1060 "[runtimes] Port changes to attachment and draw order timeline on 3.7 branch"
See https://github.com/EsotericSoftware/spine-runtimes/commit/82d3dd80e174f4c70c9ab81766043c3d76abd560 and https://github.com/EsotericSoftware/spine-runtimes/commit/6b97f443389e7375972b20cb07bbbd03a1b6383d

Requires a port of https://github.com/EsotericSoftware/spine-runtimes/issues/1029 first

- [x] spine-libgdx

---
- [x] spine-csharp
- [x] spine-xna
- [x] spine-monogame
- [x] spine-unity
- [x]

[2018-01-11 11:40] pharan opened #1061 "Missing export format documentation"
http://esotericsoftware.com/spine-json-format
http://esotericsoftware.com/spine-binary-format

Missing export format documentation for the following:
- [x] PathConstraintPositionTimeline
- [x] PathConstraintSpacingTimeline
- [x] PathConstraintMixTimeline
- [x] TwoColorTimeline
- [x] Event audio

[2018-01-12 09:22] badlogic opened #1062 "[cocos2d-x] Blend states not properly applied across batches"
See http://esotericsoftware.com/forum/Tint-Black-issue-render-in-runtime-9739

[2018-01-12 09:24] badlogic opened #1063 "[as3] Track indices incorrect when invoking event handlers"
See http://esotericsoftware.com/forum/Starling-AS3-trackIndex-bug-9780

[2018-01-12 09:26] badlogic opened #1064 "[runtimes] AddAnimation after current tracks entry has finished adds delay"
See http://esotericsoftware.com/forum/AddAnimation-on-track-with-an-ended-animation-9778

- [x] spine-libgdx

---
- [x] spine-csharp
- [x] spine-xna
- [x] spine-monogame
- [x] spine-unity
- [x] spine-tk2d

---
- [x] spine-c
- [x] spine-sfml
- [x] spine-cocos2d-objc
- [x] spine-cocos2dx
- [x] spine-ue4

---
- [x] spine-ts core
- [x] spine-ts webgl
- [x] spine-ts canvas
- [x] spine-ts threejs

---
-

[2018-01-12 09:27] badlogic opened #1065 "[ts] Keys for animation mixing data may be ambiguous"
See http://esotericsoftware.com/forum/TS-Mix-pair-key-conflict-9777

[2018-01-12 09:34] #1065 closed, assigned to badlogic

[2018-01-12 09:38] badlogic commented on #1063
Works as intended.

[2018-01-12 09:38] #1063 closed, assigned to badlogic

[2018-01-12 10:19] #1064 closed, assigned to badlogic

[2018-01-12 10:37] badlogic commented on #949
Evaluation order looks good. API works like this:

[code]

Hurray...

[2018-01-12 12:21] AdrianRamis commented on #940
Any news on this?

[2018-01-12 12:34] pharan commented on #940
No news currently, though it's good that the POT packing thing was fixed.
We'll probably shoot for Spine 3.7.

Subfolder paths on the editor side still presents a problem.

[2018-01-12 12:45] #1062 closed, assigned to badlogic

[2018-01-12 12:53] pharan commented on #864
This will have a pass with the work on the Playable translator.

[2018-01-12 12:53] #864 closed

[2018-01-18 14:17] #1043 closed, assigned to badlogic

[2018-01-21 04:03] bilgekaan commented on #762
+1

[2018-01-21 11:34] robotcity opened #1066 "[threejs] MeshBasicMaterial not support vec4 for color attribute"
I encountered the wrong animation, I had to write my own shader:
`
let SpineMaterial = new THREE.ShaderMaterial( {
        uniforms: {
            map    : {type: 't',  value: null },
        },
        vertexShader: [
            'attribute vec4 color;',
            'varying vec2 vUv;',
            'varying vec4 vColor;',
            'void main() {',
                'vUv = uv;',
                '

[2018-01-22 11:00] badlogic opened #1068 "[libGDX] Update Maven artifact on Central"

[2018-01-22 11:21] badlogic commented on #1068
3.6.51.1 released

[2018-01-22 11:21] #1068 closed, assigned to badlogic

[2018-01-22 13:06] badlogic commented on #1066
Could you show us how to reproduce the issue?

[2018-01-22 13:19] robotcity commented on #1066
in spine there is an example - powerup with the animation "bounce", in threejs the stars are not correct.

[2018-01-22 13:19] badlogic commented on #1066
Thank you, we'll investigate.

[2018-01-22 15:11] #677 closed

[2018-01-22 15:11] #1066 closed, assigned to badlogic

[2018-01-24 12:12] badlogic opened #1069 "[as3] Sorting path constraints fails"
See http://esotericsoftware.com/forum/AS3-Animate-CC-Starling-PathConstraint-Error-9834

[2018-01-24 13:29] #1069 closed, assigned to badlogic

[2018-01-25 03:42] ghost commented on #981
@badlogic I just realized I never printed out and signed the CLA, so I'm doing that now, and will send it to the email you listed above.

[2018-01-25 06:58] badlogic commented on #981
Hah, I forgot too! I'm going to merge this on monday on the 3.7-beta branch
and start rewiring all but the SFML backend to use the C++ runtime instead
of the C runtime.

On Thu, Jan 25, 2018 at 4:42 AM, Stephen Gowen <notifications@github.com>
wrote:

[2018-01-29 10:38] badlogic commented on #1041
See http://esotericsoftware.com/forum/UE4-Performance-problem-example-project-current-branch-9482

[2018-01-29 11:54] badlogic opened #1070 "[ts][canvas] Canvas example broken"

[2018-01-29 11:56] badlogic commented on #1070
Can not reproduce.

[2018-01-29 11:56] #1070 closed, assigned to badlogic

[2018-01-29 14:36] #1060 closed, assigned to badlogic, pharan

[2018-01-29 14:38] #1029 closed, assigned to badlogic, pharan

[2018-01-30 21:42] fonograph opened #1071 "[Unity] Skeleton Utility Bones lag slightly behind what's being rendered"
To reproduce:

* Download 3.6 Spine runtime examples.
* Create new project, and drag in dragon_SkeletonData from the Examples/Spine folder as a Skeleton Animation.
* Set animation to flying and turn on looping.
* Add SkeletonUtility component.
* Spawn Hierarchy (Follow).
* In the hierarchy, go down to tail6 and select so you can see the transform gizmo in the scene view.
* Play the scene, and step

[2018-01-31 09:28] pharan commented on #1071
Thanks for the detailed steps.
We'll take a look at it.

The order of UpdateLocal, UpdateWorld and UpdateComplete events are specific to their sequence relative to AnimationState.Apply and Skeleton.UpdateWorldTransform. So reordering isn't quite the solution.

But you're right that SkeletonUtility uses those events. More likely, SkeletonUtility needs to perform its follow operation on a different

[2018-01-31 10:39] pharan commented on #1071
I found the problem.
If you didn't use constraints for the target bones, the fix is straightforward.
Otherwise, there's an extra user checkbox to be added, and fix to be tested.

[2018-02-01 04:59] pharan commented on #1071
The fixes are committed. It'll be included in the next unitypackage update. Thanks again for reporting!

[2018-02-01 05:00] #1071 closed, assigned to pharan

[2018-02-01 15:22] fonograph commented on #1071
@pharan np, thanks for the quick fix!

[2018-02-02 14:10] neuronix opened #1072 "[AS3/Starling] onEnd is incorrectly triggered when queuing animations"
If I refer to the chart (http://esotericsoftware.com/spine-unity-events), onEnd is supposed to be triggered when the current animation changes, so either if the queue is empty or if we interrupt the current animation but adding an animation incorrectly causes the onEnd to trigger before the animation is complete.

So this is the expected behavior:
1. add onEnd handler displaying name of ended anim

[2018-02-05 13:03] badlogic commented on #1072
Thanks for reporting, I'll try to fix this this week.

[2018-02-05 13:10] badlogic opened #1073 "[cpp] Clean-up runtime"
Merged https://github.com/EsotericSoftware/spine-runtimes/pull/1046, need to fix up a few things things.

- [x] Integrate with CMake build in root dir
- [x] All Spine objects derive from `SpineObject`, which overrides it's new/delete operators, which in turn calls into the `Extension` instance. A user can set the extension instance to control memory management.
- [x] Refactor unit tests, make them

[2018-02-05 14:20] neuronix opened #1074 "[AS3/Starling] Event string, int & float values are missing"
Hi,

The event parameters are always set to the default values:
event.data.stringValue = ""
event.data.intValue = 0
event.data.floatValue = 0

JSON export is correct as you can see below

[code]

But as you can see in the test app log:

"onEvent:", track, event.data.name, event.data.stringValue, event.data.intValue, event.data.floatValue

gives:
onEvent: 0 sound_fire  0 0
onEvent: 0 1  0 0
onEvent

[2018-02-06 13:12] badlogic opened #1075 "[cocos2d] add SkeletonRenderer::setSlotRange(startSlot, endSlot) to render only slots in that range"
This can be used to separate rendering front and back parts of a skeleton ala Unity's SkeletonRendererSeparator. See http://esotericsoftware.com/forum/Cocos2dx-Skeleton-Render-Separator-for-Cocos2dx-9900

[2018-02-06 14:16] #1075 closed, assigned to badlogic

[2018-02-07 15:36] neuronix opened #1076 "[AS3/Starling] Pauses, lags, delays prevent onComplete/onInterrupt events from triggering"
The events should always trigger after completing or interrupting, even if the client lags or is paused, or there are frames skipped for some reason etc.

Expected behavior:
1. Add listeners to skeleton
2. Play "animation"
3. Pause with debugger to simulate either deactivate of app, slow rendering or frames skipped
4. Have animation skip (not a problem) but onComplete triggered before continuing w

[2018-02-08 10:03] badlogic opened #1077 "[as3/starling] Unexpected number of draw calls"
See http://esotericsoftware.com/forum/AS3-Starling-Performance-Optimization-9914

[2018-02-08 10:45] neuronix commented on #1076
This isn't super urgent, my current workaround is adding a timeout as a failsafe when waiting for an animation to complete.

[2018-02-08 11:06] neuronix opened #1078 "[AS3/Starling] Potential optimization in TwoColorEffect.beforeDraw"
Adobe Scout reported a lot of array creation in this function, it is related to this line:

[code]

Could it be safely replaced by a constant?

[code]

I gave it a try and nothing seemed to break and the high Garbage collection spikes disappeared. :)

[2018-02-08 11:11] neuronix commented on #1078
I'm not a Stage3D specialist so it might be a naive idea.. And sorry for all the issues @badlogic :)

[2018-02-08 12:09] badlogic commented on #1078
Hey, no problem @neuronix. I'm really glad someone takes the Starling runtime out for a ride. That simple little allocation trick will definitely do. I'm starting to work on the other issues as we speak.

[2018-02-08 13:02] #1078 closed, assigned to badlogic

[2018-02-08 13:21] badlogic commented on #1077
Can not reproduce. Using test skeleton by user and the following code:

[code]

I get the expected 1 draw call:

![https://sht.tl/CIbLtZ](https://sht.tl/CIbLtZ)

@neuronix I'll need a better test sample to reproduce your error. However, I've checked the code for any obvious batch breaking issues. Everything works as intended. One thing that can break your batching is our use of a custom mesh style

[2018-02-08 13:21] #1077 closed, assigned to badlogic

[2018-02-08 13:30] badlogic commented on #1078
@neuronix Another test case, interspersing Starling Image instances inbetween skeletons:

[code]

As expected, this results in 20 draw calls, as the batch is broken each time between a skeleton and an image. I assume this is happening in your code/project. I can rewrite SkeletonSprite so you can disable the two color tint feature and use the default Mesh style and effect. However, before doing tha

[2018-02-08 13:36] badlogic commented on #1078
@neuronix I've changed SkeletonSprite so it uses the standard `MeshStyle` by default. If one of your skeletons requires two color tinting, you can enable that per skeleton via the `twoColorTint` property.

With this change, two color tint off by default, the above example with interspersed images also only takes a single draw call.

[2018-02-08 13:44] badlogic commented on #1074
`event.data` is the setup pose event data, not the data keyed in the animation. Use this `event.intValue`, `event.floatValue`, `event.stringValue`.

[code]

You can see it working as intended in `SpineboyExample`.

[2018-02-08 13:44] #1074 closed, assigned to badlogic

[2018-02-08 13:45] neuronix commented on #1077
Hi @badlogic, I'm really sorry for the false alarm.. my custom viewer was creating extra draw calls when listing the animations.. got a bit of tunnel vision there. Thanks for checking it out.

Bad news for us is that we'll have to look for other optimizations to improve performance on Android.

[2018-02-08 13:47] neuronix commented on #1078
Wow! Thanks for the optimization!

[2018-02-08 13:48] badlogic commented on #1077
@neuronix no, there might actually not be bad news. I've changed the default behaviour of `SkeletonSprite`. Previously, by default, `SkeletonSprite` uses its own vertex layout, mesh style and effect. If you intersperse rendering of `SkeletonSprite` with say Starling's `Image`, then that would break batching and result in more draw calls.

With the latest change (available in the 3.6 branch), by de

[2018-02-08 13:51] neuronix commented on #1074
Thank you for the clarification and sorry for the confusion! :)

[2018-02-08 13:53] neuronix commented on #1077
Thank you @badlogic, I will test this :)

[2018-02-08 13:58] badlogic commented on #1072
Having trouble reproducing this. I used `SpineboyExample` as the test bed. I modified enqueuing animations as follows:

[code]

The listener's output:

[code]

Works as intended

[2018-02-08 13:58] #1072 closed, assigned to badlogic

[2018-02-08 14:04] badlogic commented on #1076
I've used `SpineboyExample` to reproduce this.

[code]

I set a breakpoint in `onClick`. I then start debugging and click on Spineboy at around 4 seconds in. I then wait for 20 seconds and resume. All events are fired as expected.

[code]

Maybe you could modify `SpineboyExample` to show what the problem is?

[2018-02-08 15:43] badlogic opened #1079 "[cocos2dx] Clipping glitch"
See http://esotericsoftware.com/forum/Runtime-Mask-gltich-in-Cocos-2dx-9898

[2018-02-09 09:53] sumday commented on #1047
How about this issue now?

[2018-02-12 13:22] neuronix commented on #1072
Hi guys, sorry again.. another false alarm. I had been using onSignal.add(function (trackIndex:int) : void {.... which I probably picked up from an older implementation somewhere. Trust AS3 to compile & run without throwing any errors..!

Using onSignal.add(function (trackEntry:TrackEntry) : void { works as intended!

I'm a bit ashamed that most of the issues I submitted were a waste of your time.

[2018-02-12 13:24] badlogic commented on #1072
No worries. As with all software, one can never rule out something's wrong.
Keep posting those issues!

On Feb 12, 2018 2:22 PM, "neuronix" <notifications@github.com> wrote:

[2018-02-12 13:24] neuronix commented on #1076
Hi @badlogic I'm pretty sure this and https://github.com/EsotericSoftware/spine-runtimes/issues/1072 are related, so I'll close the issue!

[2018-02-12 13:24] #1076 closed, assigned to nobody

[2018-02-12 13:25] badlogic commented on #1076
Oki, cheers!

On Feb 12, 2018 2:24 PM, "neuronix" <notifications@github.com> wrote:

[2018-02-12 14:03] neuronix commented on #1072
@badlogic I could have found something else though, using the SpineBoy example and changing the last animation to non-looping:

[code]

I get
[code]

The last "end" event (0 end: run) does not seem to be triggered contrary to http://esotericsoftware.com/spine-unity-events

Here is the complete file:

[code]

[2018-02-12 14:12] badlogic commented on #1072
This is "by design". The last queued animation on a track will be applied indefinitely until you clear the track or a new animation is enqueued/set. It's a consequence of `TrackEntry.trackEnd` being set to positive infinity by default, see http://esotericsoftware.com/spine-api-reference#TrackEntry-trackEnd

There's been a lot of discussion on what the default should be, and it was agreed to settle

[2018-02-12 14:13] neuronix commented on #1072
Okay, thanks for the clarification :)

[2018-02-13 08:31] MichalBerlinger commented on #943
Hi, I want to ask about a roadmap for this Timeline support.
Is it safe to use it in the current project or are you planning to change API (and so braking references etc.)?
If just features will be added, it is safe to use it even when it might be a little buggy, but it is important, that future updates will not break all prepared timelines.

[2018-02-13 12:37] pharan commented on #943
It's safe to use Spine AnimationState Track. How it interfaces with Spine is simple (just makes SetAnimation calls according to the track arrangement) and is pretty much going to be as is. Confidently use that one, though at the moment, I wouldn't use it for any timelines that need to playback backwards.

Our current problems for the Spine timeline tracks in general is the lack of Unity's editor-s

[2018-02-13 18:14] pharan commented on #943
It's safe to use Spine AnimationState Track. How it interfaces with Spine is simple (just makes SetAnimation calls according to the track arrangement) and is pretty much going to be as is. Confidently use that one, though at the moment, I wouldn't use it for any timelines that need to playback backwards.

Our current problems for the Spine timeline tracks in general is the lack of Unity's editor-s

[2018-02-14 10:05] neuronix opened #1080 "[AS3/Starling] Potential performance optimization for batching"
Hi guys!

We have found a potential optimization in SkeletonSprite.as, by adding an if to

Line 213 Before
`painter.state.blendMode = blendModes[slot.data.blendMode.ordinal];`

Line 213 After
`if (mesh.color) painter.state.blendMode = blendModes[slot.data.blendMode.ordinal];`

This has improved batching and largely reduced draw calls in our animations since our artist often hides items with opacit

[2018-02-14 10:42] badlogic commented on #1080
That kind of works, but will fall apart if `mesh.color` is != 0, which I assume can be the case quite a bit, i.e. rgb are set to some value, but alpha is set to 0.

It is better to check the alpha component for 0, then skip rendering of that attachment/slot all together. E.g. in line 160 (3.7-beta branch, but can be applied in 3.6 branch as well):

[code]

[2018-02-14 10:53] neuronix commented on #1080
Thanks @badlogic  ! We have tested the proposed fix and it works like a charm! :)

[2018-02-14 11:05] badlogic commented on #1080
Cool :) No need to close the issue, I gotta add this to the source as well.

[2018-02-14 11:13] neuronix opened #1081 "[AS3/Starling] Add support for whitespace trimming in atlases"
Hi guys,

We have a series of animations we'd like to batch in a big atlas for performance. The issue we have is that if we enabled whitespace trimming in the atlas, the animations no longer work. Is there a way to enable this? Is there plan for handling trimming? How hard would it be to implement it?

I gave a quick look at the 3.7 beta branch and unless I'm mistaken I didn't see any related chan

[2018-02-14 11:34] badlogic opened #1082 "[ue4] Allow blueprints to list bones of SkeletonComponent"
See http://esotericsoftware.com/forum/UE4-Set-bone-transform-9921

[2018-02-14 11:35] badlogic commented on #1081
That's actually not quite trivial and I currently don't have the resources to implement it in the short term I'm afraid. But let's keep this issue open and I'll try to get to it when I find some spare time.

[2018-02-14 11:37] badlogic commented on #1081
Wait, I'm an idiot. Stripping should work in Starling. Can you send me an example that breaks? You can share confidential assets via contact@esotericsoftware.com (Please reference this issue in your email).

[2018-02-14 16:22] PierrotLL commented on #1081
Hi badlogic, I work with neuronix :)

I took as example the goblins in spine-starling-example.
I re-packed the atlas with TexturePacker using params "--trim-mode Trim --enable-rotation --padding 2"
You can download the resulting atlas here : https://gist.github.com/PierrotLL/c0193352d8368afd55110fa8b218b836
As you can see (using the spine-starling-example project), the eye-blinking animation is br

[2018-02-16 10:43] badlogic opened #1083 "[ts][webgl] add SkeletonRenderer::setSlotRange(startSlot, endSlot) to render only slots in that range"
See http://esotericsoftware.com/forum/Hierarchy-of-embedded-animations-9943, make it analogous to https://github.com/EsotericSoftware/spine-runtimes/issues/1075

[2018-02-16 12:47] #1083 closed, assigned to badlogic

[2018-02-20 14:11] badlogic commented on #1079
Not reproducable, latest 3.6 branch fixes it for user.

[2018-02-20 14:11] #1079 closed, assigned to badlogic

[2018-02-21 16:20] PierrotLL commented on #1081
I noticed that MeshAttachment.regionOffsetX/Y is set but never used.

[2018-03-03 10:02] Rainfarer commented on #1047
Are there any news regarding this one?

[2018-03-07 09:58] badlogic opened #1085 "[ue4] Collision not triggering in packaged game"
http://esotericsoftware.com/forum/UE4-Spine-mesh-collision-on-packaged-game-10029

[2018-03-14 08:22] lihaochen910 opened #1086 "[Unity] IndexOutOfRangeException and Matrix stack full depth reached"
Unity Version:2017.2.*,2017.3.1f1,2018.1.0b10
Spine Runtime:spine-unity-3_6-2018-03-08.unitypackage

That's Very similar to #501 , When I try to preview an animation in SkeletonData.
![image](https://user-images.githubusercontent.com/11693880/37390477-31c60fc6-27a3-11e8-95bd-02eb139f8d41.png)
![image](https://user-images.githubusercontent.com/11693880/37390588-915d4c10-27a3-11e8-9283-03ccaa2b91b3.

[2018-03-14 08:27] lihaochen910 commented on #1086
The skeleton.json file.
[skeleton.json.txt](https://github.com/EsotericSoftware/spine-runtimes/files/1810173/skeleton.json.txt)

[2018-03-14 08:53] badlogic opened #1087 "[as3] BoundingBox attachment world coordinates are wrong"
See http://ru.esotericsoftware.com/forum/Starling-World-verticies-of-bounding-box-10015 and email by Ilya Grachev

[2018-03-14 10:56] badlogic commented on #1087
Works as intended, world coordinates are relative to `SkeletonSprite.x/y`.

[2018-03-14 10:56] #1087 closed, assigned to badlogic

[2018-03-14 15:03] pharan commented on #1086
Thanks for reporting and sending a repro case! This wasn't happening in our test skeletons with bounding boxes or other test skeletons sent to us.

There may be something else going on with your export but I'm still looking into it. For now, adding changes to the Spine-Unity editor code to prevent these strange cases from breaking Unity like that.

[2018-03-14 15:17] pharan commented on #1086
Nothing seems wrong with your export. It was just the editor code.

But note that Unity BoundingBoxFollower doesn't support weighted bounding boxes, because Unity's Physics, box2D itself doesn't support shape deformation. But you can still do manual collision checking with methods you'll have to write yourself.

You can apply the fix immediately in your project by using the latest code:
https://ra

[2018-03-15 01:21] lihaochen910 commented on #1086
It works.
I will try not to use weighted bounding boxes.

I still have a question.
My bounding boxes (in Unity) do not change shape with the animations exported by the Spine editor.
Is this related to weighted bounding boxes? I have added the BoundingBoxFollower Component to the corresponding bounding boxes.

[2018-03-15 14:01] pharan commented on #1086
Unity's Physics and box2D itself doesn't support shape deformation.

[2018-03-15 14:01] #1086 closed, assigned to pharan

[2018-03-20 07:04] badlogic opened #1088 "[ue4] Build fails on Android due to DLLIMPORT redefinition"
See https://pastebin.com/qP5NSj5Y and http://esotericsoftware.com/forum/UE4-Android-Launch-Warnings-and-Errors-10092

[2018-03-20 14:11] badlogic commented on #1088
Fixed in #1088

[2018-03-20 14:11] #1088 closed, assigned to badlogic

[2018-03-20 15:42] #1085 closed, assigned to badlogic

[2018-03-22 16:41] huangwei1024 opened #1090 "[cpp] tint black color is RGB， not RGBA"
for binary
[code]

for json
[code]

[2018-03-23 15:55] tonnochiroad commented on #762
C2/C3 User here - A Spine plugin for C3 would be amazing for the indie game I've been developing with a small team. Would love to advocate for the fantastic Spine at events like Rezzed. But for now I'm a Spriter user.

[2018-03-27 09:54] badlogic commented on #1090
The code in the repository is actually correct. We simply do not use the alpha component. In both cases the alpha component is simply ignored.

[2018-03-27 09:54] #1090 closed, assigned to nobody

[2018-03-27 10:02] badlogic opened #1091 "[ue4] Update to 4.19"
We need to wait for RuntimeMeshComponent to work with 4.19. Seems to be a major change. https://github.com/Koderz/RuntimeMeshComponent/issues/87

[2018-03-27 15:39] badlogic opened #1092 "[runtimes] Port fix for AnimationState (3.7 only)"
See https://github.com/EsotericSoftware/spine-runtimes/commit/a961b41a9c2c994aeca7d4b05dee440be6299bc8

- [x] spine-libgdx

---
- [x] spine-csharp
- [x] spine-xna
- [x] spine-monogame
- [x] spine-unity
- [x] spine-tk2d

---
- [x] spine-c
- [x] spine-sfml
- [x] spine-cocos2d-objc
- [x] spine-cocos2dx
- [x] spine-ue4

---
- [x] spine-cpp

---
- [x] spine-ts core
- [x] spine-ts webgl
- [x] spine-ts c

[2018-03-28 12:11] #1092 closed, assigned to badlogic, pharan

[2018-04-06 09:43] badlogic opened #1094 "[sfml] Blending on Windows is broken"
See http://esotericsoftware.com/forum/SFML-Rectangles-Appear-in-Examples-10170

[2018-04-06 09:53] badlogic opened #1095 "[as3][lua][ts] Add support for SkeletonBinary"
See http://esotericsoftware.com/forum/Starling-SkeletonBinary-is-missed-10167

- [x] TypeScript
- [x] AS3

[2018-04-12 06:20] huangwei1024 opened #1097 "[c] tint black color error"
#1090
sorry for error tag, I test the problem in cocos2dx, it use spine-c runtime.

![image](https://user-images.githubusercontent.com/667876/38659278-794037f4-3e5b-11e8-850c-001c4efacf37.png)

json on the left, binary on the right

[code]
blue dark color define in json. but not correct in binary file.

[2018-04-12 06:26] huangwei1024 commented on #1097
[code]

![image](https://user-images.githubusercontent.com/667876/38659782-8147e954-3e5d-11e8-9da0-08380d7c77cb.png)

the export file version is 3.6.52, spine-c runtime is branch/3.6 e25989ca6d88a15876c360ac2949b5469c4d6054

[2018-04-12 07:27] huangwei1024 commented on #1097
I modified in my project. https://github.com/EsotericSoftware/spine-runtimes/issues/1090#issue-307724445

![image](https://user-images.githubusercontent.com/667876/38662127-dc022276-3e65-11e8-98c9-efef2e8f0983.png)

its look ok. but I dont known the problem at the binary file or the code `spSkeletonBinary_readSkeletonDataFile`

[2018-04-12 07:31] badlogic commented on #1097
Could you try the 3.7-beta branch? I've added fixes for the parsing there https://github.com/EsotericSoftware/spine-runtimes/commit/b40eb593c978d6ee47d4c67bf23ee78714e0c03a.

[2018-04-12 07:31] #1097 closed, assigned to nobody

[2018-04-12 08:09] huangwei1024 commented on #1097
you test yout code ok?

![image](https://user-images.githubusercontent.com/667876/38664260-a507ad08-3e6b-11e8-999b-2184a6e2b55d.png)
![image](https://user-images.githubusercontent.com/667876/38664270-aa3cbb88-3e6b-11e8-82fc-3c13c312712d.png)

the rgb bytes sequence not same as you, but I test my code is ok.

[2018-04-12 08:34] badlogic commented on #1097
Terribly sorry, you are of course correct. I've fixed this in the 3.7-beta branch and the 3.6 branch!

[2018-04-12 08:35] badlogic opened #1098 "[cocos2dx] Initial skeleton not setup for first rendering."
See http://zh.esotericsoftware.com/forum/cocos2dx-SkeletonAnimation-texture-flicker-10127?p=45779#p45779

[2018-04-12 08:42] #1098 closed, assigned to badlogic

[2018-04-12 08:44] fred1024 commented on #1033
We had some troubles with our premultiplied alpha assets ... so i tried this and it seems to work.. could you confirm it is ok ?

with opacityModifyRGB(true)

`
const char* TWO_COLOR_TINT_PMA_FRAGMENT_SHADER = STRINGIFY(
\n#ifdef GL_ES\n
precision highp float;
\n#endif\n

varying vec4 v_light;   // a pma value (as skeletonRenderer opacityModifyRgb() must be true to work properly with pma)
varying

[2018-04-12 08:47] #1080 closed, assigned to badlogic

[2018-04-12 08:52] badlogic commented on #1081
Finally had some time to look into this. Turns out we don't support white-space trimming for meshes at the moment. This is as much a runtime problem as it is an editor problem. We have an issue for this on the editor tracker, closing this down.

[2018-04-12 08:52] #1081 closed, assigned to badlogic

[2018-04-12 09:01] badlogic opened #1099 "[starling] Clipping issues"
See http://esotericsoftware.com/forum/Starling-Clipping-doesn-t-work-10139, repro via e-mail.

[2018-04-12 10:07] Friksel opened #1100 "Values intValue, floatValue and stringValue are parsed directly in the event, instead of in event.data"
Hi there, I'm using the pixi-spine runtime and just found some strange behaviour in the event-object according to the event data ( pixijs/pixi-spine#237). Looking at these official runtimes as a reference the same thing seems to happen in these ts-runtimes too. So I therefore post the issue here as well:

Both the `event`-object as well as the `eventData` object do have the values `intValue`, `flo

[2018-04-12 11:47] badlogic commented on #1099
See resolution on forum.

[2018-04-12 11:47] #1099 closed, assigned to badlogic

[2018-04-12 11:50] badlogic commented on #1100
It's not wrong. `EventData` contains the default values for the event in the setup pose. When you add an animation to a skeleton, and key an event, you can set values of these properties specifically for this key of the event, which can deviate from the default values.

[2018-04-12 11:50] #1100 closed, assigned to nobody

[2018-04-12 12:01] Friksel commented on #1100
Ah I see. That's actually very clever and useful. Thanks!

[2018-04-12 14:28] #1035 closed, assigned to HaraldCsaszar

[2018-04-13 15:17] Shiu opened #1101 "[spine-ts] incorrect canvas size when using spine-widget"
Canvas size is much larger than the actual skeleton size.
See http://www.fainted.dk/playtest/plays.html

Attached project was created with Spine 3.7.15-beta
[plays.zip](https://github.com/EsotericSoftware/spine-runtimes/files/1907947/plays.zip)

[2018-04-13 16:15] erikari commented on #1101
I see in your code that you set the canvas to be that size.
[code]
What do you expect to happen? The skeleton to scale up?

Documentation says:

So I guess the skeleton should be bigger since you set a specific size for the canvas?

[2018-04-13 16:28] Shiu commented on #1101
expected is the skeleton should fit inside the canvas since data-fit-to-canvas is true. Bounds might not be calculated correctly.

FWIW, setting manual scale does not give the desired result either.

[2018-04-13 16:46] Shiu commented on #1101
The issue was caused by a scale key being set on the root bone. Root bone was hidden, so the key didn't show up in dopesheet. Removing the key, fixes the issue

Can close issue if this is the expected behavior.

[2018-04-15 20:34] pharan commented on #841
Is this going to be applied to 3.7 or 3.6?

[2018-04-17 10:02] badlogic opened #1102 "Update CHANGELOG before 3.7 release"
Include changes to 3.6 as well.

[2018-04-17 10:34] #1101 closed, assigned to nobody

[2018-04-19 22:20] millansingh commented on #728
Any idea on a timeline for this?

[2018-04-23 14:23] mjtorn commented on #728
@badlogic you added the "ready" label, what's up with that? Is this available somewhere?

[2018-04-23 14:24] badlogic commented on #728
That means it's ready to be worked on. We have not started work on Godot yet.

[2018-04-23 14:38] mjtorn commented on #728
@badlogic thank you very much for replying :) Do you know what kind of issues you may expect? I tried to make the runtime above more API-compliant with Godot's AnimationPlayer API, but there are some things that are really tough. The spine-c API looks nothing like Godot's, so I'll love you forever if you find a way to make Spine a transparent drop-in replacement ;)

[2018-04-23 14:59] badlogic commented on #728
I haven't looked into issues concerning Godot yet, so I'm afraid I have no
input in the Animationsplayer API and it's compatibility with Spine's API.
What I can say is that we won't change Spine's API for Godot.

On Mon, Apr 23, 2018, 16:38 Markus Törnqvist <notifications@github.com>
wrote:

[2018-04-23 15:06] mjtorn commented on #728
Of course you shouldn't change the API and I never meant to imply anything like that :D Just that it would be real sweet if the Godot-facing API would be Godot-like if possible, and if not, well, it isn't at the moment either.

[2018-04-23 15:07] badlogic commented on #728
I quickly looked into Animation and AnimationPlayer. It seems that is more targeted at animations authored in Godot itself, manipulating node properties. I'm not sure if marrying that with the Spine Runtimes API makes sense. Do you have any use cases?

[2018-04-23 15:12] mjtorn commented on #728
My case is probably a niche one, but this PR for the Escoria framework. "My animator guys" are Spine users, so I got the license and tried to make things work out in Godot-using-Escoria.

https://github.com/godotengine/escoria/pull/134

That's why I have to accept things might not work out optimally and I may be stuck with a commit containing some personal wrapping.

[2018-04-23 15:23] badlogic commented on #728
OK, as I understand it, Escoria uses the AnimationPlayer/Animation API. To integrate Spine with Escoria, you can either have separate code paths (as in your PR) or Spine implements the AnimationPlayer/Animation API. I'm afraid that will not be happening. The AnimationPlayer/Animation API by Godot does not cover the full feature set of Spine's API (and vice versa for a single feature: reverse playb

[2018-04-23 15:34] mjtorn commented on #728
@badlogic thanks for the reply, it was pretty much as expected because obviously APIs reflect the feature sets and thus are hard to integrate.

I'm almost relieved to have the matter settled now - and certainly grateful for the quick comments! - because that takes useless speculation and what-ifs off the table :)

[2018-04-24 02:07] pharan commented on #943
@Abuki
With the introduction of [Animation Reference Assets](http://esotericsoftware.com/forum/PSA-Spine-Animations-as-Unity-asset-references-10201), we may switch AnimationState Tracks over to using these instead of using the SkeletonDataAsset/string pair right on the clips.

Is this change workable for you? It involves having to reassign all your existing clips using the references.

[2018-04-24 03:40] FastGitHub opened #1105 "change position of node, it disappear from the screen."
Use CMMotionManager, update position of node, it disappear. How to fix,please!

[2018-04-24 06:55] badlogic commented on #1105
Please be more specific. I assume this is cocos2d-x? Please provide a simple code example to demonstrate the problem.

[2018-04-24 06:55] #1105 closed, assigned to nobody

[2018-04-24 06:57] MichalBerlinger commented on #943
I am not currently using the Timeline so from my point of view it is ok. And I guess, there could be an editor script written to replace strings with assets.

The funny thing is that I implemented something like these reference assets myself a month or two ago for my project :D

[2018-04-27 05:48] zhengyaoyuan opened #1106 "How to include Cocos2D to an already existing iOS project"
THX. Is there any documentation?

[2018-04-27 08:02] badlogic commented on #1106
You can find documentation on integrating our runtime here https://github.com/EsotericSoftware/spine-runtimes/tree/3.6/spine-cocos2dx#setup

[2018-04-27 08:02] #1106 closed, assigned to nobody

[2018-04-28 13:13] Antemation commented on #943
Does this work for Spine UI animations as well? (Tried but didnt get it to work)
And if not, any plans on implement it for Spine UI animations as well?

[2018-04-30 10:37] pharan commented on #943
@Antemation Currently, no. I guess we can add one just for SkeletonGraphic. Or have a separate adapter class.
Look forward to this this week. We will update this soon.

The problem is really that Unity's inspector out of the box has no support components that implement interfaces, and SkeletonGraphic uses Unity's MaskableGraphic as the class it derives from. So it can't use the same classes right

[2018-05-02 06:52] jimmymjing opened #1107 "[Starling] newRegionAttachment's UV doesn't display correctly"
Hello,
I'm using Starling framework. After upgrading to the latest SDK, the RegionAttachment's UV doesn't display  subtexture correctly if the texture atlas allowing 90 degrees rotation. I'm using TexturePacker (CodeAndWeb) to generate atlas.

[2018-05-03 15:38] ivanpopelyshev opened #1108 "[ts] Extra tabs"
https://github.com/EsotericSoftware/spine-runtimes/blob/3.7-beta/spine-ts/core/src/PathConstraint.ts#L93
https://github.com/EsotericSoftware/spine-runtimes/blob/3.6/spine-ts/core/src/PathConstraint.ts#L93

[2018-05-04 02:28] p0w1nd commented on #728
Looking forward to this (hopefully "soooon"). Thanks :)

[2018-05-04 09:56] badlogic opened #1109 "[runtimes] Port PathConstraint changes"
See https://github.com/EsotericSoftware/spine-runtimes/commit/e4839352ecae73221f0ececd45beac67312ab12e. Only fix in 3.7-beta branch.

- [x] spine-libgdx

---
- [x] spine-csharp
- [x] spine-xna
- [x] spine-monogame
- [x] spine-unity
- [x] spine-tk2d

---
- [x] spine-c
- [x] spine-cpp
- [x] spine-sfml (does not support tint black)
- [x] spine-cocos2d-objc
- [x] spine-cocos2dx
- [x] spine-ue4

---
-

[2018-05-04 09:56] badlogic commented on #1108
God damn it, I told my editor to remove whitespace :D Cheers, fix is incoming along with internal changes to PathConstraint, see https://github.com/EsotericSoftware/spine-runtimes/issues/1109

[2018-05-04 09:56] #1108 closed, assigned to badlogic

[2018-05-04 09:57] badlogic commented on #1107
Could you please provide me with a sample project to reproduce the issue?

[2018-05-04 09:58] #1073 closed, assigned to badlogic

[2018-05-04 10:17] fightingplane commented on #894
I'm still suffering this bug in Unity 5.6.0f1

[2018-05-04 12:53] #1109 closed, assigned to badlogic

[2018-05-05 00:13] Rennan24 opened #1110 "[unity] Empty preview window when selecting SkeletonData"
Upon upgrading to Unity 2018.1.0f2 I noticed that when I select a SkeletonData asset and look in the preview window the skeleton does not show up, It was working fine when I was using it 2017.3.0f3 but for some reason it broke in the new version.

This is what it looks like in 2017.3.0f3
---
![unity_2018-05-04_16-56-59](https://user-images.githubusercontent.com/20914286/39657464-e9a6cefa-4fbc-11e8

[2018-05-05 14:03] pharan commented on #1110
Thanks for reporting. We'll check it out.

[2018-05-05 15:28] pharan commented on #1110
Seems a bit hairy to track down. No ETA for now.

[2018-05-05 18:40] Rennan24 commented on #1110
Oh dang I see, well at least it gave me an excuse to upgrade in order to see if that would fix it lol. Glad to see some of the new features like the AnimationReferenceAsset and EventDataReferenceAsset, good work on those! 😄

[2018-05-06 14:09] pharan commented on #1110
It's behaving strangely. I'm beginning to wonder if it's a bug in Unity 2018.1, but I haven't seen other reports of it yet.

[2018-05-08 05:47] wittydoma commented on #1110
2017.4.2f2
Empty preview,too.

[2018-05-08 16:59] pharan commented on #1110
Thanks for reporting! That helps

[2018-05-11 08:22] badlogic commented on #1107
@jimmymjing I'm closing this out. Please submit a new issue if you have a reproduction case for us.

[2018-05-11 08:22] #1107 closed, assigned to badlogic

[2018-05-11 08:26] jimmymjing commented on #1107
Hello, I will make some time this weekend and submit a sample project. I'm sorry. Actually just package textures using texturepacker(codeNweb ) with rotation enabled will duplicate the issue, but I will submit a sample soon.

[2018-05-14 10:29] PierrotLL opened #1111 "[Starling] hitTest ignores touchable"
SkeletonSprite overwrites method hitTest but doesn't test if object is touchable and visible.

[2018-05-15 06:32] pharan commented on #1110
If anyone has any idea what changed with preview tools in Unity 2017.4 and 2018.1, do let us know! This bug is kind of weird.

[2018-05-15 06:49] pharan opened #1112 "[AnimationState] Complete event with a looping zero-duration animation. Doesn't fire."
AnimationState fires the Complete event under the following conditions:
https://github.com/EsotericSoftware/spine-runtimes/blob/5919e0bea3db561e761a05ac6ca4a787d992be39/spine-libgdx/spine-libgdx/src/com/esotericsoftware/spine/AnimationState.java#L389-L392

Here's a couple of weird things about it when the Animation duration is zero:
1. `entry.trackTime % duration` will become `entry.trackTime % 0`

[2018-05-15 06:51] badlogic commented on #1112
What's the use case for animation duration being zero?

[2018-05-15 09:22] #1111 closed, assigned to nobody

[2018-05-15 22:05] pharan commented on #1112
Julen said:

Nate suggests the event should fire every frame.
Should the condition look like this?
[code]

[2018-05-15 22:51] NathanSweet commented on #1112
Yeah, that looks OK. The ternary operator has gotten complex enough I think it's time to separate it out:
[code]
This seems OK to do for all the runtimes.

[2018-05-16 08:38] badlogic commented on #1112
@pharan I'm implementing it in the reference implementation and modified this issue to reflect the status of the port for all runtimes. Please do it in 3.6, then we merge it into 3.7-beta.

[2018-05-16 09:52] #1112 closed, assigned to NathanSweet, badlogic, pharan

[2018-05-16 09:54] badlogic commented on #1094
Fixed.

[2018-05-16 09:54] #1094 closed, assigned to badlogic

[2018-05-16 09:56] badlogic opened #1113 "[cpp][c] Replace C runtime with C++ runtime in cocos2d-x & UE4"

[2018-05-16 09:59] #1011 closed, assigned to badlogic

[2018-05-17 11:42] badlogic opened #1114 "[ts][canvas] Add support for alpha tinting for experimental triangle rendering."
See http://esotericsoftware.com/forum/I-can-t-see-the-ColorTransform-Effect-in-spine-canvas-10327

[2018-05-17 11:43] #1114 closed, assigned to badlogic

[2018-05-20 14:59] 420everyday opened #1115 "Packaging Error For UE4 (ver 4.17.2)"
Hi, I Making Project In Unreal Engine With Spine Tools.

We Just Reached Pre-Playable Level. So We Tried To Packaging And Errors Comes Out.

al04\D_UEProject\0417syss\SpineUE4.uproject -NoUBTMakefiles  -remoteini="D:\OneDrive\SYSSUnreal04\D_UEProject\0417syss" -skipdeploy -noxge -NoHotReload -ignorejunk. See logfile for details: 'UnrealBuildTool-2018.05.20-23.47.59.txt'

The Log Seems Spine Plug-i

[2018-05-20 15:00] badlogic commented on #1115
Please post the complete log files.

[2018-05-20 15:11] 420everyday commented on #1115
Here Is The Complete Log,

Notice
1. We Working On Onedrive. We Tried Get It Out and Trying Packaging, It's not working.
2. 위치 means Location. There is no Local Language In Entire Project.

[2018-05-22 12:53] GarlicDipping commented on #1110
Hi, I've struggled with this problem in my own tool too, and found out that spine's SkeletonData Inspector has the same problem.

It seems like Unity changed `PreviewRenderUtility` class a bit, so you must call

`previewRenderUtility.AddSingleGO(GameObject)`

for a gameobject to be previewed.

I've tested it out by adding

`previewRenderUtility.AddSingleGO(previewGameObject);`

in spine-unity's `S

[2018-05-22 23:23] pharan commented on #1110
Thanks, @GarlicDipping !! That's a huge help. I'll try to apply this change this week.

I guess PreviewRenderUtility wasn't a well-documented class to begin with.

[2018-05-23 00:51] Rennan24 commented on #1110
Nice catch @GarlicDipping, a lot of the Unity Editor GUI stuff tends to be pretty bad with documentation, hopefully their new UIElements will have better documentation though!