[2018-05-23 02:42] GarlicDipping commented on #1110
Glad it helped guys 😄 I really hope unity to give more attention to the Editor GUI stuffs, too...

[2018-05-24 01:20] pharan commented on #1110
@GarlicDipping Might be interesting.
We were handling the SkeletonAnimation component having to be manually updated by calling `Update` and `LateUpdate`.

But it seems like in 2017.4 and 2018.1, the MonoBehaviors added via `AddSingleGo` has its `Update` method being called by the editor, but not `LateUpdate`

So animations were playing weirdly fast, but just removing all manual calls made it so it

[2018-05-24 01:25] #1110 closed, assigned to pharan

[2018-05-24 01:37] #943 closed, assigned to pharan

[2018-05-24 02:39] supersaiyansubtlety opened #1116 "Unable to build after adding Spine plugin for Unreal Engine"
Hello,
I'm trying to get started making a 2D game using unreal engine 4 and spine. I've followed the instruction to the best of my abilities [here](http://esotericsoftware.com/spine-ue4#Using-the-SpineUE4-Runtime) and viewed the example [here](https://github.com/EsotericSoftware/spine-runtimes/blob/3.6/spine-ue4/Source/SpineUE4/SpineUE4.Build.cs#L9)
When I try to start the Unreal Project it says t

[2018-05-24 09:15] badlogic commented on #1116
Sorry for the troubles. This is an issue with our `RuntimeMeshComponent` dependency, see https://github.com/EsotericSoftware/spine-runtimes/issues/1091. We are waiting on a fix from the maintainer. Please follow issue #1091.

[2018-05-24 09:15] #1116 closed, assigned to nobody

[2018-05-24 11:47] badlogic commented on #1115
I've tried to reproduce this with our spine-ue4 example project in this repository. I'm on Windows 10, 64-bit, using Visual Studio 2015. I've deleted the `Content/Test` folder from the project as it contains assets saved in 4.18. I get a clean build log and a successful build:

[code]
Could you please try compiling the example project on your end and see if that works? Then we can work backwards t

[2018-05-24 12:48] 420everyday commented on #1115
Thank you very much.
As you mentioned, we will try to work under the same conditions as your development environment.

[2018-05-24 15:22] supersaiyansubtlety commented on #1091
Will an older release of the runtimes work with the current versions of Unreal Engine and Visual Studio 2017 in the mean time?

[2018-05-24 15:36] NuclearCookie commented on #1091
No, spine is broken with UE4.19
If you want spine, use UE4.18 or lower..

[2018-05-24 16:32] ievgenmukhin opened #1117 "[c] spAnimationState_apply optimization"
https://github.com/EsotericSoftware/spine-runtimes/blob/d11ebfededd3ae285227f6cd1f93d3370dc80ff7/spine-c/spine-c/src/spine/Skin.c#L74

spAttachment* spSkin_getAttachment (const spSkin* self, int slotIndex, const char* name) which is called for each timeline in spAnimationState_apply consumes most of CPU time during animation state applying, especially for spine files with large amount of images. W

[2018-05-25 01:19] supersaiyansubtlety commented on #1091
Will I have to use the next to most recent version of spine runtimes, 3.6.32, with UE4.18?

[2018-05-25 06:56] NuclearCookie commented on #1091
From the readme in spine-runtimes/spine-eu4:
https://github.com/EsotericSoftware/spine-runtimes/tree/3.6/spine-ue4

[2018-05-27 13:26] 420everyday commented on #1115
At Last, We succeeded in packaging.
Thanks to your advice, I was able to resolve it.

You did not mention version 4.17, so we upgraded to version 4.18.
We migrate our project contents to version 4.18.
Before Format Computer, Install Plug-ins On Visual Studio 2015.
Launch Project, Run Packaging, Some Little Problem Comes and solve.
Packaging Success with full functional .exe!

Thanks Again! May God

[2018-05-27 14:02] badlogic commented on #1115
Great, thanks for getting back to me!

[2018-05-27 14:02] #1115 closed, assigned to nobody

[2018-05-27 14:04] badlogic commented on #1117
Ay, `spSkin_getAttachment` performs a linear search through the slot/name entries. Replacing that with a map definitely gives a good speed up. If you have made this change already, we are happy to merge a pull request. Otherwise I'll look into fixing it up asap.

[2018-05-27 18:25] ievgenmukhin commented on #1117
Hi, I have implemented this as temporary fix using 3rd party code from public domain for string hashing (murmur hash), so I'm not sure if it can be merged to your code base. I can update my fix with string hashing which is good for you, and create pull request if you want.

[2018-05-28 11:04] badlogic commented on #1117
Murmur should be fine license wise. Happy to merge your PR!

[2018-05-28 17:41] thomas-james-1986 commented on #728
Do you think this could be available around the time of the Godot 3.1 release (July / August)? That would make a Godot / Spine combination a very attractive package for a lot of people I think

[2018-05-28 19:33] badlogic commented on #728
I'm afraid that won't happen.

On May 28, 2018 19:41, "thomas-james-1986" <notifications@github.com> wrote:

Do you think this could be available around the time of the Godot 3.1
release (July / August)? That would make a Godot / Spine combination a very
attractive package for a lot of people I think

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on Git

[2018-05-29 14:31] badlogic opened #1119 "[ts] Events keep firing during mix-out"
See http://esotericsoftware.com/forum/TS-Multiple-events-fired-10395

[2018-05-30 10:12] kvfreedom commented on #949
AnimationPair a1 or a2 can be null.
This feature is useful.

[2018-05-30 10:25] pharan commented on #949
We currently have no ETA for this. But you can make do without this, currently.
It's just that the AnimationState doesn't do it for you out of the box.

To do this yourself, you would just check the value of the currently playing animation, and the next animation you want to play, and then set the `mixDuration` of the returned TrackEntry (from your setAnimation call) accordingly.

[2018-05-31 07:41] NathanSweet commented on #1119
Fix ready for porting: 2a7fd54224e53d73ae303bed480bdac10bacd838

[2018-06-03 11:27] ievgenmukhin commented on #1117
Did you have a chance to check my PR? https://github.com/EsotericSoftware/spine-runtimes/pull/1118

[2018-06-05 09:14] badlogic commented on #1117
I've commented on your PR! Sorry for the delay. Let's continue tracking this in the PR, closing this out.

[2018-06-05 09:14] #1117 closed, assigned to badlogic

[2018-06-05 21:50] piotr-j opened #1121 "[libgdx]TwoColorPolygonBatch vertex format differs from other Batches"
Looks like i didnt quite get it right in #1057, missed one corner case. Drawing text. BitmapFontCache uses `TwoColorPolygonBatch#draw (Texture texture, float[] vertices, int offset, int count)` and if theres more then 1 character it breaks the batch. Current solution cant be easily extended. Perhaps a flag for automatic conversion enabled by default?

Something like this might do the trick https:/

[2018-06-06 10:14] badlogic commented on #1121
I'm a little slow today, could you tell me how this is breaking the batch with BitmapFontCache?

[2018-06-06 10:23] piotr-j commented on #1121
BitmapFontCache passes in vertices for a bunch of glyphs at once, but it doesnt know about additional float thats required for dark color. That makes it fail to render properly and all further draw calls until batch ends.

[2018-06-06 14:22] pharan opened #1123 "[unity] PMA/non-PMA shader variants on a dropdown."
Allow `Spine/Skeleton` and related basic shaders to have PMA and non-PMA texture inputs as shader-variant inspector options.

Shooting for Spine-Unity for Spine 3.7 if this is possible.

This will also help Unity SpriteAtlas support where applying PMA to the packed texture may not be cleanly possible.

[2018-06-06 23:37] mhilbrunner commented on #728
FYI, Godot 3.1 *alpha* is *currently planned* for July 1st. Could be later, depending on how fast the remaining features can be implemented. Even then, Godot 3.1 final release in July seems optimistic. Even August would be early, wouldn't bet on it being released before September.

We're starting to have more docs that may be relevant:

http://docs.godotengine.org/en/latest/tutorials/plugins/gdnat

[2018-06-07 06:34] mjtorn commented on #728
Not sure when Spine 3.7 will be out, but looking at the beta branch https://github.com/EsotericSoftware/spine-runtimes/tree/3.7-beta/spine-cpp it seems that a generic c++ runtime is coming! :)

[2018-06-07 13:46] badlogic commented on #1113
Done, see 3.7-beta-ue4-cpp branch.

[2018-06-07 13:46] #1113 closed, assigned to badlogic

[2018-06-07 13:47] badlogic commented on #1091
I've replaced the dependency on RuntimeMeshComponent with the UE4 built-in ProceduralMeshComponent. The runtime is now compatible with 4.19, see the 3.7-beta-ue4-cpp branch. **NOTE**: that branch also contains a rather big change in that the underlying Spine runtime is now C++ based! If you are in production, you may want to make sure you test this in a separate project.

[2018-06-07 13:47] #1091 closed, assigned to badlogic

[2018-06-07 14:06] badlogic commented on #1041
I've unsuccesfully tried to come up with a solution to this. Sadly, there is none. It seems the collision mesh API of UE4 simply can't be bend to not generate those derrived files. I've now disabled collision mesh generation in the `SpineSkeletonRendererComponent`.

The better solution to this issue is to create a collision shape yourself and attach it to the default scene root.

[2018-06-07 14:06] #1041 closed, assigned to badlogic

[2018-06-07 14:07] badlogic commented on #905
This can now be achieved through the C++ API.

[2018-06-07 14:07] #905 closed

[2018-06-07 14:57] badlogic commented on #1119
Ported to all runtimes.

[2018-06-08 09:39] smaren commented on #1119
@badlogic I see you have closed this issue, it has however not been fixed for the 3.6 branch (at least for the TS version)

[2018-06-08 11:45] badlogic commented on #1119
I backported the changes to all 3.6 runtimes.

[2018-06-08 11:45] #1119 closed, assigned to badlogic

[2018-06-11 14:54] ilushaaa opened #1125 "[starling] Clipping doesn't work"
The issue is described here: http://ru.esotericsoftware.com/forum/Starling-Clipping-doesn-t-work-10139

Briefly:
1.  An animation with clipping didn't work. On the spine side was found that we need attach spine libs with source code (not as compiled swc). After that an animation played correctly.
2. Now I have found another issue with the same animation: if I change clipping animation to another a

[2018-06-13 12:43] #1102 closed, assigned to badlogic, pharan

[2018-06-13 13:07] badlogic commented on #1082
Added `SpineSkeletonComponent::GetBones`, returns an array of bone names.

[2018-06-13 13:07] #1082 closed, assigned to badlogic

[2018-06-13 13:14] badlogic commented on #1049
We've decided against this, as the `SpineSkeletonAnimationComponent` methods to set/add animations return a `UTrackEntry` on which such modifications can be more easily performed.

[2018-06-13 13:14] #1049 closed, assigned to badlogic

[2018-06-13 20:04] pharan commented on #940
Revisiting this for 3.7
The runtime implementation is working. But there's a lot of editor weirdness that needs to be fixed.

The current implementation has the user populating a List<Sprite> in the inspector.
UnityEngine.U2D.SpriteAtlas 's API for retrieving Sprite data returns clones of Sprites, and appends "(Clone)" to the end of their names, which makes the initial setup suboptimal and quite s

[2018-06-14 00:13] #1123 closed, assigned to pharan

[2018-06-14 00:13] pharan commented on #1123
https://github.com/EsotericSoftware/spine-runtimes/commit/9a832de821cec78e74a107bd62b970243fe7e7a6

[2018-06-14 00:39] pharan commented on #940
@vzlomvl It looks like it's still packing as square POT in 2018.1
![image](https://user-images.githubusercontent.com/1911082/41385490-95f72554-6fae-11e8-8fd8-8e4db76e3ca0.png)

[2018-06-14 05:57] vzlomvl commented on #940
@pharan No. For example if you set the padding equal 2 you get this(in Unity 2018.1.4f1):
![image](https://user-images.githubusercontent.com/17579325/41393911-9d155656-6fb0-11e8-82b5-8ff856395a3d.png)

[2018-06-14 16:01] pharan commented on #940
@vzlomvl Strange. So it's a bug. If your padding is 4 or 8, it'll pack square POT. If you set it to 2, it will work correctly.

4 seems to be the default so we need to warn people.

[2018-06-14 19:41] vzlomvl commented on #940
@pharan Seems like when the padding is 4 the textures doesn't fit in 1024x2048 and Unity pack it in 2048x2048(next POT size). I set the padding equal 4 and removed the head texture. After that Unity packed non square texture(1024x2048).
![image](https://user-images.githubusercontent.com/17579325/41434235-bad1076c-7023-11e8-992d-8c0030667a98.png)

[2018-06-15 13:02] #1125 closed, assigned to nobody

[2018-06-16 01:55] esterTion opened #1126 "webgl - Probable renderer issue"
I was messing with some resources from a game, trying to recreate the animation.
But the rendered result have some misplacement.

Left is webgl rendered result, and right is the original game.
The thumb of left hand and the legs are not in the right position.
![qq 20180616001439](https://user-images.githubusercontent.com/7265411/41494678-85192920-7149-11e8-87f0-ae8eb63aa9c8.jpg)

Since the game us

[2018-06-16 03:42] esterTion commented on #1126
Well... turns out hullLength for mesh should times 2, and bendDirection for IK constraints is opposite value. After figured this out by diffing both output line by line, now it's rendering correctly.
By the way, would you guys like to merge the SkeletonBinary class into main branch?

[2018-06-16 03:42] #1126 closed, assigned to nobody

[2018-06-16 04:55] esterTion commented on #1126
After that there's still something wrong, and after another two hours I finally found out that documentation of binary format about `bendPositive` is wrong. So this field is now `bendDirection` with a `signed char` value. And my converter always read it as `true` (as 1 and 255 both not falsy).
Seriously, the documents should be updated. 😂

[2018-06-16 19:24] pharan opened #1127 "[documentation] Fix binary format docs IK Constraint bendDirection"
https://github.com/EsotericSoftware/spine-runtimes/issues/1126#issuecomment-397786912

[2018-06-18 19:09] vzlomvl commented on #940
@pharan  In Unity 2018.2, UnityEditor.U2D namespace was added. https://docs.unity3d.com/2018.2/Documentation/ScriptReference/U2D.SpriteAtlasExtensions.html

[2018-06-19 18:30] pharan commented on #940
I think it was already in the U2D namespace in 2017.something.
I did get a bit lost trying to find it at first. Thanks for the info.

[2018-06-21 06:45] NuclearCookie commented on #1091
Hey @badlogic the RMC has been updated to support 4.19
Are you planning on using it again, or are you sticking with PMC?

[2018-06-21 07:43] pharan commented on #940
Oh you meant UnityEditor.U2D.
Might be useful.

[2018-06-21 07:55] badlogic commented on #1091
@NuclearCookie good question. Given our recent experience with RMC, I'm unsure if we should take the gamble again and include it. While PMC does not support two color tinting, it is at least supported by Epic, so we can be somewhat sure it will continue working in the future. RMC has proven to be a bit unstable when it comes to supporting the latest Unreal versions (not a knock on the author, it's

[2018-06-21 09:44] NuclearCookie commented on #1091
From the documentation of RMC:

Would it be possible to easily allow both? For example like this:
[code]

This way, there's a good fallback if this happens again in the future, but while it works, we can benefit from the reduced memory footprint and improved performance of RMC :)

[2018-06-21 11:23] badlogic commented on #1091
It's not quite that easy. We need to have separate Materials depending on what component we use. Also `SpineSkeletonRendererComponent` derives from PMC so it itself is a scene component. Finally, RMC would have to be added to the build either by default, or by manual user action, which can be a bit of a quagmire as well.

I think the best option is to have to components, one using PMC, one RMC. Th

[2018-06-21 11:58] NuclearCookie commented on #1091
It makes sense!

If you don't see any reason for switching back to RMC, I won't make an issue about it.
We'll do some performance testing with the new version soon.

Thanks for the detailed reply!

[2018-06-22 22:06] pharan opened #1129 "[unity] Test and apply Vector2 conversion."
http://esotericsoftware.com/forum/Could-you-avoid-implicit-vector-conversions-10479

[2018-06-23 07:58] mjtorn commented on #728
@badlogic, here's an update to

I've done some work on a third way. The Godot `AnimationPlayer` is versatile enough to control Spine
nodes. I didn't realize this initially and though work is in progress, I think I can replace all my custom code with using Godot animations. Well, Godot animations that actually change the `playback/play` etc on the Spine nodes.

Just as a heads-up that you shouldn't

[2018-06-24 01:07] pharan commented on #1129
https://github.com/EsotericSoftware/spine-runtimes/commit/40a3a39008eaa8d647b6e6da18d97e356c751693

[2018-06-24 01:07] #1129 closed, assigned to pharan

[2018-06-28 12:31] mjtorn commented on #728
I also wrote this tool https://github.com/mjtorn/spine-to-godot to make it easier to generate Godot scenes from the JSON files.

I've only used it with the [Escoria](https://github.com/godotengine/escoria) framework, but it should work with anything.

[2018-06-30 00:40] supersaiyansubtlety opened #1130 "Fresh UE4 Project Won't Build with spine-runtimes-3.7-beta-cpp"
I'm trying to start a 2D side scroller using using spine and UE4. Unreal Editor fails to build the project after following the instructions [here](http://esotericsoftware.com/spine-ue4). Building the project via Visual Studio 2015 yeilds the following errors:
[code]
and this is the build output
[code]

[2018-07-02 04:46] ShuraLiu opened #1131 "memory not freed on ios"
i use spine 3.51 with cocos2d-x on iOS. I tested the spine API, but found the memory does not freed correctly. the code i used as below:

spAtlas* atlas = spAtlas_createFromFile(atlasFile.c_str(), 0);
spAttachmentLoader* attachmentLoader = SUPER(Cocos2dAttachmentLoader_create(atlas));
spSkeletonBinary* binary = spSkeletonBinary_createWithLoader(attachmentLoader);
spSkeletonData* skeletonData = spS

[2018-07-02 05:58] pharan opened #1132 "[unity] useOriginalNonrenderable when repacking."
- [x] Fix incorrect indices when some skin items are non-renderable.
- [x] Use the original attachments by default when repacking. (optional param)

User report: http://esotericsoftware.com/forum/AtlasUtilities-GetRepackedAttachments-failed-10510

[2018-07-02 08:15] #1132 closed, assigned to pharan

[2018-07-02 09:31] badlogic commented on #1131
spine-cococs2dx has a two singleton instances, [`SkeletonTwoColorBatch`](https://github.com/EsotericSoftware/spine-runtimes/blob/3.6/spine-cocos2dx/src/spine/SkeletonTwoColorBatch.h#L102) and [`Skeleton`](https://github.com/EsotericSoftware/spine-runtimes/blob/3.6/spine-cocos2dx/src/spine/SkeletonBatch.h#L42) that are alive during your entire application's life-time. These use some memory which am

[2018-07-02 09:31] #1131 closed, assigned to nobody

[2018-07-02 11:40] badlogic commented on #1130
Thank you, I missed a pragma for MSVC  in spine-cpp (see https://github.com/EsotericSoftware/spine-runtimes/commit/fd162c73a263c520c661013b0e953404a32962c6). Please update the 3.7-beta-cpp branch and copy the latest sources from spine-cpp to your UE4 project.

Thanks for reporting!

[2018-07-02 11:40] #1130 closed, assigned to badlogic

[2018-07-03 02:44] supersaiyansubtlety commented on #1130
Thank you! I finally got my project to build with the Spine plugin! However I've encountered another problem when trying to place my animation in the scene, I'll open another issue.

[2018-07-03 02:52] supersaiyansubtlety opened #1133 "[ue4] Crash when assigning skeleton data in unreal engine"
I've successfully built an unreal project with the spine plugin, but when following the instructions [here](http://esotericsoftware.com/spine-ue4#Adding-a-Skeleton-to-a-Level). After placing an empty character, adding a spine skeleton animation component, and assigning my atlas file, when I try assigning my skeleton data to the new component unreal editor consistently crashes. My atlas and json fi

[2018-07-03 08:44] badlogic commented on #1133
Thanks for reporting. I assume you are using the latest code from the 3.6 branch?

[2018-07-03 09:35] badlogic commented on #1133
@supersaiyansubtlety Your repro doesn't contain any images, so I can't import it into UE4. Could you update it?

[2018-07-03 09:39] badlogic commented on #1133
I can reproduce the crash with a dummy PNG. Looking into it.

[2018-07-03 10:18] badlogic commented on #1133
I've fixed the crash when loading errornous skeleton and atlas files. Instead of crashing when a skeleton file and an atlas file don't match, you will see an error dialog describing the problem. Please update to the latest code on the 3.6 branch for spine-ue4.

Your atlas file is missing a region called "Fore Arm/Bicep". The Spine UE4 plugin can't load those files. Please make sure you exported yo

[2018-07-03 10:18] #1133 closed, assigned to badlogic

[2018-07-03 11:45] badlogic commented on #1133
This is now also fixed in the 3.7-beta and 3.7-beta-cpp branches.

[2018-07-04 01:47] supersaiyansubtlety commented on #1133
Thanks, the error message at least makes it easier to test if my animation data is working. I'm getting similar missing component errors for every animation I try to import, so I've posted my issue in the Esoteric Forum.
Thanks again

[2018-07-04 09:31] GloryOfNight opened #1134 "[UE4] Compile error on Beta-Cpp 3.7 branch (UE4.20)"
fbe0692c4c9db27facf981221582dc485e6dbb6e - commit where I getting error
Project & Engine ver. 4.20 Preview 5
Commit line in
Plugins\SpinePlugin\Source\SpinePlugin\SpinePlugin.Build.cs
has been changed to:
`//Definitions.Add("SPINE_UE4");
// In Unreal 4.20+, comment the above line, uncomment the below line
PublicDefinitions.Add("SPINE_UE4");`

Also used latest RuntimeMeshComponent from [Koderz rep]

[2018-07-04 12:13] badlogic commented on #1134
Did you change the `SpinePlugin.Build.cs` file as it says in the comment? The spine-ue4 runtime based on spine-cpp does not use the `RuntimeMeshComponent` anymore, please remove it as a dependency from all your build scripts. Please also remove the `spine-c` folder, and replace it with the `spine-cpp` folder from `spine-cpp/spine-cpp`.

[2018-07-04 12:19] #1134 closed, assigned to nobody

[2018-07-04 13:28] GloryOfNight commented on #1134
Hi! Thanks for answer, I did as you say and all work fine, editor compiled plugin.
But I has the second error, when starting build on Android, there a error that broke UBT:
`UATHelper: Packaging (Android (ETC1)):     D:/GitHub/BombaNino/Plugins/SpinePlugin/Source/SpinePlugin/Public/SpineSkeletonDataAsset.h(34,10):  fatal error: 'spine/spine.h' file not found`
Log file, errors & warnings from 205 t

[2018-07-04 17:27] calebgray opened #1135 "[ue4] Switching skins behaves differently in Spine Runtime than in Spine App"
Behavior that I'd expect, as seen in Spine App:

1. Switch to "Skin B" with an image inside a "Skin Placeholder."
2. Skeleton rendered with an image inside "Skin Placeholder" parent.
3. Switch to "Skin A" with empty "Skin Placeholder."
4. Skeleton rendered without image inside "Skin Placeholder" parent.

Unexpected difference, as seen in UE4 Spine Runtime:

4. Skeleton is still rendered with image

[2018-07-05 03:06] pharan commented on #1135
It is expected behavior. But it's something that's currently under consideration as skin combination becomes easier in future versions.

What currently needs to be done when you switch skins is call `skeleton->setToSetupPose` and then call `animationState->apply(skeleton)`,  to make sure it's updated to all the latest attachments. I'm not sure if you're using blueprints or code, or if blueprints p

[2018-07-05 10:17] ShuraLiu commented on #1131
get it, thanks!

[2018-07-05 11:42] liuyi opened #1136 "Spine 3.6.39 cocos2dx runtime can not play low version animation(3.5.35)"
Is this a bug? or just don't support this version?
I just want upgrade spine runtime to 3.6.39 ( from 3.5.35 ）。
But when I done, got error when play spine animation(These animations can play very well on cocos2dx3.15.1 with spine 3.5.35).
see my screenshot at below:
![image](https://user-images.githubusercontent.com/848803/42321430-808c8144-808b-11e8-9182-d015a3f08680.png)
![image](https://user-im

[2018-07-05 11:46] badlogic commented on #1136
Yes, the binary format is only stable within major versions, e.g. you can't load a binary skeleton exported from the Spine Editor version 3.5 with the Spine Runtimes version 3.6.

Please export from the version of the editor that matches the runtime. You can read more information about versioning here http://esotericsoftware.com/forum/Spine-editor-and-runtime-version-management-6534

[2018-07-05 11:46] #1136 closed, assigned to nobody

[2018-07-05 11:49] badlogic commented on #1135
To achieve what Pharan outlined in UE4 blueprints, you can simply call the `SetToSetupPose` function your Skeleton (Animation) component. The next update will call the C++ side apply method internally.

[2018-07-05 11:49] #1135 closed, assigned to nobody

[2018-07-09 12:25] GloryOfNight opened #1138 "[ue4] Spine build error (Android)"
I has the second error, when starting build on Android, there a error that broke UBT:
In file included from :/GitHub/BombaNino/Intermediate/Plugins/NativizedAssets/Android/Game/Intermediate/Build/Android/UE4/Shipping/NativizedAssets/Module.NativizedAssets.1_of_6.cpp:7:
In file included from :\GitHub\BombaNino\Intermediate\Plugins\NativizedAssets\Android\Game\Source\NativizedAssets\Private\BP_Enemy

[2018-07-09 12:26] badlogic commented on #1138
Did you copy the spine-cpp sources into the plugin directory?

[2018-07-09 12:27] GloryOfNight commented on #1138
Yep. Project launch & compile fine.

[2018-07-09 12:33] GloryOfNight commented on #1138
I mention that issue a while ago in my previous issue report
https://github.com/EsotericSoftware/spine-runtimes/issues/1134

[2018-07-09 12:34] badlogic commented on #1138
Please try changing the line to:

[code]

[2018-07-09 12:39] GloryOfNight commented on #1138
In file included from D:/GitHub/BombaNino/Plugins/SpinePlugin/Source/SpinePlugin/Public/SpineSkeletonAnimationComponent.h:34:
UATHelper: Packaging (Android (ETC1)):     In file included from D:/GitHub/BombaNino/Plugins/SpinePlugin/Source/SpinePlugin/Public/SpineSkeletonComponent.h:34:
UATHelper: Packaging (Android (ETC1)):     D:/GitHub/BombaNino/Plugins/SpinePlugin/Source/SpinePlugin/Public/Spine

[2018-07-09 12:40] badlogic commented on #1138
Does compiling our sample project for Android work for you?

[2018-07-09 13:01] GloryOfNight commented on #1138
Nope. But errors on package rly different.
In VS project compile fine.
`LogWindows: Error: begin: stack for UAT
UATHelper: Packaging (Android (ETC1)):   LogWindows: Error: === Critical error: ===
UATHelper: Packaging (Android (ETC1)):   LogWindows: Error:
UATHelper: Packaging (Android (ETC1)):   LogWindows: Error: Fatal error: [File:D:\Build\++UE4\Sync\Engine\Source\Runtime\CoreUObject\Private\UOb

[2018-07-09 13:03] badlogic commented on #1138
Thanks, and this is all on UE 4.20, correct?

[2018-07-09 13:03] GloryOfNight commented on #1138
Yep.
4.20 Preview 5

[2018-07-09 13:18] yuriilychak opened #1139 "[JS] Skin change bug."
Hello. I use cocos2d-js and have problem with skin change. The problem is when you have empty skin placeholder in one skin, and this placeholder not empty in other skin, after skin change placeholder dont clear and attachment from old skin don't remove.
I fix it by rewriting the method setSkin to:
[code]
But I don't know is I correctly clear slot by `slot.attachment = null;`, or I need to do somet

[2018-07-09 13:24] badlogic commented on #1139
Do you know if cocos2d-js is using our Spine runtime (spine-ts)? If that's the case, please refer to this section in the runtime guide http://esotericsoftware.com/spine-runtime-skins#Skin-changes. If you do not want to retain the old attachments that are missing in the newly set skin, call `skeleton.setSlotsToSetupPose()`

[2018-07-09 13:24] #1139 closed, assigned to nobody

[2018-07-09 13:29] GloryOfNight commented on #1138
Part of my project with plugin & build error. Hope it help.
[GoogleDrive Link](https://drive.google.com/file/d/1X7i4OM1P4m8PkL4L6H8cZ_kneKuzJPv4/view?usp=sharing)

[2018-07-10 04:25] m00nb0w opened #1140 "[ts] [widget] Spine doesn't showed up when running example"
I'm trying to integrate spine with my react app. But when I run example.html in the spine-ts widget folder, it didn't work, it just showed up the inline animation.
<img width="1440" alt="screen shot 2018-07-10 at 11 21 55 am" src="https://user-images.githubusercontent.com/22721579/42489146-ab4f617a-8433-11e8-9636-96d3f738e449.png">

Do I need to setup anything (I've installed TS and npm)?

[2018-07-10 08:09] badlogic commented on #1140
Could you be more specific?  Can you show the errors in the console of your browser?

You do not need NPM and TypeScript, you can just grab `spine-widget.js` from here https://github.com/EsotericSoftware/spine-runtimes/tree/3.6/spine-ts/build

[2018-07-11 02:14] m00nb0w commented on #1140
I'm currently using Chrome. This is not my project I just try to run the example file in spine-ts/widget

<img width="1440" alt="screen shot 2018-07-11 at 9 13 44 am" src="https://user-images.githubusercontent.com/22721579/42547127-c17f5556-84ea-11e8-94d1-426a7d2da106.png">

[2018-07-11 04:25] darkspace opened #1141 "3.7-beta-cpp branch TextureLoader::unload is not called"
unload isn't called from anywhere in this branch.  My app doesn't need it called because I manage the lifetime of textures outside of spine.  I guess (?) passing a callback to AtlasPage::setRendererObject would be sufficient for others.

[2018-07-11 07:45] badlogic commented on #1140
Ah, you aren't serving the files via http but load them directly from the file on disk. That won't work due to Chrome's security model. Seeing as you are on macOS, you can do the following.

1. In the terminal, navigate to `spine-runtimes/spine-ts`, then issue this command to start a local server `python -m SimpleHTTPServer`. This will create a tiny web server locally serving the files of the dire

[2018-07-11 07:45] #1140 closed, assigned to badlogic

[2018-07-11 07:48] badlogic opened #1142 "[runtimes] Port latest reference implementation changes in 3.7 branch"
See these commits:

Skeleton flipX/Y becomes scale.
https://github.com/EsotericSoftware/spine-runtimes/commit/d9a6b9151bdce0654cb263accfb0366a0a91d08b

Stretchy IK
https://github.com/EsotericSoftware/spine-runtimes/commit/a62e4466dd5d26235bd71159108fa00be7526f30
https://github.com/EsotericSoftware/spine-runtimes/commit/ae2f77112024dea53f3e5c2d9f28afed5f0fc252

- [x] spine-libgdx

---
- [x] spine-c

[2018-07-11 08:03] badlogic commented on #1141
Good catch. Ideally, I'd be able to retain the old interface of `TextureLoader` including the unload method. I'll look into fixing up the API, cheers!

[2018-07-13 06:20] GloryOfNight commented on #1138
Hi! How issue is going?

[2018-07-13 13:06] Hiryua opened #1143 "[UE4] Texture Streaming delay(Ver 4.18)"
hi. I using unreal with spine

but I have one error and will ask.

This happens in 2D spine  animation.

![1](https://user-images.githubusercontent.com/41192548/42692254-0c83c3c8-86e6-11e8-9463-cff587e1b747.png)
![2](https://user-images.githubusercontent.com/41192548/42692258-10237cb2-86e6-11e8-88ba-152a1e2501bd.png)

The streaming delays only appear in Blueprint with Spine

Increasing the Texture

[2018-07-13 14:33] badlogic commented on #1138
I've tried to reproduce it. With my latest changes to the 3.7-beta-branch, our sample project compiles on all platforms. Here's the output for Android https://gist.github.com/badlogic/a5a091c6af50a72f5745bdf79ca8c72a. The errors you saw where due to some old assets being in the test folder, which I removed. Please try packaging the sample project for Android again.

I then tried to get your projec

[2018-07-13 14:33] #1138 closed, assigned to badlogic

[2018-07-13 14:39] badlogic commented on #1143
This is nothing related to Spine, but simply how UE4 deals with textures by default. Please see this as a starting point https://answers.unrealengine.com/questions/395848/texture-streaming-1.html. Then please look into the documentation of texture streaming in UE4 https://answers.unrealengine.com/questions/395848/texture-streaming-1.html.

[2018-07-13 14:39] #1143 closed, assigned to nobody

[2018-07-14 08:38] GloryOfNight commented on #1138
Thanks! Disabling Nativization has help

[2018-07-14 09:01] spreatics opened #1144 "Please specify config.json or config.jsonContent at SpineWidget.validateConfig"
I know this question may be so easy. but I can't find solution so far...(googled more than 1 hour)

when I try to test my first HTML5 spine widget with json, atlas I get error message form chrome browser as below.

Please specify config.json or config.jsonContent at SpineWidget.validateConfig

my code is as simple as below..please help......

 `<div class="spine-widget" data-jason="my url" data-at

[2018-07-16 12:22] ForestRingGames opened #1145 "Cocos2d-x / C / (possibly new C++ Runtime) Performance Issue with opacity zero"
I think we found a possible performance improvement for the Cocos2d-x / C Runtime:

In SkeletonRenderer.cpp, there's a memcpy operation performed for every slot, copying its vertex data, etc. and only afterwards it is checked whether this slots opacity is 0 and therefore it doesn't need to be rendered.

Couldn't here the opacity check be performed first and only if the opacity is != 0 you'd copy o

[2018-07-16 12:31] badlogic commented on #1144
It's `data-json`, we've also replied on the forum!

[2018-07-16 12:31] #1144 closed, assigned to nobody

[2018-07-17 04:36] spreatics commented on #1144
yes....you are right hundred times....and I agree that I was a fool....thanks a lot....T.T

[2018-07-18 02:06] antidamage opened #1146 "[ue4] Editor crash when attaching skeleton to spine skeleton animation component"
In branch 3.7-beta-cpp using the UE plugin I'm getting the following editor crash when attempting to compile a blueprint after assigning a skeleton to a spine skeleton animation component:

[code]

If I attempt to import the same skeleton in the sample project it crashes with the same error.

Here's the file that causes the crash:
[Takahe1.zip](https://github.com/EsotericSoftware/spine-runtimes/fi

[2018-07-18 07:12] ForestRingGames opened #1147 "[Cocos2d-x] EXC_BAD_ACCESS Crash in event queue drain"
When switching scenes we had a crash today in the even queue drain function. It seemed to be rather random, we couldn't reproduce it in a stable way. - though it happened two times on two different days.

See the attached screenshot for the stacktrace and line of crash.

How could this happen? Can this error be triggered by using completion listeners or track completion listeners in a wrong way?

[2018-07-18 09:27] badlogic commented on #1147
I'm afraid that's impossible to tell from the screenshot. What part of that statement is giving you the error? The listener? How do you construct the listener? Does it close over a thing that could be dead at this point?

[2018-07-18 09:47] badlogic commented on #1146
Sorry for the troubles. The binary format is not compatible between Spine major versions (minor versions if you apply semantic versioning). E.g. your binary file is from 3.6, but your runtime is from 3.7. The 3.7 runtime can't parse the 3.6 binary file and will choke. Our binary format is designed for speed of parsing, so it assumes the input is well formed. If the input is not well formed, it sim

[2018-07-18 09:47] #1146 closed, assigned to nobody

[2018-07-18 12:05] ForestRingGames commented on #1147
@badlogic I just found the issue, it turns out it was my fault. The stack trace here was not complete unfortunately, which lead to the conclusion that it crashes in spine. But it in face crashed in my own code.
I removed a SkeletonRenderer from its parent as a result of a listener of that SkeletonRenderer. Apparently spine doesn't like that ;)

I found the issue with Address Sanitizer.

[2018-07-18 12:07] badlogic commented on #1147
Great you found the issue. If you smoke something a listener requires, then things explode.

[2018-07-18 12:07] #1147 closed, assigned to nobody

[2018-07-18 12:56] badlogic commented on #1145
I've modified both the C and C++ runtimes accordingly, and made sure the engine integrations apply this trick. It should be noted that the color of an attachment is generally not changing, as it can't be animated. We still test for 0 alpha in case the user changes the attachment color programmatically.

[2018-07-18 12:56] #1145 closed, assigned to badlogic

[2018-07-18 13:07] badlogic commented on #1141
Finally had some time to look into this. It turns out that `Atlas` had a bug. Up until my [last commit](https://github.com/EsotericSoftware/spine-runtimes/commit/0284abe548a190698bc6092d4749a461192fc736), `Atlas` had a method called `::dispose`, which makes no sense in the C++ context. That method would invoke the `TextureLoader::unload` method.

I moved the contents of the `dipose` method into th

[2018-07-18 13:07] #1141 closed, assigned to badlogic

[2018-07-18 13:16] ForestRingGames commented on #1145
@badlogic Thanks, interesting about the note - I wasn't aware. So setting a slot's alpha to zero did already avoid the extra memory allocations? Or was this also done in this change?

[2018-07-18 13:49] badlogic commented on #1145
Setting slot alpha to zero would still result in copying vertices. The
latest commits fix this.

On Jul 18, 2018 15:17, "framusrock" <notifications@github.com> wrote:

@badlogic <https://github.com/badlogic> Thanks, interesting about the note
- I wasn't aware. So setting a slot's alpha to zero did already avoid the
extra memory allocations? Or was this also done in this change?

—
You are receivin

[2018-07-18 20:58] mysterycoconut opened #1148 "spVertexAttachment_computeWorldVertices() with stride > 2"
While implementing usage of the spine-c runtime with my own code I kept getting less vertices than expected when rendering meshes. Found out the issue was I was passing 4 as `stride` to spVertexAttachment_computeWorldVertices() (necessary for how my data is structured), and that was not handled well by the current implementation.

My fix was to add `count *= stride*0.5f;` after `count += offset;`.

[2018-07-19 10:03] badlogic commented on #1148
What's your vertex layout look like?

[2018-07-19 14:41] mysterycoconut commented on #1148
I just have position, uv, and color packed like this into an array:
[code]
So the stride between two elements of the array is not 2 32-bit floats, but 4.

[2018-07-19 14:54] #1148 closed, assigned to nobody

[2018-07-20 10:50] badlogic commented on #762
An update from Scirra relevant to this issue https://construct3.ideas.aha.io/ideas/C3-I-126

[2018-07-24 10:53] badlogic opened #1149 "[ue4] Events don't trigger"
See http://esotericsoftware.com/forum/Events-not-triggering-on-UE4-blueprints-10602

This applies to the 3.7-beta-cpp branch.

[2018-07-24 14:38] #1149 closed, assigned to badlogic

[2018-07-28 09:56] antidamage commented on #1146
Cheers, switching to JSON fixed it!

[2018-07-28 10:04] antidamage opened #1150 "Error building Spine-UE4 3.7-beta-cpp on Mac"
When I attempt to build the latest Spine plugin for UE4 on Mac I get the following errors:

[code]

I'm uncertain what to do as I'm flying pretty blind when it comes to code stuff, especially on Mac. I had no problems building it for Windows though.

Any advice welcome.

[2018-07-29 03:05] antidamage commented on #1150
I was able to fix it by adding spine:: in front of the three types mentioned, forcing the type to be unambiguous.

[2018-07-30 11:20] badlogic commented on #1150
Which UE4 version are you using?

[2018-07-31 16:00] mistergreen opened #1151 "Error with Unity 2018.2.1"
FYI. These errors prevent Unity project from compiling

[2018-08-01 01:50] pharan commented on #1151
Are you using the latest runtime?
People have reported this before while using an older version and we fixed it several months ago.

The current 3.6 and 3.7-beta have been checked against Unity 5.6 and up to 2018.2.

[2018-08-01 13:57] mistergreen commented on #1151
I was mistaken on the Unity version, it's Unity 2018.2.1, the latest stable build.

I haven't updated the runtime maybe in 8 months.
I checked on the runtime version

It's not crucial for me as there were other errors with the migration so I reverted back to Unity 2017.3.

[2018-08-01 15:37] #1151 closed, assigned to pharan

[2018-08-02 10:02] jesdi opened #1152 "Missing Json Schema"
With [JSON schemas](http://json-schema.org/):
1. Will be easier to maintain the docs of spine-json-format [spine-json-format](http://esotericsoftware.com/spine-json-format), with possibility to generate it dynamically and version based.
2. Will be able to make some json editing to do some custom modifications on animations (like removing certain animation) with or without the editor.
3. Will be ea

[2018-08-02 12:52] badlogic commented on #1152
Thanks for the proof-of-concept.

Maintaining the documentation as part of the JSON schema is not easier in my opinion as the format is very verbose.

Could you elaborate with a concrete example how the schema helps you in modifying the export JSON more than what's already possible?

Migration between versions based on schema merges are an ideal that I have yet so see realized in any form, includi

[2018-08-02 15:05] NathanSweet commented on #1152
I have to agree with Mario. Maintaining the JSON documentation is painful, as is maintaining the schema. I'll close this issue for now, but we can continue discussion here and would still like to see concrete examples of the schema benefits. I don't expect it to help for version migration and I don't feel validation isn't generally very useful. Showing how it is useful for editing JSON skeleton da

[2018-08-02 15:05] #1152 closed, assigned to nobody

[2018-08-02 17:31] sp-jesus-diaz commented on #1152
Thank you a lot for the quick answer!

I Few things here:

Yes, it's true... but you can generate most of the JSON schema's information automatically, for example using https://jsonschema.net. And I think is really useful also to generate docs/forms automatically.

Yes, but you can at least validate some information like max/mins values, types, number of elements of arrays, objects, etc.

**Why I

[2018-08-03 11:34] NathanSweet commented on #1152
Validation is helpful only for your JSON modifications being correct, which is only really useful during the development of the modification code. I'd say not being able to validate is pretty minor, since you'll find out if your modifications are incorrect when you try to load the data. Also, as badlogic mentioned, even if validation succeeds your modifications could still be wrong. There is no as

[2018-08-04 10:55] RisingSunStudios opened #1153 "Error building Spine-UE4 3.7-beta-cpp on Windows"
Hi all, trying to build this plugin for UE4.20 and not having any luck. Followed instructions in the readme but it is failing to build. Looks like the errors are from the RuntimeMesh library. Any help?

Here is the output:

`
1>------ Rebuild All started: Project: UE4, Configuration: BuiltWithUnrealBuildTool Win32 ------
2>------ Rebuild All started: Project: SpineTest2, Configuration: Development

[2018-08-06 05:53] pharan commented on #1142
flipX/flipY
csharp: https://github.com/EsotericSoftware/spine-runtimes/commit/0f7c01c469c9b2f67c40ef843b90bb0559a312bb
unity: https://github.com/EsotericSoftware/spine-runtimes/commit/d336712ccc7e2b7bd52dc0aa763389577e11a1be

[2018-08-06 12:43] badlogic commented on #1153
The 3.7-beta-cpp branch does not use the RuntimeMeshComponent anymore (same for 3.7-beta). We've switched to ProceduralMeshComponent (for various reasons).

Please remove the plugin from your project.

I also see various spine-c files referenced in your log. Please remove the `spine-c` directory from your local `SpinePlugin` and instead copy the `spine-cpp/` to the plugin directory where the `spin

[2018-08-06 12:43] #1153 closed, assigned to nobody

[2018-08-07 07:57] badlogic opened #1154 "[love] Crash when setting multiply blend mode"
See http://esotericsoftware.com/forum/Bug-in-Spine-Love-Example-10651

[2018-08-07 08:09] badlogic commented on #1154
Looks like Love 0.11 has a bunch of bugs in their blending implementation. PMA is not properly applied. Regardless, the crash is fixed via https://github.com/EsotericSoftware/spine-runtimes/commit/58d98ee667eb4c0a25ac97e5558f399b9a0f9299

[2018-08-07 08:09] #1154 closed, assigned to badlogic

[2018-08-07 13:42] xenophont opened #1155 "Spine 3.7 on custom 4.20 build"
Hello Badlogic,

I'm having some issues while building my project with 4.20 and 3.7 beta branch.

I modified the build.cs file
I added spine-cpp to the source folder
I eliminated all references to runtimemeshcomponent

And still I'm getting an issue, as  d:\epicgit\unrealengine_420\engine\plugins\spineplugin\source\spineplugin\public\SpineSkeletonDataAsset.h(34): fatal error C1083: Cannot open inc

[2018-08-07 17:16] badlogic commented on #1155
Did you regenerate the Visual Studio solution? Do the files show up in the solution explorer in VS?

[2018-08-08 09:27] xenophont commented on #1155
Yes I did. The inclusive nativization option is also on. Maybe the problem comes from there?
Is the spine plugin nativizable?

Thanks for your quick response.

[2018-08-08 10:04] xenophont commented on #1155
Also, it seems as spine is looking for the files in the engine folders instead of the project source folders

[2018-08-08 11:56] badlogic commented on #1155
Hrm, I can't reproduce this locally. Any chance you could send me your project by email? Please remove the binary and intermediate folders. Email: contact@esotericsoftware.com.

[2018-08-08 12:00] badlogic commented on #1155
Oh, no, the Spine plugin can't be nativized. Please try turning that off and see if that works.

[2018-08-08 12:09] badlogic commented on #1155
Jupp, this looks pretty much the same as https://github.com/EsotericSoftware/spine-runtimes/issues/1138#issuecomment-404851282

Let me know if disabling nativization does not work for you and we can reopen this.

[2018-08-08 12:20] xenophont commented on #1155
Sadly, I cannot send a copy of the project, as it is in oficial production stage.

I made a build without nativizing, and had the same issue:
Visual studio is looking for the spine includes in the engine folder for some reason.
**I managed to fix this** by manually copying in the engine source folder (UnrealEngine_420\Engine\Source)
the following folders from Plugins\SpinePlugin\Source :
-SpineEdi

[2018-08-08 12:23] badlogic commented on #1155
I do see warnings in UBT logs about trying to find include files in engine folders, but they never result in include files not being found (neither when building the editor, nor when packaging for a platform).

I'm not sure how your setup is different from say our spine-ue4 sample project. Without seeing your project structure and build config it is hard for me to say anything. Could you maybe mod

[2018-08-08 12:23] #1155 closed, assigned to badlogic

[2018-08-08 12:26] xenophont commented on #1155
Sure, I will try. I will answer in this thread if I manage to reproduce it.

[2018-08-08 14:54] KaRniZZZ opened #1156 "[Cocos2d-x] Heap overflow in spVertexAttachment_computeWorldVertices (VertexAttachment.c)"
I've updated spine to the latest 3.6 version and recieved a lot random crashes in render. After some investigation with Address Sanitizer I found heap overflow that caused by this changes in issue #1148. Reverting this changes fixes all problems.

![image](https://user-images.githubusercontent.com/8337071/43844953-8651b4e2-9b33-11e8-9220-1c4a8805cf91.png)

[2018-08-09 06:21] pharan opened #1157 "[unity] AnimationReferenceAsset cache doesn't update in Unity Editor."
http://esotericsoftware.com/forum/AnimationReferenceAsset-doesn-t-update-animation-reference-10655

[2018-08-09 10:05] badlogic commented on #1156
Thanks for reporting. Do you have a Spine skeleton I can use to reproduce this? Can you reproduce this with the cocos2d-x sample project in this repository? I can't.

[2018-08-09 10:35] huangwei1024 opened #1158 "[cocos2d-x] 3.6.48 or 3.6.52 version, tint black had wrong display"
tint black setting in editor

![image](https://user-images.githubusercontent.com/667876/43893437-92bd1b3a-9c01-11e8-8046-a2e48af51888.png)

effect in editor, left is 3.6.52 (ok), right is 3.6.48 (wrong)

![image](https://user-images.githubusercontent.com/667876/43893458-a44954b8-9c01-11e8-89bf-779c13b9d732.png)

first, in 3.6.48 and 3.6.52 editor, the tint black are different effect, and the 3.6.5

[2018-08-09 11:56] badlogic commented on #1158
Please send me the Spine project including images to contact@esotericsoftware.com

[2018-08-09 12:05] badlogic commented on #1156
I can reproduce this in our cocos2d-x example project with address sanitizer enabled.

[2018-08-09 13:00] badlogic commented on #1156
That was indeed a bug. It's fixed in 3.6 (https://github.com/EsotericSoftware/spine-runtimes/commit/9a428a02b8155fc016fb70e92ec83331ecfec149), I'm porting it to 3.7-beta(-cpp) as well. Thanks for reporting!

[2018-08-09 13:00] #1156 closed, assigned to badlogic

[2018-08-10 04:12] huangwei1024 commented on #1158
ok，I sent yet, check your mailbox

[2018-08-10 08:53] badlogic opened #1159 "[cpp] Xcode address sanitizer triggers when clipping"
Run cocos2d-x project, once we hit the coin example, which uses clipping, the address sanitizer reports use after free.

[2018-08-10 09:49] badlogic commented on #1159
Problematic code:

[code]

`Vector::add` is implemented like this:

[code]

We pass in a reference to an element of the vector we add to. If `_size == _capacity`, the backing buffer is re-allocated. This invalidates the `inValue` reference, which now points to (potentially) reclaimed memory. When `construct()` dereferences `inValue`, we access memory we don't own any longer...

[2018-08-10 10:08] KyoKazehaya opened #1160 "[UE4][4.20] BoneDriver/BoneFollower not working."
Hello!
I'm currently having a problem with the SpineBoneDriverComponent and the SpineBoneFollowerComponent in UE4 4.20.

Everytime I attempt to set an Actor as Target:

![image](https://user-images.githubusercontent.com/11358135/43952291-68b7e45a-9c8d-11e8-8150-647080fa2e9e.png)

It throws me the following Message:
![image](https://user-images.githubusercontent.com/11358135/43952324-836f0d82-9c8d-

[2018-08-10 18:53] ghost opened #1161 "[libgdx] GWT incompatible"
VertexAttachment contains AtomicInteger. This do not supported in GWT.

[2018-08-13 01:01] NathanSweet commented on #1161
AtomicInteger is not used in the latest (`3.7-beta` branch):
https://github.com/EsotericSoftware/spine-runtimes/blob/3.7-beta/spine-libgdx/spine-libgdx/src/com/esotericsoftware/spine/attachments/VertexAttachment.java#L42

[2018-08-13 01:01] #1161 closed, assigned to nobody

[2018-08-13 09:36] #1159 closed, assigned to badlogic

[2018-08-13 09:52] badlogic commented on #1160
You can see the bone driver component in the `05-driving-bones` sample on the `HoverController_blueprint`

![https://libgdx.badlogicgames.com/uploads/20-uDR0.png](https://libgdx.badlogicgames.com/uploads/20-uDR0.png)

You can verify that the bone driver component is applied by setting a breakpoint in `SpineBoneDriverComponent`

![https://libgdx.badlogicgames.com/uploads/21-ZJLQ.png](https://libgdx

[2018-08-13 09:52] #1160 closed, assigned to nobody

[2018-08-13 10:18] KyoKazehaya commented on #1160
Hello,

Thank you for your detailed answer. Although it still doesn't work in 4.20.1.

This are the repro steps:

1. Download beta 3.7 cpp repo.
2. Copy the spine-cpp folder  to Plugins/SpinePlugin/Sources/SpinePlugin/Public/ directory of the example project.
3. Modify SpinePlugin.Build.cs by commenting "Definitions.Add("SPINE_UE4") and uncommenting "PublicDefinitions.Add("SPINE_UE4").
4. Run .upr

[2018-08-13 10:24] badlogic commented on #1160
As I said, the bone driver is a component in thr blueprint actor. Every
frame, it takes the actors position (default scene root), and applies it to
the bone of a skeleton on another actor.

The blueprint itself does not refer to the bone driver. It simpliy modifies
the blueprint actor's position based on keyboard input.

The bone driver then applies that position to the selected bone. This is
impl

[2018-08-13 10:26] KyoKazehaya commented on #1160
Hello!

I deleted the previous reply because I found the problem I was having. You cannot set an actor in the blueprint itself. You can only assign it if the actor is already in the scene (by dragging and dropping the blueprint for example). If the actor isn't in the scene (for example, to be spawned later) you cannot change the Target property.

Any idea on how to change this? I think you can alw

[2018-08-13 11:43] badlogic commented on #1160
You can change the target property in your blueprint. I've modified the sample by removing the existing bone driver, adding the tag "Spineboy" to the Spineboy actor, then modifying the blueprint as follows:

![https://libgdx.badlogicgames.com/uploads/22-yun3.png](https://libgdx.badlogicgames.com/uploads/22-yun3.png)

On `BeginPlay` (any event will do), I add a bone driver component. I then fetch t

[2018-08-13 11:45] badlogic commented on #1160
Oh, and about the docs: I'm in the process of updating them since we switched from spine-c to spine-cpp. I'll make sure to add proper docs for the bone drivers. The docs are quite minimal at the moment.

Thanks for all the feedback!

[2018-08-13 12:10] badlogic commented on #1150
Thanks for reporting, this is fixed in the 3.7-beta and 3.7-beta-cpp branches now.

[2018-08-13 12:10] #1150 closed, assigned to badlogic

[2018-08-13 12:52] KyoKazehaya commented on #1160
Thank you for the snippet in blueprints! it does really help. I'll try first that approach then replicate it via C++.

Thank you for your help and your work, very appreciated. I'm sure whoever comes to this post will find it very useful as well.

[2018-08-13 14:34] #1158 closed, assigned to badlogic

[2018-08-13 14:59] badlogic commented on #1158
@huangwei1024 I've investigated this using the files you send me. The first two screenshots (comparison between 3.6.48 and 3.6.52) I can not reproduce in the 3.6.52 editor. The images seem to be from frame 71, which looks like this for me in the 3.6.52 editor.

![https://libgdx.badlogicgames.com/uploads/qPVMgQjl5o.png](https://libgdx.badlogicgames.com/uploads/qPVMgQjl5o.png)

I used this as a base

[2018-08-14 16:06] pharan commented on #1142
Unity stuff:
https://github.com/EsotericSoftware/spine-runtimes/commit/3d52f1a7e2e3a69ee01640972e27745d38b68b29

[2018-08-14 17:45] #1142 closed, assigned to badlogic, pharan

[2018-08-14 17:48] #1157 closed, assigned to pharan

[2018-08-23 12:49] oziphantom opened #1162 "Forum : Assets missing, and file unplayable in compiler continuation"
So installed Cmake on my machine...
Followed the instructions as best I could.
The editor-support/spine doesn't exist as far as I can see in any of the groups on the libcocos2d-x
I had to fix the include paths a few times, for some reason the SDK include directory was in the Include and Exclude field
The SLN references SimpleCommand.h/cpp which doesn't seem to exist, so I delete the reference to i

[2018-08-23 12:59] badlogic commented on #1162
Did you have a CMake build/ folder before updating to the latest git commit and re-running CMake? If so, please remove that, then regenerate the VS solution via CMake GUI.

[2018-08-23 13:02] badlogic opened #1163 "[runtimes] Port IK & rotation changes"
See

https://github.com/EsotericSoftware/spine-runtimes/commit/7996f2bae063c46c813192788769b0346ea98ad9
https://github.com/EsotericSoftware/spine-runtimes/commit/7df713b13f2096f1df5fe2644311402a067ffb80

- [x] spine-libgdx

---
- [x] spine-csharp
- [x] spine-xna
- [x] spine-monogame
- [x] spine-unity
- [x] spine-tk2d

---
- [x] spine-c
- [x] spine-cpp
- [x] spine-sfml
- [x] spine-cocos2d-objc
- [x

[2018-08-23 13:03] oziphantom commented on #1162
I've never installed CMake on this machine before, so latest and fresh CMake install, I've downloaded the latest version of the run-times and put them into a separate folder and HDD to the other project. This is a 100% clean build.

[2018-08-23 13:04] badlogic commented on #1162
OK, I'll try to reproduce your issue on my Windows machine. FWIW, the CMake build for cocos2dx we have only downloads cocos2dx. The Visual Studio project files are checked into git and will not be generated by CMake.

[2018-08-23 22:00] pharan commented on #1163
Rotation fix: https://github.com/EsotericSoftware/spine-runtimes/commit/671c9210892291257be7572129a8bfb46b3353f1
csharp: https://github.com/EsotericSoftware/spine-runtimes/commit/cbd6b2617eb1161c602ce710539cf75cd06e5e83
unity: https://github.com/EsotericSoftware/spine-runtimes/commit/aef9261d401c367370bc654ee2738f5f50b91805

[2018-08-24 13:04] badlogic commented on #1162
Sorry, it seems there was indeed a problem in the VS2015 solution. I've fixed this in the latest commit in the 3.6 branch. I've also updated the instructions on how to compile the example project with VS2015 on Windows. Could you please give it another try?

[2018-08-28 11:56] alex-kolb opened #1164 "Doesn't work with the latest UE4.20.2"
The code doesn't compile with 4.20.2, RenderMeshComponent.cpp gives bunch of errors because of change UE4 source code (different interfaces, functons signatures etc.) Tried with 3.6 branch.

[2018-08-29 10:42] badlogic commented on #1164
Please use the 3.7-beta or 3.7-beta-cpp branch. The 3.6 branch uses RuntimeMeshComponent, which is not compatible with UE 4.20.

[2018-08-29 10:42] #1164 closed, assigned to nobody

[2018-08-29 10:43] #1162 closed, assigned to nobody

[2018-08-29 10:44] badlogic opened #1166 "[ue4] Linker error when calling into Spine API in editor debug builds"
See http://esotericsoftware.com/forum/UE4-3-7-cpp-beta-LNK2019-error-on-windows-10741

[2018-08-29 10:45] oziphantom commented on #1162
Still waiting on full testing before I comment on my findings. They are slow.

[2018-08-31 02:59] mycoolmc opened #1168 "spine-c 3.6 and 3.7 point bug"
In the SkeletonJson.c line 894:
Lack of type conversion to point，example:
//code
else if (strcmp(typeString, "point") == 0)
	type = SP_ATTACHMENT_POINT;
//code

[2018-09-02 22:57] NathanSweet commented on #1121
Does it make sense to render text using a TwoColorPolygonBatch? It's not just BitmapFontCache, it's any code that assumes the vertex data is the same as SpriteBatch.

[2018-09-03 13:02] #1163 closed, assigned to badlogic, pharan

[2018-09-03 15:50] piotr-j commented on #1121
While its clearly not needed, it makes it easier when you have one batch for everything. And the two color part is useful for gui, tho its somewhat out of scope for spine.

[2018-09-03 18:39] NathanSweet commented on #1121
I guess if we decide to do it, the most reasonable way is to have `draw (Texture texture, float[] vertices, int offset, int count)` accept the standard SpriteBatch format and do a copy, then we'd have a separate TwoColorPolygonBatch-specific method for the two color format.

[2018-09-05 08:18] badlogic opened #1169 "[runtimes] Port holdPrevious addition in AnimationState"
See

https://github.com/EsotericSoftware/spine-runtimes/commit/9b259c66e03fb08462abb6372a59cb1193b3bfdf
https://github.com/EsotericSoftware/spine-runtimes/commit/bc7702971150bcf459d8daf6450bbba1c099cc20

- [x] spine-libgdx

---
- [x] spine-csharp
- [x] spine-xna
- [x] spine-monogame
- [x] spine-unity
- [x] spine-tk2d

---
- [x] spine-c
- [x] spine-cpp
- [x] spine-sfml
- [x] spine-cocos2d-objc
- [x

[2018-09-05 13:32] badlogic commented on #1168
Thanks for reporting. This is fixed in all branches.

[2018-09-05 13:32] #1168 closed, assigned to badlogic

[2018-09-06 09:45] badlogic opened #1171 "[runtimes] Add audio path, volume and pan to event"
See https://github.com/EsotericSoftware/spine-runtimes/commit/45fbd64e300c0dffe6df6b238e1a9adbbb801a94

- [x] spine-libgdx

---
- [x] spine-csharp
- [x] spine-xna
- [x] spine-monogame
- [x] spine-unity
- [x] spine-tk2d

---
- [x] spine-c
- [x] spine-cpp
- [x] spine-sfml
- [x] spine-cocos2d-objc
- [x] spine-cocos2dx
- [x] spine-ue4

---
- [x] spine-ts core
- [x] spine-ts webgl
- [x] spine-ts canvas

[2018-09-06 13:58] #1171 closed, assigned to badlogic

[2018-09-08 10:09] ghost commented on #728
Sounds interesting.  Hopefully it comes around soon enough.  We're investigating options for 2D mesh animation tools that have flexibility inside Godot for an upcoming project.

[2018-09-09 17:03] 23doors opened #1172 "Spine-Unity 3.7 2018-09-06 build issues"
Using Unity 2018.2.6f1 latest 3.7 build causes unity to hang with 100% cpu usage when playing any example scene.

It plays for 2-3s then stops and stops responding completely. I no longer have 2018-08-25 build locally but, if I remember correctly, it worked just fine there. Tried empty project - same thing. Tried 3.6 with empty project - works normally.

[2018-09-09 18:35] #1061 closed, assigned to NathanSweet

[2018-09-10 01:47] quanarmy opened #1173 "Preview not working on Unity 2017.4.10f1"
I cannot play animation preview on Unity 2017.4.10f1. I'm using spine-unity-3_6-2018-08-25 version.

[2018-09-10 06:23] pharan commented on #1172
Thanks for reporting, we're looking into the problem. There was an [AnimationState update](https://github.com/EsotericSoftware/spine-runtimes/issues/1169) and it's possibly affecting all updated runtimes, especially in cases where there's no mixing. Or possibly just spine-csharp.

[2018-09-10 08:49] badlogic opened #1174 "[runtimes] AnimationState holdPrevious changes create infinite loops"
Repro in C#

[code]

[2018-09-10 09:57] badlogic commented on #1174
Both the C# and TypeScript port are missing the nullification of the `mixingTo` field, which leads to a reference cycle. https://github.com/EsotericSoftware/spine-runtimes/commit/9b259c66e03fb08462abb6372a59cb1193b3bfdf#diff-2e690293d0fea3104ddda07be1d1e5c9R820

[2018-09-10 11:21] pharan commented on #1174
Done in spine-csharp

[2018-09-10 11:21] #1174 closed, assigned to badlogic, pharan

[2018-09-10 11:25] pharan commented on #1172
This has been fixed and the latest unitypackage is now up, dated 2018-09-10.
Thanks again!

[2018-09-10 11:25] #1172 closed, assigned to nobody

[2018-09-10 11:35] pharan commented on #1173
I just tried previewing and playing animations in the skeleton preview in SkeletonDataAsset and AnimationReferenceAsset inspector previews in Unity 2017.4.10f1.

They seem to be working fine in the spine-unity 3.6 2018-08-25 release.

Is this happening for just some, or all skeleton data?

[2018-09-10 11:56] quanarmy commented on #1173
It's happening for all skeleton data.
I'm upgraded to the spine-unity 3.6 2018-08-25 from older version.

[2018-09-10 13:29] pharan commented on #1173
I can't seem to repro the problem. Is there any other details that might make your project special?

[2018-09-10 19:16] 23doors commented on #1172
Thanks! Everything works now!

[2018-09-11 02:39] quanarmy commented on #1173
I found solution. Removing all spine from project then re-import with spine-unity 3.6 2018-08-25. It works for now!
Thanks for your support!

[2018-09-11 02:39] #1173 closed, assigned to nobody

[2018-09-11 11:22] mhilbrunner commented on #728
FYI, just as a small update: Godot 3.1 alpha was just released: https://godotengine.org/article/dev-snapshot-godot-3-1-alpha-1

There are a lot of improvements for plugins/modules under the hood. Also, animation stuff was mostly reworked.

I too believe the sanest route would be to add an additional code path via a plugin/module, without touching any of the existing Animation code in Godot.

[2018-09-11 11:27] badlogic commented on #728
I think some form of integration with Godot's animation sequencer would be
nice, i.e. key playback of a specific animation on a specific track
(concepts from our AnimationState API).

I'm not sure yet about providing binaries instead of having users compile
Godot itself.

On Tue, Sep 11, 2018, 13:22 Max Hilbrunner <notifications@github.com> wrote:

[2018-09-12 09:51] #1169 closed, assigned to badlogic, pharan

[2018-09-13 09:51] ghost commented on #728
Very interested to see what pans out as far as integration goes.

Even without any direct integration, the AnimationPlayer can modify whatever properties a custom Node would expose to the editor.  Keyframing and interpolating their values with what is shown in the property inspector.  So maybe that might be an option as well.

![godot_master_2018-09-13_12-44-41](https://user-images.githubuserconte

[2018-09-13 11:44] badlogic commented on #1127
Fixed.

[2018-09-13 11:44] #1127 closed, assigned to nobody

[2018-09-19 04:05] jimmymjing commented on #883
Is the filter getting supported? I see the ready tag but it has been there a while ago. Thanks.

[2018-09-22 11:54] antidamage opened #1176 "[UE4] Request: set up the atlas and skeleton data assets so they can be procedurally assigned"
I had a crack at this myself but I'm not brilliant in the UE framework and only got as far as adding build errors.

Here's a screenshot that kind of outlines the problem: https://i.imgur.com/pVziCJi.png

Right now the skeleton and atlas data aren't set up right in the framework and they can't be promoted to variables, so they can't be assigned via variables from other objects.

In the project abov

[2018-09-22 11:56] antidamage opened #1177 "[ue4] Reimport not working or crashing"
Currently the spine asset types haven't been set up for reimport. Normally when you right-click on the main asset and choose "reimport" it should do what you'd expect.

That option hasn't been implemented however, which means not only deleting the old assets before reimporting them, but also deleting any blueprints that reference them as there seems to be some weirdness going on with the way the a

[2018-09-22 15:06] badlogic commented on #1177
Hm, I get a notification to re-import in UE4 when I update the file(s) the UE4 asset is based on. IpThanks for reporting!

[2018-09-22 15:08] badlogic commented on #1176
Thanks for this. Sadly, we aren't UE4 experts either, and the docs are a bit lacking when it comes to customizing things.

[2018-09-23 23:34] NathanSweet commented on #841
Since 3.7 has the `Skins` view, it might be nice to squeeze this into 3.7.

[2018-09-24 09:07] AndreaDev237 commented on #1176
Hi Everyone,
to achive what you want you have to modify the **`SpineAtlasAsset.h`** and **`SpineSkeletonDataAsset.h`**

add **`BlueprintType`** paramater to **`UCLASS`** Macro

in this way you tell to engine this type can be referenced in a BlueprintType Var

![image](https://user-images.githubusercontent.com/2900985/45943893-7d482c80-bfe8-11e8-81f6-c0b40113ee8e.png)

![image](https://user-images.

[2018-09-24 09:10] badlogic commented on #1176
@ps2invader ahh, I remember that change now. To many runtimes to shuffle, thanks for reminding me! @antidamage I assume this resolves this issue.

[2018-09-24 09:10] #1176 closed, assigned to badlogic

[2018-09-24 12:23] badlogic opened #1178 "[cpp] Bug in PathConstraint#computePositions"
See email by Oscar Galeano.

[2018-09-24 12:23] #1178 closed, assigned to badlogic

[2018-09-24 14:50] jhett12321 opened #1179 "[unity] BoundingBoxFollower forcefully adds Rigidbody2D component"
The culprit is the AddSkin method in BoundingBoxFollower (called in OnEnable, and in editor), which forcefully adds a Rigidbody2D component if it does not exist (BoundingBoxFollower line 147, SkeletonUtility, line 82). This check does not search parents for a rigidbody.

Expected Behaviour: BoneFollower warning is presented to add a rigidbody component, unless rigidbody exists on self, or in a par

[2018-09-24 15:31] pharan commented on #1179
Interesting. Thanks for letting us know what you found. We'll look into the fix.

[2018-09-24 15:43] pharan commented on #1179
Note that even if you have a Rigidbody on the parent, as long as that collider's GameObject moves, Unity still recommends that it has its own rigidbody. This is because Box2D cannot have independently moving component shapes. Each thing that moves is its own Box2D equivalent rigidbody even if they are "parented" to each other.

[2018-09-24 23:01] GryphonWorx opened #1180 "[ue4] UE4 4.20 Spine 3.7-beta-cpp Hot Reload not working"
After a lot of fiddling to get the 3.7-beta-cpp to build properly with the include directories etc I have at last gotten it working. The only problem now seems to be that the SpineEditor plugin doesn't get hot reloaded and thus on compile in VS all spine functionality disappears. Upon restarting the editor it says the SpineEditor plugin doesn't exist and you have to rebuild in VS to clean out the

[2018-09-25 07:52] badlogic commented on #1180
What UE version are you using? Hot reload is nothing that we can control on our end as plugin providers. Do you experience similar issues with other plugins that have an editor component?

[2018-09-25 07:52] badlogic commented on #1180
Sorry, just saw you posted the version in the issue title. I'll try to reproduce locally.

[2018-09-25 08:25] badlogic commented on #1180
Could you also elaborate what issues you had compiling the plugin? For UE 4.20, the build.cs file has to be modified, after which compilation should work out of the box.

[2018-09-25 09:18] GryphonWorx commented on #1180
The plugin looks for includes in several places where there are none, like the engine source directories in program files:

SpinePlugin.Build.cs : Referenced directory 'C:\Program Files\Epic Games\UE_4.20\Engine\Source\SpinePlugin\Public' does not exist.
SpinePlugin.Build.cs : Referenced directory 'C:\Program Files\Epic Games\UE_4.20\Engine\Source\SpinePlugin\Public\spine-cpp\include' does not exi

[2018-09-25 09:21] badlogic commented on #1180
Ah, sorry about the wrong instructions and ending up with an invalid spine-cpp path. I'll fix that!

Regarding the source directories, I've been trying to hunt down the cause of this myself for a while. It started with UE 4.20, worked as intended before. As you pointed out, the docs on plugins are rather ... let's say minimal. And nothing in the UE 4.20 changelog indicates what we're doing wrong t

[2018-09-25 09:30] badlogic commented on #1180
Found the fix for the include paths https://issues.unrealengine.com/issue/UE-60969

The problem is that this will make the plugin's build.cs incompatible with old UE4 versions, so I'm hesitant to apply the fix until we make 4.20 the minimum version (currently 4.18).

[2018-09-25 09:31] GryphonWorx commented on #1180
Very good, I found the same thing too, thought I'd be helpful but like minds XD. Good call though, we can live with the include paths being spammy on compile, it's not a big deal ayway. The biggest thing is the hot-reload problem, and I find that one a rather peculiar nut to crack.

[2018-09-25 09:46] badlogic commented on #1180
Ay, working on it. I'm using our example project as the baseline so we talk about the same thing. I'm documenting my findings here, so you may want to disable notifications for today :)

The game module recompiles and hot reloads fine. Both the SpineEditorPlugin and SpinePlugin do recompile, but not hot reload. There is no "hot reload succeeded" message in the editor. Worse, I have a map open with

[2018-09-25 09:48] GryphonWorx commented on #1180
I may but I find it interesting, I might also learn something. But I also want to add that what you wrote above is the exact behavior I have as well, just as verification.

[2018-09-25 11:04] badlogic commented on #1180
Welp, I found the culprit. Shared library hot reloading doesn't work with constant data...

We have a custom RTTI implementation that allows us to tag specific classes and use that info to differentiate between these classes. When UE4 hot reloads a class, a new constant data section is created, while the old instances of the classes loaded via the old shared library remain in memory as well. The R

[2018-09-25 11:20] badlogic commented on #1180
Confirmed that my fix in https://github.com/EsotericSoftware/spine-runtimes/commit/f534058fefb45b9ef7dc5d65844e3c1e14b09d62 is working in UE4. I can now reload changes in all modules (game, editor plugin, non-editor plugin).

Please pull from the 3.7-beta-cpp branch and copy the latest `spine-cpp/` over to your UE4 Spine plugin directory (`<projectDir>\Plugins\SpinePlugin\Source\SpinePlugin\Public

[2018-09-25 11:20] #1180 closed, assigned to badlogic

[2018-09-25 11:48] pharan commented on #1179
https://github.com/EsotericSoftware/spine-runtimes/commit/6a8e1df1080883872c5210b5f8e956715138766e

[2018-09-25 11:48] #1179 closed, assigned to pharan

[2018-09-25 13:59] badlogic commented on #1177
Hey @antidamage, thanks for reporting. This should be fixed with the commit above. Please pull in the latest changes from the 3.7-beta-cpp branch. Also make sure to copy over the latest contents of `spine-cpp`, as there was another fix for hot reloading, see #1180.

Note that the reimport only works if you change the .json or .skel file of a skeleton. Just changing the .atlas file will not work.

[2018-09-25 14:07] badlogic commented on #1166
Need to clean out old binaries and intermediates. Works with 3.7-beta-cpp example project.

[2018-09-25 14:07] #1166 closed, assigned to badlogic

[2018-09-27 16:04] HDANILO opened #1181 "Unity Assembly Definition"
New projects that are using Assembly Definition are having issues with Spine plugin, it has 10 editor folders that need Assembly Definitions, and it's making messy to have Spine integrated in such projects. Since spine is a plugin that is adopted early in the project, it is even more critical to have this feature on.

Here is the topic about Assembly Definitions: https://docs.unity3d.com/Manual/Sc

[2018-09-27 20:30] GryphonWorx opened #1182 "[ue4] Linker error when invoking spine-cpp APIs"
Hallo again. Thanks for all the help once more. Fabel from the forums too if that wasn't obvious :P.

Would you be up for making a quick wrapper for the spine::Animation class? From my digging it seems the only place where you store the actual animation string name and I can't for the life of me find anywhere that returns it in the Unreal classes. I'd like to be able to see the name of the animati

[2018-09-28 06:45] badlogic commented on #1182
I assume you want this for blueprints? The data can be easily accessed from C++.

[2018-09-28 07:53] GryphonWorx commented on #1182
In that case forgive me for now being able to find how to access it from C++. I felt I crawled through all the properties and objects you can get out of the Skeleton animator component?
My point being that the stuff you wrote to me in the forum doesn't work because trying to access anything in the AnimationState throws a linker error on compile, and the UTrackEntry has no property to access the an

[2018-09-28 09:49] badlogic opened #1183 "[ue4] Crash on editing blueprint when resolving RTTI of attachments"
See http://esotericsoftware.com/forum/UE4-20-3-3-7-cpp-beta-Access-violation-10886

[2018-09-28 10:00] badlogic commented on #1182
OK, the linker errors are the problem we need to solve then. Could you tell me what your exact setup is (UE version, VS version, compilation target, etc.). Can you reproduce the linker errors in our example project as well? Here's a related thread, and I simply can not reproduce the issue locally with our example project, even with a completely clean setup. http://esotericsoftware.com/forum/UE4-3-

[2018-09-28 10:40] GryphonWorx commented on #1182
It's the same issue. Right now I'm not by a computer but I had the same issue yesterday in the example project. Using vs2017 and ue4.20.3. I think it's because ue4 doesn't link things that are not in the api scope, I. E. Outside the SPINEPLUGIN_API classes.

[2018-09-28 10:45] GryphonWorx commented on #1182
Also the plugin only lives in the Plugins dir of the project. No files copied into the engine source locations under program files and all compiles OK as long as I don't use anything outside the SPINEPLUGIN_API scope.

[2018-09-28 12:24] badlogic commented on #1182
Thanks, I was able to reproduce the issue. E.g. in `SpineboyCppPawn.cpp`

[code]

Results in

[code]

I'm trying to resolve this without polluting all of spine-cpp with UE4 macros.

I've changed the issue title accordingly.

[2018-09-28 12:58] pharan commented on #1181
Hello HDANILO.
The 3.7-beta runtime already has the new folder structure and asmdef files. You can read more about it here: http://esotericsoftware.com/forum/Unity-2017-3-Assembly-Definition-Files-9270

![file](https://user-images.githubusercontent.com/1911082/46209815-78290b80-c361-11e8-9c63-b1b09435e209.png)

[2018-09-28 14:48] badlogic commented on #1182
I was finally able to track down all the issues involved in this. The latest commits to the 3.7-beta-cpp branch contain the fixes. You can now access all spine-cpp APIs from anywhere without linker issues. The `SpineboyCppPawn` code from above works as intended now as well.

Thanks for reporting and helping me nail this one!

[2018-09-28 14:48] #1182 closed, assigned to badlogic

[2018-09-28 14:52] badlogic commented on #1183
Seems to be related to this commit where hot reloading was "fixed". https://github.com/EsotericSoftware/spine-runtimes/commit/f534058fefb45b9ef7dc5d65844e3c1e14b09d62

[2018-09-28 16:22] badlogic commented on #1183
Fixed by reverting re-import fix in #1177

[2018-09-28 16:22] #1183 closed, assigned to badlogic

[2018-09-28 16:39] badlogic commented on #1177
The fix for this was incorrect. Need to rework the way how we signal asset changes.

[2018-09-28 16:42] HDANILO commented on #1181
Thanks for the fast answer, it's a good idea to have this information easy to access, many others might come for this

[2018-09-28 16:42] #1181 closed, assigned to nobody

[2018-09-29 03:40] fjqingyou opened #1184 "spine-Unity SkeletonGraphic.Update Run time too long"
I'm Sorry!  My English very bad! so, this content body from google translate!

I using spine-Unity , but project run on ipad device, unity profiler view geting info  SkeletonGraphic.Update Run time too long.

so, In order to locate the problem, i add temp test c# code in cs file!

//SkeletonGraphic.cs
public void UpdateMesh () {
...
if (currentInstructions.hasActiveClipping) {
    Profiler.BeginSa

[2018-09-29 06:25] fjqingyou commented on #1184
I read the SDK code and use it in my own cs script.

MeshGenerator meshGenerator = skeletonGraphic.MeshGenerator;
MeshGenerator.Settings settings = meshGenerator.settings;
settings.useClipping = false;//Do not use this feature
meshGenerator.settings = settings;//value type need resetting it

Although the implementation reduces the execution time of the program. Because I am not an art worker. I do

[2018-09-29 06:41] fjqingyou commented on #1184
I haven't read all the SDK code yet, but I have a rough look at the 6-level for loop. The loop structure seems to be a bit deep. I wonder if you have any plans to optimize the algorithm? After all, the burden of such a multi-layer loop on the CPU seems to be no small.

[2018-09-29 12:56] pharan commented on #1184
Using the Clipping feature will always be expensive as you increase the number of attachments and triangles to clip. Always disable clipping when not in use, and minimize the number of attachments and triangles when in use.

If you can achieve the effect you need using Unity's shader stencils or UI masks, it will be much more performant.

[2018-09-29 13:10] pharan opened #1185 "API to support serializing AnimationState"
Currently, AnimationState has some sane safeties for preventing multiple SetAnimation calls in the same frame from creating multiple TrackEntry objects which can cause unpredictable mixing.

But for instance, I want to set a specific track arrangement (maybe based on loaded game logic) where:
track 1: shooting. time: 0.5 seconds.
track 0: mixing between run and walk halfway

Currently, the necessa

[2018-09-29 13:26] GryphonWorx opened #1186 "[cpp] - Read Access Violation in AnimationState::animationsChanged()"
Randomly when this function gets called, entry is already NULL leading to a Read Access Violation. This happens in the Spine example project if you load the 04 - Basic Controls map, hit Play and then just press Space a couple of times, then wait and the project will crash a second or two later.

Changing the current fuction:
`
void AnimationState::animationsChanged() {
	_animationsChanged = false;

[2018-09-29 13:34] fjqingyou commented on #1184
Thanks!
I need closed this issues now?

[2018-10-01 09:05] badlogic commented on #1186
Thanks for reporting, fixed! I went through the rest of `AnimationState` (any code touching `tracks` really) to ensure we check null entries.

[2018-10-01 09:05] #1186 closed, assigned to badlogic

[2018-10-01 12:56] DanniSchou opened #1187 "[unity] Cloned MeshAttachment when repacking skin does not clone color"
Using skin.GetRepackedSkin(...) with MeshAttachments results in the attachment being cloned with white regardless of the actual color.
The issue is located [here](https://github.com/EsotericSoftware/spine-runtimes/blob/3.6/spine-unity/Assets/spine-unity/Modules/AttachmentTools/AttachmentTools.cs#L1047).
[code]
Should be changed to:
[code]

[2018-10-01 13:46] pharan commented on #1187
hmm. thanks for reporting this!

[2018-10-01 14:07] pharan commented on #1187
This has been applied to 3.7-beta. https://github.com/EsotericSoftware/spine-runtimes/commit/c81f9dbe62eb0ba0ab4336324a3b08ac5b540164
Are you using 3.6? It should be easy to backport.

[2018-10-01 14:07] #1184 closed, assigned to nobody

[2018-10-01 14:08] pharan commented on #1184
Thanks for letting us know.
Let us know if you have problems with the runtime!

[2018-10-01 14:31] DanniSchou commented on #1187
Thanks, that was super fast!
I'm currently on 3.6. I've added the fix locally since I'm using the unitypackage.

[2018-10-02 09:25] badlogic opened #1188 "[cpp] Mesh deforms and attachment changes behave erratically in some cases"
Two reports:

1. http://esotericsoftware.com/forum/UE4-20-3-3-7-cpp-beta-Deformation-and-rendering-problem-10905
2. The other via email

[2018-10-02 09:29] badlogic opened #1189 "[ue4] Fix include paths in build.cs files of editor and standard plugin"
See http://esotericsoftware.com/forum/Problem-compiling-runtime-3-7-beta-cpp-for-UE4-19-10887

[2018-10-02 16:45] pharan commented on #1187
The fix was applied to 3.6, including the unitypackage.
Thanks again for reporting this problem!

[2018-10-02 16:45] #1187 closed, assigned to nobody

[2018-10-03 11:21] #1189 closed, assigned to badlogic

[2018-10-03 13:59] alex-kolb opened #1190 "[ue4] Random crashes in spine code (See call stack below)"
We have some random crashes in our game in spine source code, here is call stack of the crash:

ntdll.dll!00007ffe1f8e9f74()    Unknown
    KernelBase.dll!00007ffe1bc59252()    Unknown
    game-Win64-DebugGame.exe!ReportCrash(struct _EXCEPTION_POINTERS *)    C++
    game-Win64-DebugGame.exe!_guard_dispatch_icall_nop()    C++
    vcruntime140.dll!00007ffe0da8c6a0()    Unknown
    ntdll.dll!00007ffe

[2018-10-03 15:05] badlogic commented on #1190
Thanks for reporting. It's hard to tell what the cause of this is. Could you try to boil it down to an reproduction project that triggers this?

[2018-10-03 15:22] alex-kolb commented on #1190
Unfortunately it's quit rare crash and we don't know steps to reproduce.

[2018-10-03 15:24] badlogic commented on #1190
Hm, the stack trace tells me that the crash happens when an animation event
is fired amd the callback for it is called. So the crash is actually not
happening in Spine code, but code written by you that reacts to the event.
Do you process events in blueprints or C++? Can you give more information
what you do in the callbacks?

On Wed, Oct 3, 2018, 17:22 kolobok1386 <notifications@github.com> wrote

[2018-10-03 15:41] alex-kolb commented on #1190
No we don't process any events from spine component. Just run animation with
SpineAnimation->SetAnimation(0, "animation", false);

[2018-10-03 15:47] badlogic commented on #1190
I'm afraid without more information or a reproduction sample it will not be
possible to fix this

Maybe you could try to modify our UE4 example to be closer to what you do
so it triggers the issue?

On Wed, Oct 3, 2018, 17:41 kolobok1386 <notifications@github.com> wrote:

[2018-10-04 07:31] PommesDog opened #1191 "[monogame]SkeletonBounds Sample not work"
I used Spineboy sample Data and Monogame Sample Code
[code]
[code]

[code]
When I run in debug mode I noticed slot.attachment is null

I edited json and it worked

 spine-runtimes/examples/spineboy/export/spineboy-ess.json
Before
`{ "name": "head-bb", "bone": "head" },`
After
`{ "name": "head-bb", "bone": "head", "attachment": "head" },`

[2018-10-05 14:06] alex-kolb commented on #1190
Hi !

We made some investigation on this issue (it's still hard to reproduce, but we could catch some crashes). Seems the issue because at some moment trackEntry object in lines 242 in AnimationState.cpp becomes invalid. Seems this is because you set it to TrackEntry object as a raw pointer

void UTrackEntry::SetTrackEntry(TrackEntry* entry) {
	this->entry = entry;
	if (entry) entry->setRendererOb

[2018-10-05 14:21] alex-kolb commented on #1190
And one more thing, seems you need to change in SpineSkeletonAnimationComponent.cpp line 85
	trackEntries.Empty();
to
DisposeState();

because BeginPlay can be called several times, for example in our game user can see playable spine animation and exit from scene and then back to the level so BeginPlay will be called once again and in this case trackEntry will be clean, but state will have old val

[2018-10-05 14:32] badlogic commented on #1190
`UTrackEntry` does not manage the life-cycle of the underlying `TrackEntry`. `AnimationState` does, which in turn is managed by `SpineSkeletonAnimationComponent`. `TrackEntry` and `AnimationState` are not using the UE4 GC. They get manually created and destroyed (by `SpineSkeletonAnimationComponent`. So I do not believe that is the cause of the crash, but that the crash may be related to this some

[2018-10-05 14:40] alex-kolb commented on #1190
Yes, we could see that UTrackEntry doesn't manage lifecycle of TrackEntry, I mean you set UTrackEntry object to native TrackEntry object, but native TrackEntry object doesn't store UTrackEntry link inside as UPROPERTY, because it's native cpp file from common runtime part. And UTrackEntry can be destroyed by UE4 GC. But seems that the main reason because of dirty state at the BeginPlay.

[2018-10-05 14:43] badlogic commented on #1190
Does calling DisposeState() alone in BeginPlay() fix your issue?

On Fri, Oct 5, 2018, 4:40 PM kolobok1386 <notifications@github.com> wrote:

[2018-10-05 14:49] alex-kolb commented on #1190
Checking this right now, we could reproduce this bug when left bot AI playing our game. Just run it once again for weekend will report you about results on Monday.

[2018-10-05 14:51] badlogic commented on #1190
Awesome, thanks for helping out!

On Oct 5, 2018 4:49 PM, "kolobok1386" <notifications@github.com> wrote:

Checking this right now, we could reproduce this bug when left bot AI
playing our game. Just run it once again for weekend will report you about
results on Monday.

—
You are receiving this because you were assigned.
Reply to this email directly, view it on GitHub
<https://github.com/Esoteric

[2018-10-08 12:31] pharan commented on #1191
Thanks for letting us know!
Seems like the problem was just that our sample project setup pose has changed since the example code was written.

[2018-10-08 13:35] DanDanger opened #1192 "[cpp] assert() macro surrounding code, causes crash in release builds."
in Atlas.cpp there are many lines where assert() wraps code that needs to be executed in release builds.

eg.

line 139: assert(readTuple(&begin, end, tuple));

This causes release builds to crash.
Compiling on visual studio community edition.

[2018-10-08 14:43] badlogic commented on #1192
Thanks for reporting, fix incoming.

[2018-10-08 15:32] PommesDog commented on #1191
thank you pharan and badlogic
yes i think so too
need fix "head-bb" atachment setting in the "spineboy-ess.spine" and "spineboy-pro.spine"

[2018-10-08 23:17] pharan commented on #1191
That should do it:
https://github.com/EsotericSoftware/spine-runtimes/commit/61b8fcc696c689dcf952f6130f705cd04f6b7c28

[2018-10-09 00:43] PommesDog commented on #1191
I See
Thank you pharan

[2018-10-09 09:50] badlogic opened #1193 "[csharp] Remove Serializable annotations for UWP"
See http://esotericsoftware.com/forum/UWP-and-Monogame-support-10899

[2018-10-10 13:41] NathanSweet commented on #841
spine-libgdx in 3.6 has had Skin#addAttachments(Skin) for a while now:
https://github.com/EsotericSoftware/spine-runtimes/blob/3.6/spine-libgdx/spine-libgdx/src/com/esotericsoftware/spine/Skin.java#L67

Forum user who wants to combine skins:
http://esotericsoftware.com/forum/Multiple-skins-approach-10930?p=49250#p49250

[2018-10-12 13:27] badlogic opened #1194 "[runtimes] time scale 0 mixing bug"
See http://esotericsoftware.com/forum/TS-TimeScale-0-during-mixing-bug-10953

Port
https://github.com/EsotericSoftware/spine-runtimes/commit/abdbb10480e4906d659bb11c18d1dc65e0af1e88
https://github.com/EsotericSoftware/spine-runtimes/commit/84ae36f90f578fd7c15833721e7445ad72adf565
https://github.com/EsotericSoftware/spine-runtimes/commit/f95465ff964c8ee24ac4a5ab215092ed66500825

- [x] spine-libgdx

[2018-10-14 15:47] NathanSweet commented on #1185
I agree some way around the replacement of an unapplied track entry is needed to setup AnimationState as you described. I've added to the `setAnimation` docs:

If we use a TrackEntry method, it needs to be named carefully. `allowImmediateQueue` is pretty technical, my first response was: what is "immediate queue"? One way to describe it is "mark as applied", which matches the docs. A method name c

[2018-10-15 05:07] pharan commented on #1185
The reason I wouldn't go for "applied" is that it assumes the user knows that being not applied is the reason behind not being able to arrange multiple animations on a track as mentioned in the first post.

I'm not pushing for "allowImmediateQueue". But I think the name is better if it just says what it enables, rather than describing its implementation which may change. I would just choose a diff

[2018-10-15 08:50] badlogic opened #1195 "[corona] Events not firing"
http://esotericsoftware.com/forum/onEvent-not-working-properly-for-me-10864 and email

[2018-10-15 11:40] badlogic commented on #1185
I wonder if this shouldn't be a (set of) method(s) on `AnimationState` instead of stuffing more fields into `TrackEntry`. Not sure exactly how that'd look without making the API surface of `AnimationState` more complex.

If we go with a field/getter/setter on `TrackEntry` I think `markAsApplied` is good from a user perspective.

[2018-10-15 11:42] badlogic commented on #1190
Hey @kolobok1386 I was wondering what your weekend testing resulted in? Does a call to `DisposeState()` in `BeginPlay()` fix the issue for you?

[2018-10-15 11:43] #1191 closed, assigned to badlogic

[2018-10-15 11:57] badlogic commented on #1192
@DanDanger I went through the entire C++ code base on a hunt for asserts in the 3.7-beta-cpp branch. None of the asserts execute code that non-asserted code paths depend on.

I've backporting the 3.7-beta-cpp changes to the 3.7-beta branch. Going forward, I would suggest you base your work off of the 3.7-beta-cpp branch, until 3.7 is released.

Thanks for reporting!

[2018-10-15 11:57] #1192 closed, assigned to badlogic

[2018-10-15 12:00] #1193 closed, assigned to badlogic

[2018-10-15 12:23] NathanSweet commented on #1185
John's point makes some sense, that marking it as "applied" (especially when it really has not been) is a roundabout way of preventing it from being replaced. Still, the reason why an entry is replaced (it hasn't been applied) is documented and it is that state of not being applied yet that causes the replacement. I don't expect we'll change the reasons for replacement or have other things depend

[2018-10-15 12:31] badlogic commented on #1185
Torn on this. I'm in favor of full `AnimationState` serializability. But the proposed solution would allow only partial serialization of AnimationState. What about events still hanging in the queue? Also, what about manual changes made to skeletons by a user, which is entirely outside of `AnimationState`?

I feel for full serialization, we'd need to consider much more than just `AnimationState`. I

[2018-10-15 13:51] NathanSweet commented on #1185
AnimationStateListener events are only queued within AnimationState methods. It should always be drained before returning.

We wouldn't be trying to serialize the skeletons themselves, but such code would be application level code, so out of scope for AnimationState serialization. Presumably the app would do what is needed to reapply such changes. App code would also be responsible for reattaching

[2018-10-15 14:23] NathanSweet commented on #1194
We added a special case (859dd76f78d11e9b3b480deda49205ebfdd929c0 and issue #806) which causes a "mixing from" entry to immediately finish if the "to" entry has timescale=0. This was done to fix [this user's](http://esotericsoftware.com/forum/SkeletonAnimation-Update-Using-97-of-frame-time-7611) problem. That is a bad use of timeScale though, and the special case finishes the mix without it having

[2018-10-15 14:37] #1188 closed, assigned to badlogic

[2018-10-15 16:33] sp-stefano-lanza opened #1197 "Bug in 3.7-beta / Animation.c / spIkConstraintTimeline_setFrame"
```spIkConstraintTimeline_setFrame``` in Animation.c has a bug. ```spIkConstraintTimeline_create``` allocates a timeline with a number of entries per frames equal to IKCONSTRAINT_ENTRIES (== 4). ```spIkConstraintTimeline_setFrame``` writes the "stretch" value to the IKCONSTRAINT_STRETCH element (== 4), thus causing an out-of-bound memory write. I believe IKCONSTRAINT_ENTRIES should be equal to 5.

[2018-10-15 16:51] timwickey commented on #1195
This fix made some events fire - but not all. I have 4 events and only two of them trigger.
I have confirmed this with the events in the Gunman asset pack - they do not work.
https://esotericsoftware.com/spine-asset-packs

For instance Fire_Shotgun has 4 events. Eject Casing, Fire, and two sound events. Only Eject Casing and the latter sound event trigger. ( If I move all events to at min 10 ticks

[2018-10-15 17:06] timwickey commented on #1195
This works. (all 4 trigger)
![image](https://user-images.githubusercontent.com/1440919/46966141-ddc40a00-d07a-11e8-832c-538415962efb.png)
This does not. (only last 2 trigger)
![image](https://user-images.githubusercontent.com/1440919/46966177-f6ccbb00-d07a-11e8-8a77-2f5b263880ec.png)

[2018-10-16 11:28] badlogic commented on #1195
Thanks for reporting! I'll dig into it.

[2018-10-16 13:44] badlogic commented on #1197
Thanks for reporting, this is fixed in the 3.7-beta and 3.7-beta-cpp branches.

[2018-10-16 13:44] #1197 closed, assigned to badlogic

[2018-10-17 14:01] NathanSweet opened #1198 "[runtimes] Path constraint tangents jiggle at position 0"
Porting for 9be30c44cd5fd8665f2727632e04ad4de80ab6de

- [x] spine-libgdx

---
- [x] spine-csharp
- [x] spine-xna
- [x] spine-monogame
- [x] spine-unity
- [x] spine-tk2d

---
- [x] spine-c
- [x] spine-cpp
- [x] spine-sfml
- [x] spine-cocos2d-objc
- [x] spine-cocos2dx
- [x] spine-ue4

---
- [x] spine-ts core
- [x] spine-ts webgl
- [x] spine-ts canvas
- [x] spine-ts threejs

---
- [x] spine-as3
- [x]

[2018-10-17 23:01] NathanSweet commented on #1194
Reopening with a new potential fix: f95465ff964c8ee24ac4a5ab215092ed66500825
We should do a group review before porting this, to be sure. The commit causes mix time to no longer be affected by TrackEntry `timeScale`. This is more sane than using either the `from` or `to` time scale, which change the mix durations in often surprising ways.

[2018-10-18 13:39] timwickey commented on #1195
I appreciate it!

[2018-10-18 22:54] #1121 closed, assigned to badlogic

[2018-10-18 22:56] NathanSweet commented on #1194
Review passed, porting can commence. Checkboxes above have been reset.

[2018-10-20 18:46] badlogic opened #1199 "[runtimes] localToWorldRotation and worldToLocalRotation do not account for shear"
See https://github.com/EsotericSoftware/spine-runtimes/commit/3851e201d80b2e4d2195b38c7980ea3cf9928c44

- [x] spine-libgdx

---
- [x] spine-csharp
- [x] spine-xna
- [x] spine-monogame
- [x] spine-unity
- [x] spine-tk2d

---
- [x] spine-c
- [x] spine-cpp
- [x] spine-sfml
- [x] spine-cocos2d-objc
- [x] spine-cocos2dx
- [x] spine-ue4

---
- [x] spine-ts core
- [x] spine-ts webgl
- [x] spine-ts canvas

[2018-10-22 08:16] badlogic commented on #1177
Related crash http://esotericsoftware.com/forum/UE4-3-7-beta-cpp-re-import-crash-10975

[2018-10-23 07:40] pharan commented on #841
esotericsoftware.com/forum/Unity-spine-unity-3-7-problems-with-SetSkin-10994

[2018-10-26 15:43] #1198 closed, assigned to badlogic, pharan

[2018-10-30 15:56] #1194 closed, assigned to badlogic

[2018-10-30 16:01] badlogic commented on #1190
Hey @kolobok1386 any news on this? If not, I consider this issue resolved.

[2018-10-30 16:11] #1199 closed, assigned to badlogic, pharan

[2018-11-06 15:35] sbrednikhin opened #1200 "[c] Bug with type overflow in spColor_setFromFloats"
`spColor_setFromFloats` doesnt contain `spColor_clamp`.
As the result using curves in editor can cause type overflow with short blinking during animating alpha to zero.
For example when using animation curve with little overflow (going higher than 100%) in animation where alpha goes from 255 to 0 in `_spColorTimeline_apply` `percent` and `a` variables will become negative and we will see "blink".

[2018-11-06 17:42] #1200 closed, assigned to badlogic

[2018-11-06 17:44] badlogic commented on #1200
Thank you for reporting, I've fixed this on the 3.6, 3.7-beta and 3.7-beta-cpp branches. The C++ runtime was not affected by this.

[2018-11-07 01:30] motifgames commented on #1047
We are waiting this feature 1 year. I want to know release schedule or roadmap. It is VERY IMPORTANT about Our Team and Project.

[2018-11-07 23:13] badlogic opened #1201 "[ue4] Update to 4.21"

[2018-11-09 13:37] badlogic opened #1202 "Widget example code crashes"
See http://esotericsoftware.com/forum/Missing-graphics-in-Canvas-11065?p=49795#p49795

[2018-11-09 14:24] timwickey commented on #1195
Any luck?

[2018-11-12 10:21] badlogic opened #1203 "[c] Point attachment parsing crashes for JSON"
See email FMfcgxvzLXFFvVmznPVbTPBSDrVGMJGZ

[2018-11-12 21:16] pharan opened #1204 "[runtimes] AnimationState attachmentThreshold does not work"
The current implementation has no effect. We want it to behave as follows:

* Use the timeline's attachment if mix percentage < attachmentThreshold, else use the setup pose attachment.
* If the mix percentage is 1, use the setup pose attachment. This should be true if attachmentThreshold is never > 1. Mix percentage is 1 when an entry will no longer be applied

Test asset can be found at:

https:/

[2018-11-13 13:33] badlogic opened #1205 "Add code formatters for all languages and IDEs we use"
Define the coding style for each language and IDE we support/use, and if necessary, put IDE specific formatter files in the `spine-xxx` core runtime directories. Denote what is used below. Format all existing code accordingly.

- [x] spine-libgdx (libGDX formatter for Eclipse, can be imported into IntelliJ IDEA)

---
- [ ] spine-csharp (use the Visual Studio default, but configure it to use braces

[2018-11-13 14:47] badlogic commented on #1203
Requested more info from user via email.

[2018-11-13 14:48] badlogic commented on #1202
Works as intended.

[2018-11-13 14:48] #1202 closed, assigned to badlogic

[2018-11-13 15:04] badlogic commented on #1195
Sorry for the huge delay. I finally found time to work on this. I got the Gunman asset pack, exported it with default settings to .json, put the Gunman.* exported files into `spine-corona/data`, added this line to `main.lua` before line 85

[code]

And it works as intended. I get all 4 events:

![https://libgdx.badlogicgames.com/uploads/qbo4KiKrVY.png](https://libgdx.badlogicgames.com/uploads/qbo4

[2018-11-13 15:04] #1195 closed, assigned to badlogic

[2018-11-14 06:34] fanfantu opened #1206 "How do you perform multiple different animations in a spine at the same time"
How to execute multiple different animations in spine at the same time? Now I have created multiple different canvas, but when the animation is executed at the same time, it will cause carton to lose frames. I want to ask how to solve this problem in a short time

[2018-11-14 10:16] badlogic commented on #1206
Could you ask this question on the forum at http://esotericsoftware.com/forum/?f=3? This issue tracker is usually reserved for issue reports and not general questions.

What Spine runtime are you using? You are speaking of canvas, so I assume you use the spine-ts widget runtime? Please include that information, along with a link to a test that shows the problem in your forum post.

[2018-11-14 10:16] #1206 closed, assigned to nobody

[2018-11-14 10:16] badlogic commented on #1203
Works as intended.

[2018-11-14 10:16] #1203 closed, assigned to badlogic

[2018-11-14 10:16] badlogic commented on #1190
@kolobok1386 I assume this is fixed, I'm closing this out now. Please post here if you still run into problems, and I'll re-open.

[2018-11-14 10:16] #1190 closed, assigned to badlogic

[2018-11-14 19:53] HaraldCsaszar opened #1208 "[unity] Animation not working when transition is interrupted"
Reported on Forum Thread:
http://esotericsoftware.com/forum/Unity-Animation-not-working-when-transition-is-interrupted-11081?sid=46a7e779ace8c23fd3d130a44ece6109&p=49839#p49839

Repro: zip file attached at email FMfcgxvzLhZWDDsdzmSjKQxKZljnsHXw

Problem seems to be that
animator.GetCurrentAnimatorClipInfoCount(layer) returns 0 while animation transition is interrupted, as if no clip was currently

[2018-11-15 03:57] pharan commented on #1204
http://esotericsoftware.com/forum/Unity-SetAnimation-and-Attachments-mix-11036

[2018-11-15 09:06] HaraldCsaszar commented on #1208
animator.GetCurrentAnimatorClipInfoCount(layer) and animator.GetNextAnimatorClipInfoCount(layer) return 0 current and next clips during transition interruption. However animator.GetNextAnimatorClipInfo(layer, nextClipsList) fills it with 1 clip entry.
Solution could be to check if(nextClipCount != nextClipCache.Count) -> interruption happened, use stored values of last frame.

[2018-11-16 03:32] jimmymjing commented on #883
Oh...Is this feature's implementation getting delayed?

[2018-11-16 12:37] pharan commented on #1205
I can't find the actual format used by VS 2017.
Not using the default C# formatting since Nate went with more Java-ish formatting for spine-csharp.

VS2017 seems to support the .editorconfig format but that doesn't encompass all the formatting rules you can set for C# in VS.

I'm not sure if this would apply in spine-unity, especially in older projects, as actual spine-csharp and spine-unity code

[2018-11-17 23:48] sNAtttu opened #1209 "[unity] Link to documentation about controlling animations is leading to Page not found"
Hello!

First of all I want to thank all of you about for the great assets in the 2D RPG bundle in the newest Humble Bundle.

I'm trying to learn how to use the spine runtimes with unity and I tried to use this link provided by your website
![image](https://user-images.githubusercontent.com/6155769/48666911-8844a800-ead3-11e8-81de-f8f9d5172bb6.png)

However this link is leading me to the default s

[2018-11-18 22:03] NathanSweet commented on #841
FWIW, spine-libgdx in 3.7 has Skin#removeAttachment.

[2018-11-18 22:07] NathanSweet commented on #841
Punting to future release (sorry).

[2018-11-19 10:07] badlogic opened #1210 "[ue4] Support dynamic material instances on SkeletonRendererComponent"
See http://esotericsoftware.com/forum/UE4-Any-idea-how-to-change-color-8049

See https://docs.unrealengine.com/en-us/Engine/Rendering/Materials/MaterialInstances

[2018-11-19 15:11] fvmitnick opened #1211 "Update 4.20/4.21 please !"
really need this .!

[2018-11-19 15:14] fvmitnick commented on #1201
where can i download the the plugin ?

[2018-11-20 07:50] ahao1011 opened #1212 "Dynamically display the data obtained by the server. For example, the slot in the spine has the slot of the student's name, retrieve the data from the server, and update the slot."
I use spine-cocos2d-objc to implement a game that contains the student's name and avatar. I need to update the data obtained by the server to the corresponding slot. What should I do? Thank you

[2018-11-20 12:39] badlogic commented on #1212
Please ask this question on the forum at https://esotericsoftware.com/forum. We only use the issue tracker for bugs and enhancement tracking.

[2018-11-20 12:39] #1212 closed, assigned to nobody

[2018-11-20 12:39] badlogic commented on #1211
There's already an issue for this, see #1201

[2018-11-20 12:39] #1211 closed, assigned to nobody

[2018-11-21 09:58] pharan commented on #1209
Thanks for reporting.
The link on the site is http://esotericsoftware.com/spine-unity-animation

The server has some caching settings (browser side) so changes may not be reflected unless you force refresh a page.

[2018-11-21 09:58] #1209 closed, assigned to pharan

[2018-11-22 12:21] oziphantom opened #1213 "Cocos2d-X c++ missing mesh"
Hello again, they finally got around to testing the animations or at least more of them. And this one https://www.dropbox.com/s/yt8t3sdayd7s4h9/lionBug.zip?dl=0 fails to show the rod and background net in its animation.
 I noticed that there were some updates to spine-c so I downloaded the new new 3.6 runtimes, and copied over the spine-c files. Clean rebuild, and the handle of the net, and "backg

[2018-11-23 09:41] rekcah1986 opened #1214 "Crash with skeleton binary"
Spine: 3.6.52 Professional
Runtime: cocos2d-x 3.6
Spine Runtime: 3.6

My game crashed when load the “.skel” file, but no crash with the ".json" file.
I found the code in SkeletonBinary.c:695 (in function spSkeletonBinary_readAttachment)
[code]
spAttachmentLoader_createAttachment return NULL, then the region is NULL.

Sorry for my poor English, please help me.

[2018-11-23 09:44] rekcah1986 commented on #1214
The animation files: [mn.zip](https://github.com/EsotericSoftware/spine-runtimes/files/2610250/mn.zip)

[2018-11-23 10:29] badlogic commented on #1213
@oziphantom could you please send me the Spine project? I'll re-open once I have that.

[2018-11-23 10:44] rekcah1986 commented on #1214
Simliar to: [Region not found in atlas error](http://zh.esotericsoftware.com/forum/Unity-Region-not-found-in-atlas-error-2317?sid=67dea7bbc875f9281fc09622f2d78cc9&p=11445&hilit=readAttachment#p11445)

[2018-11-23 10:58] badlogic commented on #1214
@rekcah1986 your .atlas file is missing the region "starout_0007".

[2018-11-23 10:58] #1214 closed, assigned to badlogic

[2018-11-23 11:19] rekcah1986 commented on #1214
Can you add a function to automatically check this problem before exporting? @badlogic

[2018-11-23 11:55] badlogic commented on #1214
The editor should actually already warn you when the exported atlas does
not contain everything you need. If taht is not the case for your project,
please send us your Spine .project and image files.

On Fri, Nov 23, 2018, 12:19 bin仔 <notifications@github.com wrote:

[2018-11-23 16:05] zhengying commented on #728
Any update?  why not use Geequlim 's work?  What's missing in Geequlim's module?

[2018-11-24 08:17] oziphantom commented on #1213
https://www.dropbox.com/s/qdaqo5ekifz9i3v/LION%20CATCHES%20SPINE.zip?dl=0

[2018-11-24 08:20] badlogic commented on #1213
Cheers! It appears there are spaces in some of the region names, e.g. "PNG/ROD ". The C runtime strips those when loading the atlas, but the spaces are retained when searching for attachments in the atlas. I'll fix this on Monday.

[2018-11-26 19:25] PazerOP opened #1215 "Copy constructors for Skeleton and AnimationState."
Add "copy constructors" for Skeleton and AnimationState in 3.7. Callbacks set on AnimationState will be retained. It is the duty of the user to unset them if they shouldn't be copied. Special care needs to be taken for the manual memory managed runtimes (C/C++).

- [ ] spine-libgdx

---
- [ ] spine-csharp
- [ ] spine-xna
- [ ] spine-monogame
- [ ] spine-unity
- [ ] spine-tk2d

---
- [ ] spine-c
-

[2018-11-26 22:41] badlogic commented on #1215
Could you elaborate on your use case for copying these structs?

[2018-11-26 23:04] PazerOP commented on #1215
Certainly.

Our current use case involves an ECS-based game engine. We have support for duplicating/cloning entities and all their components (for spawning multiple enemies using a preconfigured template entity, for example). For all of our simpler components this works fine, but this is not fully possible for our SpineAnimator component.

Our SpineAnimator component consists of `std::shared_ptr`s

[2018-11-27 04:37] rekcah1986 opened #1216 "[cocos2dx] Unexpected first frame"
Spine: 3.6.53 Professional
Runtime: cocos2d-x 3.17
Spine Runtime: 3.6

![gif](https://user-images.githubusercontent.com/3055444/49058896-fe1de180-f240-11e8-8fde-86e98b559d0f.gif)

Code:
[code]
[xmfs.zip](https://github.com/EsotericSoftware/spine-runtimes/files/2618355/xmfs.zip)

[2018-11-27 08:47] NathanSweet commented on #1215
Related: #1185

[2018-11-27 10:59] badlogic commented on #1215
@PazerOP Thanks for the input on this! We've decided to go ahead and add "copy constructors" to all runtimes. I've modified your initial issue comment accordingly, so we can keep track of the progress.

We'll not back port this to 3.6, but instead add it to the 3.7 branch.

[2018-11-27 11:24] badlogic commented on #1213
This is now fixed int the 3.6, 3.7-beta, and 3.7-beta-cpp branches.

[2018-11-27 11:32] badlogic commented on #1216
I can not reproduce this. I've added your assets to our `CoinExample.cpp` but do not see the superfluous frame you show in your GIF.

Please provide me with code that reproduces the issue reliably and I'll re-open the issue.

[2018-11-27 13:29] rekcah1986 commented on #1216
@badlogic
Try this code and click it more times:
[code]

[2018-11-29 12:56] rekcah1986 commented on #1216
[output.zip](https://github.com/EsotericSoftware/spine-runtimes/files/2629156/output.zip)
I uploaded the project file if it's helpful, Thanks for helping.

[2018-12-01 05:17] ccmfeng opened #1217 "[cocos2dx] Cannot display correctly mesh"
Spine: 3.6.52 Professional
Runtime: cocos2d-x 3.17
Spine Runtime: 3.6
![org](https://user-images.githubusercontent.com/6304643/49324561-2a03d480-f56b-11e8-8a3c-3a05dc02c865.png)
![bug](https://user-images.githubusercontent.com/6304643/49324562-2f611f00-f56b-11e8-99b5-62ea59018849.png)
![spine](https://user-images.githubusercontent.com/6304643/49324575-67686200-f56b-11e8-8766-c9e2f7f9583f.png)

[2018-12-01 19:58] NathanSweet commented on #1204
@pharan Can you please try out that fix and verify it's good before it's ported to all runtimes?

[2018-12-03 10:28] pharan commented on #1204
Looks good. This fixes the transition A->B where A has a key and B does not.

[2018-12-03 10:50] CodeMasterYi opened #1218 "[unity]Spine behaves like ugui element!(Unity 5.5.2)"
as the title, how can i make spine animation behaving like a ugui element?

[2018-12-03 15:51] badlogic commented on #1201
See http://esotericsoftware.com/spine-ue4. Please use the 3.7-beta-cpp branch.

[2018-12-03 21:04] #1208 closed, assigned to pharan, HaraldCsaszar

[2018-12-04 01:31] CodeMasterYi commented on #1218
Is it possible to convert spine animation to unity animation(ugui)?

[2018-12-04 02:42] CodeMasterYi commented on #1218
ehhh..... I have found `SkeletonGraphic` =.=

[2018-12-04 03:20] #1218 closed, assigned to nobody

[2018-12-04 09:59] erikari opened #1219 "[runtimes] Clipping code does not handle some singularities"
If some vertices of a triangle to be clipped overlap with vertices of the convex clipping polygon, singularities may appear. Guard against them.

Fix here: https://github.com/EsotericSoftware/spine-runtimes/commit/637db7ca9d0641a0dd29d83c81e2780d2674475c

- [x] spine-libgdx

---
- [x] spine-csharp
- [x] spine-xna
- [x] spine-monogame
- [x] spine-unity
- [x] spine-tk2d

---
- [x] spine-c
- [x] spin

[2018-12-04 14:46] badlogic commented on #1217
Please send me your .json/.skel/.atlas/.png files. I'll re-open once I have those.

[2018-12-04 15:26] NathanSweet commented on #1219
@badlogic I created a minimal repro program, can you take a look?
http://n4te.com/x/5614-N4E4.txt

[2018-12-04 15:33] #1216 closed, assigned to badlogic

[2018-12-04 15:42] badlogic commented on #1216
This has been fixed in the 3.6, 3.7-beta, and 3.7-beta-cpp branches.

[2018-12-04 16:48] rh101 commented on #1213
This fix has caused an issue. The code that was commented out is causing the trim method to not remove the carriage return character when it is parsing the text in the atlas file.  For instance, it's picking up the "/r" character at the end of name of the image file that is referenced in the atlas file (so "image.png" is coming out as "image.png/r").  In this case it ends up crashing down the line

[2018-12-04 17:02] badlogic commented on #1213
Ah yes, this is fixed in 3.7-beta(-cpp), but I forgot to backport it, see https://github.com/EsotericSoftware/spine-runtimes/commit/08694b37b397a6bcc186c36678c1d66dc958a9ce

I'll fix this up tomorrow, thanks for the report!

[2018-12-05 08:24] NathanSweet commented on #1219
3.7.69-beta prevents the clipping NaNs from wrecking the editor camera when opening the project, though clipping still has the bug shown in the GIF and program above.

[2018-12-05 08:54] NathanSweet commented on #1219
Erika pasted vertices to cause this and I see the clipping attachment verts and the mesh attachment verts (`float[] vertices` in the code above) are the same (just ordered differently). Maybe we need some comparisons for this case somewhere deep in the bowels of the clipper.

[2018-12-05 10:44] #1204 closed, assigned to NathanSweet, badlogic, pharan, HaraldCsaszar

[2018-12-05 10:46] badlogic commented on #1213
This is now fixed in the 3.6 branch as well.

[2018-12-05 10:46] #1213 closed, assigned to badlogic

[2018-12-05 10:47] rh101 commented on #1213
Thank you

[2018-12-05 11:34] ccmfeng commented on #1217
[spine.zip](https://github.com/EsotericSoftware/spine-runtimes/files/2648632/spine.zip)

[2018-12-05 15:31] #1219 closed, assigned to badlogic

[2018-12-05 15:41] badlogic commented on #1217
I've tried your skeleton using the latest Spine 3.7-beta runtime from this repository, playing back the animation "01A":

![https://libgdx.badlogicgames.com/uploads/kr2A3mQQ04.png](https://libgdx.badlogicgames.com/uploads/kr2A3mQQ04.png)

I've also tried using the Spine runtime from the 3.6 branch in this repository:

![https://libgdx.badlogicgames.com/uploads/zLvDYIveLG.png](https://libgdx.badlog

[2018-12-05 15:41] #1217 closed, assigned to badlogic

[2018-12-06 07:31] rekcah1986 opened #1220 "How to get the animation list?"

[2018-12-06 09:31] badlogic commented on #1220
Please use the forum for usage questions.

https://esotericsoftware.com/forum

[2018-12-06 09:31] #1220 closed, assigned to nobody

[2018-12-06 15:44] pharan commented on #841
User reported problem: http://esotericsoftware.com/forum/Color-Change-11185
Case:
User does customization through mixing and matching skins, but also by changing the colors of the slots.

Problem:
Since updating a skeleton instance's attachments using a newly set skin currently requires calling `Skeleton.setSlotsToSetupPose` and `AnimationState.apply(skeleton)`, it has a sideeffect of wiping out a

[2018-12-06 18:26] NathanSweet commented on #841
@pharan In that case I think it's reasonable for a user to set the slot attachments rather than use `setSlotsToSetupPose`. For each slot:
[code]
You're right we could provide `setSlotAttachmentsToSetupPose`. I have mixed feelings about providing a convenience method for many different, simple actions, but on the other hand Slot `setToSetupPose` only does two things: sets the color and the attachme

[2018-12-06 18:50] pharan commented on #841
I share the hesitation. But I think expecting them to essentially know how to write `setSlotAttachmentToSetupPose` themselves and do it adds quite a bit friction.

[2018-12-06 19:06] NathanSweet commented on #841
Aye, depends on how common it is to be worth cluttering our API. The way they'd figure it out is tracing Skeleton `setSlotsToSetupPose`, then they'd copy Slot `setToSetupPose` and omit changing the color.

[2018-12-07 14:48] revolt3r opened #1221 "[unity] Spine causes lag when pressing Play in Unity"
https://github.com/EsotericSoftware/spine-runtimes/blob/a8ffa92cabd088bc4d996f3955b3b3af406ac7c0/spine-unity/Assets/spine-unity/Editor/SpineEditorUtilities.cs#L49

InitializeOnLoad is not perfect, it will make editor script rerun on each "enter Play mode" or "exit Play mode".
It's recommented to initialize editor scripts if this is false: EditorApplication.isPlayingOrWillChangePlaymode

Or you cou

[2018-12-07 15:09] pharan opened #1222 "[csharp - 3.7] Case where PathConstraint does not place the bones correctly on the path"
The constrained bone chains on both the Tank and the Stretchyman skeletons are working correctly.

However, forum user reported: http://esotericsoftware.com/forum/Problem-upgrading-to-3-7-11175

Works fine in Spine editor.
Bones are misplaced in Unity.
![file](https://user-images.githubusercontent.com/1911082/49655060-7b80f780-fa74-11e8-8f88-87c28f79ace5.jpg)
Parts of the hair are weighted to a ch

[2018-12-09 11:12] NathanSweet opened #1224 "[runtimes] Disable inherit scale is incorrect in 3.7"
http://esotericsoftware.com/forum/Animation-became-incorrect-on-latest-3-7-beta-11216

Repro project:
http://esotericsoftware.com/files/issues/1124-no-scale.zip

Cause appears to be removal of this block:
https://github.com/EsotericSoftware/spine-runtimes/commit/d9a6b9151bdce0654cb263accfb0366a0a91d08b#diff-8410f05c95e7eddb8b8ea3ce6f83f369L205

## Porting
Commit for porting: https://github.com/Eso

[2018-12-09 15:56] pharan commented on #1222
![image](https://user-images.githubusercontent.com/1911082/49699593-0a754780-fc0e-11e8-8329-fca2dcf65717.png)

I've simplified the user's skeleton to have no other constraints except the ones for the hair.

The problem persists. But I think that rules it out as a constraint update order problem.

[2018-12-09 17:31] NathanSweet commented on #1224
Fixed in spine-libgdx. This has been tested to work correctly with both TransformMode `noScale` and `noScaleOrReflection` when combined with all skeleton reflections (Skeleton `scaleX` and `scaleY`: `1,1`, `-1,1`, `-1,-1`, and `1,-1`).

[2018-12-10 14:22] #1224 closed, assigned to NathanSweet, badlogic

[2018-12-10 19:13] pharan commented on #1221
We'll have the `EditorApplication.isPlayingOrWillChangePlaymode` check for now.
https://github.com/EsotericSoftware/spine-runtimes/commit/987d0741521917e12599ff6653a43f96699e4d37

We'll look into further improvements in this area, especially related to returning to edit mode.
Important to check are instances where an assembly reload happens, and what effect that has to statics and if it's ok to lo

[2018-12-12 21:01] pharan opened #1226 "[unity] Assets sometimes error out on a fresh runtime import."
This doesn't affect actual user productivity but it does feel a bit sloppy when it happens. It seems to have something to do with the order that asset validation and serialization occurs.

http://esotericsoftware.com/forum/Skeleton-JSON-file-not-set-error-on-project-import-11227

The part user reports is some OnValidate code in SkeletonGraphic, which probably tries to initialize the component to p

[2018-12-13 07:30] daohuuthao commented on #582
Hi, i've got same issue.
This is my code :
	void OnEnable ()
	{
if (box)
				{
					box.startingAnimation = "run1";
					box.Initialize (true);
				}
}

And when i run on some device ( note8, S7) or blue stack, i got a log :

E/CRASH   ( 3981): 	#03  pc 00e810ec  <unknown/absolute>
E/CRASH   ( 3981): 	#04  il 00000004  at (wrapper managed-to-native) UnityEngine.Mesh.Internal_Create (UnityEngine.Me

[2018-12-13 08:49] NathanSweet opened #1227 "Transform constraint should allow negative scale and shearY mix"
http://esotericsoftware.com/forum/Possible-For-Constraint-to-Invert-Scale-1-11136

## Porting

006242458919c54db6a1b7c922b48ad056a1444e

- [x] spine-libgdx

---
- [x] spine-csharp
- [x] spine-xna
- [x] spine-monogame
- [x] spine-unity
- [x] spine-tk2d

---
- [x] spine-c
- [x] spine-cpp
- [x] spine-sfml
- [x] spine-cocos2d-objc
- [x] spine-cocos2dx
- [x] spine-ue4

---
- [x] spine-ts core
- [x] spi

[2018-12-13 09:17] HaraldCsaszar commented on #1222
Internal repro email hash for completeness:
FMfcgxvzLrQQMfNcTnRPJdcWKtDwQKlW

[2018-12-13 09:59] ledvinam opened #1228 "[3.7 Unity] A local or parameter named 'pathLength'"
Assets/Git/Spine/Runtime/spine-csharp/src/PathConstraint.cs(190,11): error CS0136: A local or parameter named 'pathLength' cannot be declared in this scope because that name is used in an enclosing local scope to define a local or parameter

[2018-12-13 17:09] #1227 closed, assigned to badlogic

[2018-12-13 17:11] badlogic commented on #1228
Thanks for reporting, fixed on the 3.7-beta and 3.7-beta-cpp branches.

[2018-12-13 17:11] #1228 closed, assigned to badlogic

[2018-12-13 21:06] #1221 closed, assigned to pharan, HaraldCsaszar

[2018-12-14 13:54] Wizermil opened #1229 "[cocos2dx] Two tint colour rendering issue"
Hey I think after the refactoring of cocos2dx runtime you introduced a bug in the rendering of spines using two tint colour.

Here is the result of the export from the editor
![export_spine](https://user-images.githubusercontent.com/700192/50006335-bec7f280-ffad-11e8-9985-8e52ddf49ae2.png)
and the output from the simulator:
![screenshot_simulator](https://user-images.githubusercontent.com/700192/5

[2018-12-14 15:27] badlogic commented on #1229
Thanks for the very helpful report! You also already identified the issue correctly. I'll get to this asap.

[2018-12-15 15:52] HaraldCsaszar commented on #1222
Update order problem seems to be likely since changing order of reproduction asset path constraints from 3 and 4 to 2, hair is placed at desired origin.

[2018-12-15 21:06] HaraldCsaszar commented on #1222
Fixed in spince-csharp, 3.7-beta branch.

[2018-12-15 21:06] #1222 closed, assigned to pharan, HaraldCsaszar

[2018-12-15 21:44] NathanSweet opened #1230 "Path constraint computations are forever invalid once a path's length is NaN"
Skeleton scale 0,0 can cause a path's length to be NaN, after which path constraints place the bones incorrectly (`space[0]` stays NaN).

## Porting

e6acc6725b79a1245629acac55ade5b497e18be9

- [x] spine-libgdx

---
- [x] spine-csharp
- [x] spine-xna
- [x] spine-monogame
- [x] spine-unity
- [x] spine-tk2d

---
- [x] spine-c
- [x] spine-cpp
- [x] spine-sfml
- [x] spine-cocos2d-objc
- [x] spine-coco

[2018-12-15 22:10] NathanSweet commented on #1230
Originally from #1222

[2018-12-16 12:07] HaraldCsaszar commented on #1208
Bugfix included in recent 3.6 and 3.7 unitypackages.

[2018-12-17 13:55] #1229 closed, assigned to badlogic

[2018-12-17 14:04] badlogic commented on #1229
This has been fixed on the 3.6 and 3.7-beta-cpp branches. The 3.7-beta branch was not affected. Thanks for reporting!

[2018-12-17 14:25] #1230 closed, assigned to badlogic, HaraldCsaszar

[2018-12-17 17:23] badlogic opened #1231 "[ts][player] Show/hide dialogs when clicking outside player doesn't work"
click to open debug, click anywhere to close debug (eg outside player), click to open debug, nothing happens. click again, opens

[2018-12-18 11:35] #1231 closed, assigned to badlogic

[2018-12-19 13:42] NathanSweet opened #1232 "Support whitespace stripped mesh texture regions"
As of Spine 3.7.77-beta, the texture packer can do whitespace stripping for meshes. A little runtime support is needed.

For testing I modified spineboy-pro so the gun has difference amounts of whitespace on all 4 sides and made it a mesh where the upper left and bottom right corners were obvious (centered in the red balls):
![](http://n4te.com/x/5811-FkGi.png)
Test project:
http://n4te.com/x/5813

[2018-12-19 14:26] pharan commented on #1232
Neat.

[2018-12-21 22:05] NathanSweet opened #1233 "[ts][player] Animation names don't align"
Spineboy `hoverboard` animation doesn't align with the others (FF):
![](http://n4te.com/x/5841-SkYf.png)

[2018-12-22 10:55] #1233 closed, assigned to badlogic

[2018-12-23 16:45] #1232 closed, assigned to badlogic, pharan, HaraldCsaszar

[2018-12-23 21:49] vegard commented on #1142
My apologies if this is not the right place, but commit 5aab588928f780ea1fc5c3ba8ccc02e0ed5c13c1 references this issue and it seems to mix up X and Y for me, i.e. when I do ->setScaleX(-1) then it flips vertically and with ->setScaleY(-1) it flips horizontally. Could be a problem on my end, though...

[2018-12-24 09:42] badlogic commented on #1142
@vegard What engine are you using? What runtime (spine-c or spine-cpp)? Are you using y-down or y-up? Do you habe a reproduction sample for me?

[2018-12-24 14:19] vegard commented on #1142
spine-cpp commit 8ab455fc (branch `3.7-beta-cpp`) with basically the `drawSkeleton()` implementation from http://esotericsoftware.com/spine-cpp#Implementing-Rendering. Everything looks fine except I unexpectedly have to use `->setScaleY(-1)` to flip horizontally. I don't call `setYDown()` anywhere in my code, so it should be using the default value of `false`.

[2018-12-25 06:54] shenghaiyang opened #1234 "Flutter support"
Will add flutter support officially?

[2018-12-26 10:15] Henry-T opened #1235 "[unity] Unity2018 SkeletonGraphic broken"
Add dragon to scene as SkeletonGraphic it seems broken, but hero works.

![image](https://user-images.githubusercontent.com/4081321/50442540-4dd3f380-093a-11e9-989f-7dce30450cd0.png)

Unity3D 2018.2.1f1
Spine Runtime: 3.6 (2018-12-12)

[2018-12-26 12:18] pharan commented on #1235
Hi! This is a known limitation of SkeletonGraphic, which is a limitation of the class that it derives from (MaskableGraphic)

The UnityEngine.MaskableGraphic base class is used to integrate into some of Unity's UI systems such as group coloring and masking. MaskableGraphic can however only accept one Texture2D. Likewise, SkeletonGraphic can only use one Texture2D.

Dragon is a skeleton demoing a m

[2018-12-26 12:18] #1235 closed, assigned to pharan, HaraldCsaszar

[2018-12-26 12:22] badlogic commented on #1234
We have no short or mid term plans for Flutter support.

[2018-12-26 12:22] #1234 closed, assigned to nobody

[2018-12-26 12:23] #1210 closed, assigned to badlogic

[2018-12-28 16:12] AntonPetrov83 opened #1237 "[spine-c] Duplicate SP_ANIMATION_COMPLETE callback."
Setting new animation after receiving `SP_ANIMATION_COMPLETE` provokes duplicate  `SP_ANIMATION_COMPLETE` sent from `_spAnimationState_applyMixingFrom()` this line:
[code]

[2018-12-28 17:06] DavidjMarkham commented on #728
I'm looking forward to this feature as well. The Geequlim's module works as a decent placeholder, but it would be nice to get official support with Godot quickly gaining popularity.

[2018-12-28 19:00] mjtorn commented on #728
@zhengying actually we started seeing weird glitches in our latest project. The way we've been doing this is a Godot `AnimationPlayer` kicks off the Spine animation and things work well.

However, now an idle animation doesn't move until the Godot animation has finished. Because of how things are currently set up, I don't yet know if that's only in the animation editor or can it happen in the game

[2018-12-28 23:13] badlogic opened #1238 "[ts][player] Show controls flag is not working"

[2019-01-03 11:14] smaren commented on #1194
I'm the one who posted the bug. I have implemented your solution and I find it a bit confusing.

My use case is that I want to forward one track while pausing the other tracks. I do this by setting the `timeScale` of all track entries on other tracks to 0. But with the current solution, when I call `animationState.update()` on, the track entries that are being mixed, are all ticked along with the

[2019-01-03 11:41] NathanSweet commented on #1194
Hmm, thanks for explaining your use case more. Yours may be the only use case where scaling the the mix time using track entry `timeScale` is desired. In other use cases, doing that results in surprising/wrong behavior. Eg, if the from `timeScale` is zero and that is used for the mix time, mixing from that to something else may never complete. Same if the to `timeScale` is zero and used for the mi

[2019-01-03 11:55] badlogic commented on #1194
I think an explicit mixTimeScale is the best solution, provided the default
behaviour reproduces what's currently the default.

On Thu, Jan 3, 2019, 12:41 Nathan Sweet <notifications@github.com wrote:

[2019-01-03 12:39] #892 closed

[2019-01-03 12:44] #1238 closed, assigned to badlogic

[2019-01-03 13:15] smaren commented on #1194
I am not sure why it is a problem that a track entry with `timeScale` 0 never finishes mixing? If the tracks have not started mixing then they never will since the track entry never proceeds with a `timeScale` of 0.
It is a potential problem if the `mixingTo` entry has a `timeScale` of 0. Then the `mixTime` will crawl to a halt as it nears its end. However, that may be a decent outcome?

Another i

[2019-01-06 14:28] CoalaJoe opened #1239 "Inconsistency"
I've been looking though the repository and noticed a couple of flaws or inconsistencies:
- Documentation from runtime implementations are often copy-pasted. e.g. spine-sfml/cpp says it's using spine-c.
- spine-c has the Json.c file in the includes folder instead of in the sources folder.

It is super hard for me to get started. I tried to use the spine-c and there are a lot of sp-prefixed functio

[2019-01-06 18:37] badlogic commented on #1239
Sorry for the inconsistencies, thanks for pointing them out! I'll clean this up in the beta branch asap.

Regarding documentation, you can check out our spine-c and spine-cpp guides here:

http://esotericsoftware.com/spine-c
http://esotericsoftware.com/spine-cpp

Could we move discussion of APIs and usage to the forums? https://esotericsoftware.com/forum

[2019-01-06 18:37] #1239 closed, assigned to nobody

[2019-01-07 09:18] badlogic opened #1240 "Remove old branches"
We have a bunch of old branches in this repository, that should no longer be required.

[2019-01-07 09:47] CoalaJoe commented on #1239
@badlogic Sure. Thank you!

[2019-01-07 09:57] jbloit opened #1241 "[ts][canvas] upside-down spineboy"
The spine boy is upside down in the canvas example, in 3.7 ([e6a5ef3]). It works fine in 3.6.

[2019-01-07 10:24] badlogic commented on #1241
Thanks for reporting. This is due to this line in the example:

https://github.com/EsotericSoftware/spine-runtimes/blob/3.7/spine-ts/canvas/example/index.html#L74

It flips the skeleton on the y-axis. Without this line, Spineboy is upright.

[2019-01-07 10:24] #1241 closed, assigned to badlogic

[2019-01-07 10:27] badlogic opened #1242 "Fix beta branch CHANGELOG and READMEs"
Update to 3.8, add blank changelog entries for 3.8.

[2019-01-07 13:06] #1242 closed, assigned to badlogic

[2019-01-08 05:59] zhengying commented on #728
spine 3.7 released. godot 3.1 beta will coming soon, when godot runtime is coming?  any update here?

[2019-01-08 14:35] HaraldCsaszar opened #1245 "[unity] SpineAtlasRegionDrawer Error"
Forum: http://esotericsoftware.com/forum/SpineAtlasRegionDrawer-ERROR-11327

SpineAtlasRegionDrawer.cs
log ERROR "Atlas variable must be of type AtlasAsset"
version 3.7 spine unity 2018.3.0f2

AtlasRegionAttacher example scene shows the error.

[2019-01-08 15:12] #1240 closed, assigned to badlogic

[2019-01-09 13:16] #1245 closed, assigned to pharan, HaraldCsaszar

[2019-01-10 01:43] Drew-Clowery opened #1246 "[ue4] Hot Reloading with a character in the scene results in a crash"
A crash occurs with 100% frequency if you reimport the asset data of a spine skeleton while a pawn/actor with that skeleton is in the currently loaded level.

Repro Steps:

1. Open the SpineUE4 project
2. Open the Basic Animation level (Content/GettingStarted/01-basic-animation)
3. Open the spineboy Skeleton Data asset details (double click on the asset)
4. Reload the asset data (Asset->Reimport S

[2019-01-10 14:15] badlogic commented on #1246
Thanks for reporting. It is indeed related to #1177 for which I haven't found a solution yet. I'm closing #1177 in favor of this more descriptive repro.

[2019-01-10 14:16] badlogic commented on #1177
Closed in favor of #1246

[2019-01-10 14:16] #1177 closed, assigned to badlogic

[2019-01-11 02:37] kikuuuty opened #1247 "[c] Memory leaks in SkeletonBinary.c"
[code]

leaking at `weights` and `bones`.

[2019-01-11 11:23] HaraldCsaszar opened #1248 "[unity] Error upon Reimport All"
Forum posting: http://esotericsoftware.com/forum/Spine-Unity-3-6-to-3-7-Upgrade-Guide-10446

Reproduced on Unity 2018.3.0f1.
After "Reimport All" there are multiple error messages appearing:
"NullReferenceException: Object reference not set to an instance of an object
Spine.Unity.Editor.SpineEditorUtilities+AssetUtility.GetRequiredAtlasRegions (System.String skeletonDataPath) (at Assets/Spine/Edit

[2019-01-11 11:27] HaraldCsaszar commented on #1226
Recently reproduced a very similar issue (should be of the same problem origin), see #1252.

[2019-01-11 12:49] HaraldCsaszar opened #1249 "[unity] Remove unreferenced SlotBlendMode dictionary entries"
Forum: http://esotericsoftware.com/forum/SlotBlendModes-static-dictionary-11346

static SlotBlendMode dictionary entries are added, but never removed (e.g. should be removed when e.g. switching the scene to a completely different one with different assets).
E.g. ref-counting could be used to clean up no-longer referenced entries.

See
https://github.com/EsotericSoftware/spine-runtimes/blob/3.7/spi

[2019-01-11 14:48] HaraldCsaszar commented on #1248
@pharan I already implemented a fix locally, will test this and commit soon.

[2019-01-13 04:50] scottkunkel commented on #728
I strongly recommend https://github.com/chanon/spine
Having attachments directly available to manipulate, add shader etc is invaluable.

[2019-01-13 14:03] zhengying commented on #728
Great! Thanks @scottkunkel.

[2019-01-14 06:40] mjtorn commented on #728
@scottkunkel nice! The readme does however mention a performance problem due to a Godot issue https://github.com/godotengine/godot/issues/19943 which opens up to a :hankey: show of other unresolved issues, apparently in favor of doing rewrites etc instead of fixing performance, so what kind of penalties would one be looking at if using that module?

... of course as we have some problems where the

[2019-01-14 13:28] badlogic opened #1250 "[ue4] Compilation error due to shadowed variables when compiling for Switch"
It seems the Switch devkit has `[-Werror,-Wshadow]` on by default, causing a compilation error for parts of spine-cpp and spine-ue4.

We should clean up those shadow vars.

See http://esotericsoftware.com/forum/UE4-runtime-issue-on-Switch-devkit-11342

[2019-01-14 15:28] scottkunkel commented on #728
I don't think anybody has actually benchmarked this solution.
On my machine :-), on an intel GPU running on battery I am able to create 10 screen sized characters with ~30 slots running at an even 50+ fps. To me that is good enough.

Where that solution lacks is having anything but the Spine Global namespace as real objects. Obtaining bones for example will return a dictionary. Dynamic scaling of

[2019-01-14 15:36] mjtorn commented on #728
That sounds reasonable for my purposes, and we had to implement a workaround in one character animation because his arms couldn't have separate z-indexes, so that's all good.

The bad is that I patched the `make-nodes` branch to compile with 3.0 and it didn't fix my major Spine issue: trying to make the player character talk, instead of the talk animation, his hand twitches. In the editor this is

[2019-01-14 15:37] #1248 closed, assigned to pharan, HaraldCsaszar

[2019-01-14 16:04] scottkunkel commented on #728
Interested in what you needed to patch, I am running that branch in 3.1 beta without changes.

[2019-01-14 16:10] HaraldCsaszar opened #1252 "[unity] SkeletonGraphic's Starting Animation property is cleared upon save in some circumstances"
Separate bug that remained after bugfix for #1248.

Forum:
Forum posting: http://esotericsoftware.com/forum/Spine-Unity-3-6-to-3-7-Upgrade-Guide-10446

`Starting Animation` property of SkeletonGraphic is cleared when first saving a scene, it seems as if an automatic re-import is triggered which initializes SkeletonGraphic data again and clears some values along the way.

Steps to reproduce:

1. In

[2019-01-14 22:31] MegaOptimus commented on #762
Any news/progress?
Making HTML5 games with Spine would be awesome.

[2019-01-15 07:25] chanon commented on #728
Hi ... if your target device is PC, then my fork should be ok.

The real performance issue is only on mobile devices.
Whenever the Godot devs implement automatic draw call batching, then it will get a massive performance boost.

[2019-01-15 07:32] chanon commented on #728
@mjtorn  You might want to  check if your spine application version matches the runtime version in my fork. 3.7 and 3.6 aren't 100%  compatible.

[2019-01-15 08:24] mjtorn commented on #728
@scottkunkel

[code]

[2019-01-15 08:28] mjtorn commented on #728
@chanon the animations we have are provided by an outsider, but I have it on good authority they're using the 3.6 versions. I have a 3.6 installation and though I don't really know how to use the software and have it for the runtime license, it doesn't look bad.

Most of our games' animations work, but embarrasingly enough pretty much anything related to the actual player character (in the latest

[2019-01-15 09:03] chanon commented on #728
maybe try the upstream version of my fork to see if it is still broken

[2019-01-15 09:23] mjtorn commented on #728
@chanon I did. This is kinda flooding the wrong issue, but this is what the Git log looks like, when I committed the diff from above. Note that I had to cherry-pick another 3.0 compat commit.

[code]

I did not construct the Spine nodes "the hard way" but only tested with what we currently have. It'll take a while for me to attempt an alternative solution. Gotta round-robin my work :(

[2019-01-15 15:09] HaraldCsaszar opened #1253 "[unity] Mecanim animation preview windows"
Selected Mecanim animations (nested below the Controller asset in project window) do not show the respective Spine object or play back animations in the inspector preview window.

Also consider improving the playback Preview bar with the red line (non-interactive) in the SkeletonDataAsset, as reported here on the forum:
http://esotericsoftware.com/forum/preview-each-frame-of-animation-seconds-cont

[2019-01-16 14:39] #1247 closed, assigned to badlogic

[2019-01-16 14:39] badlogic commented on #1247
Cheers! This is fixed in the latest 3.7 and 3.8-beta branches.

[2019-01-16 16:08] #1249 closed, assigned to pharan, HaraldCsaszar

[2019-01-17 10:45] HaraldCsaszar opened #1254 "[unity] SkeletonRenderSeparator for SkeletonGraphic"
Currently SkeletonRenderSeparator can be used on `SkeletonAnimation` only.
This feature could be used for e.g. partially-clipped characters in GUI-circles.

See forum: http://esotericsoftware.com/forum/Separator-with-skeletongraphics-11375

`SkeletonPartsRenderer.cs` and `SkeletonRenderSeparator.cs` need to be adapted for `SkeletonGraphic` accordingly.

[2019-01-17 15:24] #1250 closed, assigned to badlogic

[2019-01-17 15:28] badlogic commented on #1201
Closed via https://github.com/EsotericSoftware/spine-runtimes/commit/4c9ec0608384e62e153239301d02ca23c8c4eaab

[2019-01-17 15:28] #1201 closed, assigned to badlogic

[2019-01-17 15:45] badlogic commented on #1246
@Drew-Clowery I've tried to reproduce the issue as per your reproduction steps using UE 4.21.1 and the latest spine-ue4/spine-cpp from the 3.7 branch from today on Windows 10 with Visual Studio 2017.

I've tried both re-importing the assets as outlined by you, and also by overwriting the asset source file (spineboy.json). Both things worked as expected without the editor crashing.

Could you maybe

[2019-01-18 12:47] HaraldCsaszar opened #1255 "[unity] LWRP example scene and out-of-the-box support in Unity 2019"
Unity's Light Weight Render Pipeline caused problems on a user's setup with `Skeleton Lit shader`:

Forum: http://esotericsoftware.com/forum/Skeleton-Lit-shader-not-compatible-with-new-LWRP-11381

- [x] Port/rewrite incompatible shaders for LWRP
- [x] Provide LWRP example scene.
- [x] (unable to reproduce)Test existing shader for OpenGLES3.0 problem reported in comment below.
- [x] Create packagin

[2019-01-18 15:14] HaraldCsaszar commented on #1252
Resetting `starting animation` part of the problem seems fixed in local uncommitted code, however `Skeleton JSON file not set for ...` problem now surfaced again. Needs further work.

[2019-01-18 17:57] Drew-Clowery commented on #1246
Sorry for the slow reply. I have just reproduced this using the 3.7 Spine runtimes, Unreal Engine 4.21.1, Visual Studio 17 Community v15.9.4 on Windows 10.

My exact repro steps were:
1. Download the spine-runtimes-3.7.zip from http://esotericsoftware.com/git/spine-runtimes/archive
2. Extract the files from that .zip to my desktop.
3. Copy spine-runtimes-3.7/spine-cpp/spine-cpp to spine-runtimes-3

[2019-01-18 18:00] Owlzy opened #1256 "[monogame] iOS/Android sample"
It seems from reading the source code that Android builds are not supported by MonoGame runtime.  Is this intended?

I've got part way through implementing it, by extending Atlas.cs but am struggling to extend the SkeletonJson class.  Is this something that we should expect the runtime to support or are we expected to implement ourselves?

[2019-01-18 18:01] badlogic commented on #1246
This are my exact reproduction steps. Looks like we have an indeterministic memory corruption on our hands. I'll try to get this to crash on my end.

[2019-01-18 18:17] Drew-Clowery commented on #1246
So my assessment was that this was happening because the Actor in the level was not properly cleaned up, or cleaned up too early. I haven't stepped through it in exacting detail, but a little quick debugging showed that the attachment and maybe the slot were both partially or completely cleaned-up.

This repros at 100% with me, I've run it over a dozen times now, so I don't think it's indeterminis

[2019-01-18 18:59] Drew-Clowery commented on #1246
I've uploaded a video of my repro: https://youtu.be/IL9nSbCEcvw

[2019-01-18 19:13] badlogic commented on #1246
Thanks, this is essentially what I've been trying. The indeterminism stems from the fact that memory management even in debug builds is not deterministic. On some machines, access to freed memory crashes immediately, either due to a trap or because the data has been overwritten and is thus invalid (as in your case, where a pointer dereference fails). On some machines (like mine), the same build ma

[2019-01-18 19:37] Drew-Clowery commented on #1246
Ahh, I understand what you are saying now.

Thank you very much for working on this, and please let me know if there's anything else I can do to help.

[2019-01-20 16:23] scardario commented on #1246
Hi, I just ran into this issue, this is what Unreal editor shows at the moment it crashes:

`Access violation - code c0000005 (first/second chance not available)

UE4Editor_SpinePlugin!spine::PathConstraint::update() [d:\proyectos\nachosadventures\support\unreal\spineruntimecompile\plugins\spineplugin\source\spineplugin\public\spine-cpp\src\spine\pathconstraint.cpp:78]
UE4Editor_SpinePlugin!spine:

[2019-01-20 18:59] badlogic commented on #1246
@scardario to be clear, this happened when you tried to re-import assets as described above?

[2019-01-20 21:53] scardario commented on #1246
Mmmhh, sorry, not exactly, after reading more carefully I realize my issue is a bit different:

1. In the Unreal Editor Content Browser I open the folder I have the Spine assets already imported. Then I click on "import" button to bring the updated assets.
2. I choose "yes to all" on every option.
3. The editor crashes while importing, I don't get to do anything more that that.

It seems to be rel

[2019-01-21 13:14] badlogic commented on #1256
We haven't investigated MonoGame + Spine on iOS/Android, as the only difference should be the file I/O API. I see in your [forum post](http://esotericsoftware.com/forum/MonoGame-XNA-Lacks-android-support-11401) that you figured that part out. We'll add an iOS/Android sample to our existing MonoGame sample in the future.

[2019-01-21 13:40] HaraldCsaszar opened #1257 "[unity] Unity Timeline Editor error"
As reported below Unity's Timeline Editor window throws an error on `Spine Animation State Track - Add Spine Animation State Clip` due to `clip.animationReference` being null at
`Spine.Unity.Playables.SpineAnimationStateMixerBehaviour.PreviewEditModePose`.

Forum: http://esotericsoftware.com/forum/Spine-Unity-Timeline-in-3-7-is-completely-different-11386?p=51214#p51214

[2019-01-21 13:47] badlogic opened #1258 "[cpp] Fix warnings on VS 2017"

[2019-01-21 14:04] HaraldCsaszar opened #1259 "[unity] Binary skeleton file import broken"
Binary import was broken by recent changes.

Forum: http://esotericsoftware.com/forum/Exception-when-importing-a-binary-skeleton-11400

[2019-01-21 14:06] #1259 closed, assigned to pharan, HaraldCsaszar

[2019-01-21 14:25] #1258 closed, assigned to badlogic

[2019-01-21 15:41] badlogic commented on #1246
@scardario no, this is the perfect place for the report! Thanks!

Some good news: I think I have identified the issue (documenting it here for when I return to the code tomorrow):

Both `SpineAtlasAsset` and `SpineSkeletonDataAsset` are affected the same way. Each has an import factory responsible for reading the raw data from `.atlas` and `.json` files respectively. In both cases, that data gets

[2019-01-21 15:55] badlogic commented on #1256
I think we can close this, as we've resolved the issue as described in our forum posts here:

http://esotericsoftware.com/forum/MonoGame-XNA-Lacks-android-support-11401?p=51234#p51234

[2019-01-21 15:55] #1256 closed, assigned to badlogic

[2019-01-22 02:35] ledvinam opened #1260 "[unity] IOException"
Hi we get IOException on skeleton data files. Can I please ask to close the stream when you finished reading it. Thank you, Marek.

[code]

[2019-01-22 03:41] scardario commented on #1246
Glad to be of any help.
Let me know if you need something else.

[2019-01-22 09:34] badlogic commented on #1260
@ledvinam could you post the full stack trace here for completeness?

[2019-01-22 09:44] HaraldCsaszar commented on #1260
You seem to be using an already outdated package.
The bugfix was pushed yesterday: https://github.com/EsotericSoftware/spine-runtimes/commit/065c13f498b65e444fa7de944b96cdf44c0cdfd1
Package was made available here: http://esotericsoftware.com/spine-unity-download, spine-unity-3_7-2019-01-21.unitypackage

We will add explicit close calls nevertheless, since this was missing in terms of clean behavi

[2019-01-22 09:44] #1260 closed, assigned to HaraldCsaszar

[2019-01-22 10:30] HaraldCsaszar commented on #1260
Added using and finally-dispose guards around all stream instances, commit: https://github.com/EsotericSoftware/spine-runtimes/commit/edb2fbe8.
Will be included in next unitypackage.

[2019-01-22 11:23] HaraldCsaszar opened #1261 "[unity] PointFollower error on script rebuild"
As reported by user:

[code]

Forum: http://esotericsoftware.com/forum/Getting-position-of-point-attachment-11390

[2019-01-22 11:23] RtFishers commented on #728
So is it safe to conclude that Esoteric is no longer going to implement an official runtime for Godot? I would absolutely love if they did, though!

[2019-01-22 11:27] #1261 closed, assigned to pharan, HaraldCsaszar

[2019-01-22 11:58] badlogic commented on #728
No, we definitely have plans for Godot! It's just that we had a lot of work
with the 3.7 release.

On Jan 22, 2019 12:23, "RtFishers" <notifications@github.com> wrote:

So is it safe to conclude that Esoteric is no longer going to implement an
official runtime for Godot? I would absolutely love if they did, though!

—
You are receiving this because you were mentioned.
Reply to this email directly,

[2019-01-22 15:02] badlogic commented on #1246
@Drew-Clowery @scardario the latest commit should fix the re-import issue you are seeing. While I was not able to reproduce the error locally, this new way of handling (re-)imports should be stable.

Please try out the changes in the latest 3.7 or 3.8-beta branch, and let me know if you run into issues with it.

Thank you both for helping out with this!

[2019-01-22 16:43] HaraldCsaszar opened #1262 "[unity] Timeline playback speed and other removed features"
There have previously been some experimental timeline features that seem more feature-complete than the currently provided implementation, which has the directory `Spine/Runtime/spine-unity/Modules/Timeline/SpineAnimation` removed - removing features such as playback speed modification, ease-curves, etc.

Old implementation can be found here:
https://github.com/pharan/spine-unity-experimental/tree

[2019-01-22 16:49] HaraldCsaszar commented on #1262
Unitypackage to re-activate the deprecated feature in its old form can be downloaded here - USE AT YOUR OWN RISK:
Only deprecated Timeline part:
https://esotericsoftware.com/files/runtimes/unity/spine-unity-3_7-2019-01-22-DeprecatedTimelineOnly.unitypackage
Complete Spine unitypackage including Timeline part:
https://esotericsoftware.com/files/runtimes/unity/spine-unity-3_7-2019-01-22-WithDeprecat

[2019-01-22 19:01] scardario commented on #1246
Hi, I couldn't compile the new version on 4.20.3 using branch 3.7: I get this error in a lot of files:

`Plugins\SpinePlugin\Source\SpinePlugin\Private\SpineAtlasAsset.cpp(1): error : Expected SpineAtlasAsset.h to be first header included.`

I know this should be easy to figure out, but I don't work with C++. I already tried twice to check if I was making some mistake following the runtime compile

[2019-01-23 00:06] vzlomvl commented on #940
Hi @pharan. Any news on this feature?

[2019-01-23 11:01] badlogic commented on #1246
@scardario did you also update the `build.cs` files of the plugin?

[2019-01-23 12:25] HaraldCsaszar opened #1263 "[unity] Support .atlas file instead of .atlas.txt via ScriptedImporter"
Could additionally support .atlas extension instead of forcing .atlas.txt extension in Unity.

See https://docs.unity3d.com/2017.1/Documentation/Manual/ScriptedImporters.html

[2019-01-23 14:53] erdelf opened #1264 "[ue4] Random crashes in delegate broadcast"
We've been getting a lot of crashes recently in our project that uses spine extensively.
After a lot of testing, I did limit it to the AnimationComplete Delegate.
If I never bind anything to it (and don't have the respective event) it doesn't crash.
Even just having the event without any connections causes a crash.

Tried the fix idea in #1190 but that just causes the character to go invisible (pr

[2019-01-23 15:47] badlogic commented on #1264
Thanks for reporting and sorry for the trouble. Is there any chance you could provide me with a reproduction sample? When the other issue was filed, I tried more approaches than I can count to get this to reproduce on my end. I'm afraid without a way for me to reproduce it locally, there's not much I can do :/

[2019-01-23 15:55] erdelf commented on #1264
Thanks for the quick answer.
That makes perfect sense, yeah. I'll see if I can make a reproducible sample outside of our current project.

[2019-01-23 16:59] scardario commented on #1246
I updated all the github project, deleted the spineplugin folder from plugins and copied it again. (I have the repository in a separate folder)

If you're asking about the project build.cs. No, I usually don't modify it in order to compile spinePlugin.
I tried to though and added SpinePlugin to PublicDependencyModuleNames, but didn't find PublicIncludePaths to add SpinePlugin/Public and SpinePlugi

[2019-01-23 19:49] erdelf commented on #1264
Just to give an update. Making a reproducible sample proves harder than thought... even when using a map that causes a reproducible crash in my main project.

Sadly I am not allowed to give out the project like that...

[2019-01-25 10:04] HaraldCsaszar opened #1265 "[unity] SkeletonPartsRenderer mesh tangent error"
Reproduction package sent via email: FMfcgxwBVMkkJQfhQZhVcXfCFSXtwvCL

Forum: http://esotericsoftware.com/forum/Unity-SkeletonPartsRenderer-mesh-tangent-error-11415?p=51331#p51331

Error occurs in scene `Character_Edit` when changing `Animation Name` of `Spine GameObject (BBox)`.

Potential bugfix is included in code by user.

[2019-01-25 11:46] HaraldCsaszar opened #1266 "[unity] Premultiplied alpha and mipmaps causes borders"
As seen in this forum thread: http://esotericsoftware.com/forum/Mipmap-issue-and-General-Unity-Downscaling-Question-11412?p=51345#p51345

Causes border artifacts on spineboy as well.
Bleed + Straight Alpha import seems to cause no borders.

It shell be analysed why we get incorrect unexpected results with PMA and mipmaps here.

[2019-01-25 13:23] HaraldCsaszar commented on #1266
Issue has been identified as improperly generated mipmaps in Unity when `sRGB (Color Texture)` is enabled at texture import settings.
If you are encountering such artifacts, please disable `sRGB (Color Texture)`, this will generate mipmaps properly.

The automated Spine asset importer will soon be adapted to automatically configure this flag accordingly in order to prevent the issue from arising.

[2019-01-26 19:12] bsokol opened #1267 "[c] two warnings during compilation"
After updating Spine C runtime with the latest version I have two new warnings during compilation via Clang:

`/spine-c/src/spine/SkeletonBinary.c:653:24: warning: incompatible pointer types passing 'spIntArray *'
      (aka 'struct spIntArray *') to parameter of type 'spFloatArray *' (aka 'struct spFloatArray *')
      [-Wincompatible-pointer-types]
                spFloatArray_dispose(bones);

[2019-01-27 18:08] erdelf commented on #1264
just for clarification, did one of your tests include level streaming?
While the crashes aren't perfectly reproducible, they always happen right after a level unloaded.

[2019-01-28 10:19] badlogic commented on #1264
@erdelf no, my tests did not include level streaming, but this gives us a bit of a clue. Since you can somewhat reliably reproduce this, could you try to unregister the delegates right before the level transition happens? If this fixes your crashes, then we 1) have a temporary workaround for you and 2) have an idea where to look next.

[2019-01-28 10:43] #1267 closed, assigned to badlogic

[2019-01-28 12:29] luckyrawatlucky commented on #762
+1 I need this plugin too

[2019-01-28 14:41] erdelf commented on #1264
So we have our clue. Unbinding all events from AnimationComplete from the Dispatcher OnLevelHidden solved the crash in my so far reliable test case.

![BlueprintScreenshot](https://imgur.com/62GRaPc.png)

[2019-01-28 14:54] badlogic commented on #1264
That's somewhat good news. Now I need to figure out why the delegates fire
after the corresponding UObject has become invalid.

Thanks a lot for helping out with this!

On Mon, Jan 28, 2019, 15:41 erdelf <notifications@github.com wrote:

[2019-01-28 15:23] HaraldCsaszar commented on #1226
Steps to reproduce (at lease produces same error message, circumstances could differ):

1. In Unity 2017.1.0f3, create an empty project.
2. Import e.g. `spine-unity-3_7-2019-01-16.unitypackage`.
3. Drag a SkeletonData object into the scene with mode `Skeleton Graphic` and save the scene under a directory outside of the imported Spine dirs.
4. Close Unity and then delete the `Spine` and `Spine Exam

[2019-01-28 15:32] #1252 closed, assigned to pharan, HaraldCsaszar

[2019-01-28 18:55] #1266 closed, assigned to pharan, HaraldCsaszar

[2019-01-29 09:12] badlogic opened #1268 "[skeletonviewer] Allow specification of file via CLI"
See http://esotericsoftware.com/forum/please-make-skeleton-viewer-exe-9754

[2019-01-29 09:55] #1268 closed, assigned to badlogic

[2019-01-29 15:54] theTMO commented on #762
+1 Spine support PLZ

[2019-01-30 09:15] mjtorn commented on #728
@badlogic, are you considering normal map support for lighting? I've understood this is fine in Spine but neither @chanon 's nor @Geequlim 's implementation has anything for it. Thanks!

[2019-01-30 11:54] Paps90 commented on #762
+1 I also need Spine support
Spine > Spriter

[2019-01-31 09:34] badlogic commented on #1246
@scardario sorry for the late reply, I've overlooked your last reply. What
UE4 version are you using? There were some changes in recent versions in
the way builds are defined. Also, could you try our sample project from the
GitHub repository?

On Wed, Jan 23, 2019 at 6:00 PM scardario <notifications@github.com> wrote:

[2019-02-01 12:58] HaraldCsaszar commented on #1265
Another user on the forum has reported the issue:
http://esotericsoftware.com/forum/Mesh-normals-Mesh-Tangents-out-of-bounds-11447

[2019-02-01 13:14] HaraldCsaszar commented on #1226
Recently discovered the problem in another context, in Unity 2018.3.0f1:
1. Delete Spine and Spine Examples dirs
2. Import unitypackage (don't close Unity or delete the Library dir)
3. The following error is displayed for every Spine skeleton asset:
[code]

[2019-02-01 14:30] #1226 closed, assigned to pharan, HaraldCsaszar

[2019-02-01 14:46] scardario commented on #1246
No problem, I've had a busy week too.

I'm using unreal 4.20.3, trying to compile main branch - 3.7

I deleted the repository from my disk and cloned it again, and copied the sample project, followed instructions (copy spine-cpp folder to ... etc) and the results are the same.

The same errors, at least the same type:

`spine-ue4\Plugins\SpinePlugin\Source\SpinePlugin\Public\spine-cpp\src\spine\Bo

[2019-02-01 14:47] badlogic commented on #1246
Oki, I'll give those steps a try on Monday. FWIW, I'm on 4.21.2 here.

[2019-02-04 14:36] mcraiha commented on #1254
Is there any timetable for this feature? We could really use this for certain UI elements.

[2019-02-04 17:28] HaraldCsaszar opened #1269 "[unity] SkeletonRenderSeparator not initializing SkeletonPartsRenderer children"
As reported on the forum (for 3.6, applies to 3.7 as well):
http://esotericsoftware.com/forum/skeletonrenderseparator-child-separate-None-Mesh-11452

It works when hitting `Enable Render Separator` twice to disable and re-enable it, then children are initialized properly.

[2019-02-04 17:40] HaraldCsaszar opened #1270 "[unity] Compile errors with TK2D"
As reported on the forum:
http://esotericsoftware.com/forum/Define-TK2d-then-error-occurred-11453

Compile errors reproducable as described.

[2019-02-04 17:55] #1270 closed, assigned to pharan, HaraldCsaszar

[2019-02-04 18:36] HaraldCsaszar commented on #1254
You can expect the feature roughly estimated in the following few weeks.
Note however that urgent bugfixes will always be prioritized higher.

[2019-02-05 15:44] HaraldCsaszar commented on #941
Related forum bugreport / request:
Correct masking behaviour of SkeletonGraphic with Mask, but not with RectMask2D:
http://esotericsoftware.com/forum/SkeletonGraphic-and-RectMask2D-9023

[2019-02-06 09:55] badlogic opened #1271 "[ts] end clipping slot ignored if slot is hidden"
See here for a repro: http://esotericsoftware.com/forum/Clipping-end-slot-WebGL-SDK-Unity-SDK-11460

[2019-02-06 15:02] #1271 closed, assigned to badlogic

[2019-02-06 18:18] #1265 closed, assigned to pharan, HaraldCsaszar

[2019-02-07 13:10] starkiJi commented on #762
+1 Spine support !!!

[2019-02-07 21:23] #1269 closed, assigned to pharan, HaraldCsaszar

[2019-02-08 10:28] masscube commented on #762
+1 Please add spine support for construct 3 runtime! Thank you

[2019-02-08 14:03] OldOakDen opened #1272 "Unity 2018.3.4f1 error"
Hi,
I'm sorry for this request but true is that I'm graphic artist more than programmer. ;)

I extracted Spine-Unity 3.7 runtime unitypackage into Unity 2018.3.4f1 project and now I have this error in Unity:

 Assets/Spine/spine-unity/Modules/AnimationTools/AnimationTools.cs(215,6): error CS1501: No overload for method `SetFrame' takes `4' arguments

I know that this Spine-Unity runtime isn't buil

[2019-02-08 15:39] HaraldCsaszar opened #1273 "[unity] Prefab instance always lists MeshFilter as override"
As reported on the Forum:
http://esotericsoftware.com/forum/Unity-Nested-prefab-overrides-11476
http://esotericsoftware.com/forum/when-will-always-dirty-bug-be-fixed-16125

Problem seems to be in the double-buffered mesh that is assigned and changes again after being applied.

Resolution: Setting hide flags on the mesh did not yield the desired result in the prefab.
A workaround could be to always

[2019-02-10 13:02] NathanSweet opened #1274 "Porting: AnimationState doesn't respect MixBlend.first for rotate timelines"
Porting for commit c7d71a8eb1fcc64ec53b1667f9cd13ca8e9f1f96 which fixes [EsotericSoftware/spine-editor#141](https://github.com/EsotericSoftware/spine-editor/issues/141#issuecomment-457227387) ([forum post](http://esotericsoftware.com/forum/Mixing-to-animation-with-starting-as-setup-with-no-keys-11339)).

[Project](http://esotericsoftware.com/files/issues/1274-AnimationState-MixBlend.first-rotate-t

[2019-02-11 17:54] HaraldCsaszar opened #1276 "[unity] Precompiled dlls / compile time"
Reported on the forum:
http://esotericsoftware.com/forum/Dll-for-Spine-8738

User reports that placing the Spine directories in Unity Project's `Plugins` folder no longer has the effect of not being compiled when game scripts change.

[2019-02-11 18:56] HaraldCsaszar commented on #1272
AnimationTools.cs file shall be deleted at user's local project, seems to be a left-over file of previously extracted unitypackages.
See forum posting here: http://esotericsoftware.com/forum/No-overload-for-method-SetFrame-11480

[2019-02-11 18:56] #1272 closed, assigned to HaraldCsaszar

[2019-02-11 20:31] #1257 closed, assigned to pharan, HaraldCsaszar

[2019-02-11 20:46] HaraldCsaszar opened #1277 "[unity] Add version info to unitypackage"
For later identification of the package version used by a customer when reporting problems:

There should be a file added to one of the top directories of the unitypackage containing:
1) a package version, which can be the filename since it contains the date, and
2) the last git commit hash that is included in the build.

[2019-02-12 13:25] #1274 closed, assigned to badlogic, HaraldCsaszar

[2019-02-14 09:11] Pontation opened #1278 "[cpp] SkeletonJson forgets to read images path"
Some of my assets use the images path in the skeleton e.g.
[code]

SkeletonJson::readSkeletonData in SkeletonJson.cpp doesn't read it and SkeletonData::_imagesPath is never assigned from what I can tell. I would expect it to be read and passed along to AttachmentLoader::newRegionAttachment and newMeshAttachment at least, so that I can look up the atlas textures with the correct path.

My current w

[2019-02-14 10:39] badlogic opened #1279 "[ts][player] Expose setAnimation()"
See email FMfcgxwBVgmpCfRWQrRjXBBXgwffhsWT

[2019-02-14 10:43] #1279 closed, assigned to badlogic

[2019-02-15 12:02] HaraldCsaszar opened #1280 "[unity] Compile errors with TK2D due to asmdef"
As reported on the forum:
http://esotericsoftware.com/forum/spine-3-7-tk2d-lastest-version-4-3-11505?sid=11539d35f57a27578af0cfddf8ea03ac

Both Spine asmdef files need to be deactivated for TK2D dependency.

[2019-02-15 12:04] #1280 closed, assigned to HaraldCsaszar

[2019-02-18 07:20] semgilo opened #1281 "[cocos2d-x]Rendering issues when the animation is created."
After creating the animation, I paused the screen, the screen is as follows
![image](https://user-images.githubusercontent.com/7121873/52933975-127d0080-3390-11e9-88fe-206f55fff2d4.png)
After one frame, the picture is normal, as follows
![image](https://user-images.githubusercontent.com/7121873/52934009-34768300-3390-11e9-8ff5-4484d3e7eea0.png)
I searched the issues, but I didn't find the relevant

[2019-02-18 10:32] badlogic opened #1282 "[c] Illegal memory access when queuing an empty animation"
Reproduction via SFML C example, spineboy:

[code]

When the empty animation is mixed in, `AnimationState` segfaults.

See http://esotericsoftware.com/forum/multi-track-animation-mixing-bug-on-runtime-11508

[2019-02-18 10:42] #1282 closed, assigned to badlogic

[2019-02-19 08:27] jimmymjing commented on #883
will this feature getting implemented in the near future? Thanks.

[2019-02-20 12:41] mjtorn commented on #728
May we ask if there is progress on this? Looking at it this is an _enhancement_, but not _in progress_, so any news are welcome :)

[2019-02-20 17:35] HaraldCsaszar commented on #940
As described on the forum posting here:
http://esotericsoftware.com/forum/Unity-Sprite-Atlas-Support-11538

[2019-02-21 08:43] jacksparrowGreg commented on #728
Hi @badlogic , Would be great if you have any more details on SPine integration with Godot. Now Feb 2019, i know you guys are busy, but any news? a roadmap? a plan? Godot is really gaining some good steam and the community is flourishing. Would be great of you could let us know whats happening. Thanks again. (I want to buy a SPine license but cant pull the trigger as im developing with Godot at th

[2019-02-21 08:44] badlogic commented on #728
Hi everyone. We've been working on 3.7 for the past year, released it in January, and are now tying up loose ends. I can't give you an ETA, but we'll likely start working on Godot at the end of Q1/beginning of Q2.

[2019-02-21 08:47] jacksparrowGreg commented on #728
Awesome, thanks, looking forward to it!!! Please dont give up on us :)

[2019-02-21 09:13] mjtorn commented on #728
Thanks, @badlogic !

@jacksparrowGreg in the meantime, I recommend @chanon 's version of the Spine runtime integration. When looking at lighting and such, we noticed a bug in the original code that made certain lights work like an x-ray, where the light would show you eg. the arm behind the character.

@chanon 's version magically fixes this, probably by constructing the character more properly.

[2019-02-21 15:21] starkiJi commented on #762
Hello, is there information? We were already waiting!)

[2019-02-21 17:17] HaraldCsaszar opened #1283 "[unity] Unity RectMask2D support"
RectMask2D components do not yield the desired result on SkeletonGraphic:

The following user observed correct masking behaviour of SkeletonGraphic with Mask, but not with RectMask2D:
http://esotericsoftware.com/forum/SkeletonGraphic-and-RectMask2D-9023

[2019-02-21 17:18] HaraldCsaszar commented on #941
Issue with RectMask2D identified as separate issue, now filed separately under #1283.

[2019-02-21 18:12] #1283 closed, assigned to HaraldCsaszar

[2019-02-22 03:17] kentkan commented on #762
I am a C2 and Spriter user. I would say Spine is more sophisticated. It could be one of the major reasons for me moving to C3 if Spine is well supported.

[2019-02-25 12:34] badlogic commented on #1281
How and when do you set the scale of the skeleton? What version of the runtime are you using?

[2019-02-25 12:49] #1278 closed, assigned to badlogic

[2019-02-25 12:50] badlogic commented on #1278
@Pontation so sorry we hurt your little developer heart :( I've added parsing and storing of this non-essential data. Thanks for pointing it out!

[2019-02-25 12:51] badlogic commented on #1246
I've tried to reproduce this without success. @scardario could you figure out a solution to this on your end?

[2019-02-25 12:58] badlogic commented on #1237
I've tried to reproduce this using our spine-c SFML example, adding `spAnimationState_setAnimationByName(state, 0, "walk", true);` in line 58 in the completion callback. I observe no duplicate SP_ANIMATION_COMPLETE events.

Please modify our SFML example so that I can reproduce the issue.

[2019-02-25 12:58] #1237 closed, assigned to badlogic

[2019-02-25 13:19] Pontation commented on #1278
Thanks for the fix :)

[2019-02-26 02:42] semgilo commented on #1281
Thank you for responding.
1.I set the scale on when it creating.
`static SkeletonAnimation* createWithBinaryFile (const std::string& skeletonBinaryFile, spAtlas* atlas, float scale = 1);`
2.runtime version:Spine Runtimes 3.5.35

[2019-02-27 00:03] sjrya commented on #762
I want

[2019-02-27 10:32] badlogic commented on #1281
The Spine Runtimes version likely explains it. Could you update to 3.6, or maybe even 3.7? This issue has been fixed in those versions.

[2019-02-27 12:10] semgilo commented on #1281
ok,i will update and test it.

[2019-02-27 13:24] semgilo commented on #1281
@badlogic By the way, if I upgrade to 3.7, can I still use 3.6 spine exports resources?

[2019-02-27 14:22] rh101 commented on #1281
If you manually call update(0) on the animation right after you create it, it will render correctly.

The way it works at the moment may actually be correct.  If the createWithBinaryFile() method called update() internally, this may cause unintended side-effects to the rendering of the next frame if any modifications need to be applied to the animation (which inherits from cocos2d::Node).

For exa

[2019-02-27 14:25] badlogic commented on #1281
hey @rh101, thanks for chiming in! What you said is actually what @semgilo should do: call `update(0)` after creating the node. This should also work in 3.5.x.

@semgilo regarding compatibility between versions: the binary format is not compatible between minor version updates, so you'd have to export. Apply @rh101 's recommendation first, that way you might be able to stay with your current runti

[2019-02-27 14:25] #1281 closed, assigned to badlogic

[2019-02-27 17:39] HaraldCsaszar opened #1284 "Editor sets a linked mesh as the parent of another linked mesh when duplicating a skin"
As reported on the forum: http://esotericsoftware.com/forum/Error-reading-Skeleton-JSON-file-in-Unity-11567?p=51910#p51910

Reproduction assets sent in this email:
FMfcgxwBVqSSwKQhdSJjxRDWcKzjfhxK

The following line tests for `!= null` but then still dereferences regionUVs.length:
https://github.com/EsotericSoftware/spine-runtimes/blob/3.7/spine-libgdx/spine-libgdx/src/com/esotericsoftware/spine/

[2019-02-27 18:29] #941 closed, assigned to nobody

[2019-02-27 19:08] HaraldCsaszar commented on #1255
Another user reports problems here on the forum:
http://esotericsoftware.com/forum/LWRP-Layer-Issues-10799

[2019-02-27 19:39] HaraldCsaszar opened #1285 "[unity] AtlasRegionAttacher creates unnecessary Material clones"
Reported on the forum:
http://esotericsoftware.com/forum/AtlasRegionAttacher-is-Test-11573

Can be reproduced via the `AtlasRegionAttacher` example scene. Run the scene, then duplicate the gameobject and observe drawcalls going up by 4.

Cause:
`AtlasRegionAttacher` calls `originalAttachment.GetRemappedClone` although this does not seem necessary.

[2019-02-28 04:12] semgilo commented on #1281
@rh101 @badlogic Thanks,it works.

[2019-02-28 07:33] badlogic commented on #1284
The code in the implementation is correct. The `||` is a short circuiting operator. If the null check succeeds, the rest of the expression is not evaluate, so there can not be an NPE.

The attachment in question is a linked mesh, meaning it gets its vertices (including uvs) from another mesh.

[2019-02-28 07:45] HaraldCsaszar commented on #1284
It is not the first `regionUVs.length` in the if clause that is the problem, but the second one on the same line that is causing the trouble because of the if condition evaluating to true.

[2019-02-28 08:26] HaraldCsaszar commented on #1284
For reference - this forum post mentions some additional information:
http://esotericsoftware.com/forum/Animations-synchro-in-the-previews-and-in-the-engine-11563

[2019-02-28 15:11] badlogic commented on #1284
The linked meshes require a topological sort, with the assumption that there are no cycles only containing linked meshes (meaning at least one linked mesh in a cycle must reference a non-linked mesh). Uses a scratch buffer to keep garbage and insertion/removal time complexity on the low side. Needs to be ported to SkeletonBinary as well. Works for the user project. https://github.com/EsotericSoftw

[2019-02-28 15:27] badlogic commented on #1284
Created an alternative implementation that doesn't require a scratch buffer. Easier to port.

[2019-02-28 19:23] NathanSweet commented on #1284
Editor should not allow a linked mesh to be the parent mesh for another linked mesh. Fixed in 3.7.92, on project load:
![](http://n4te.com/x/6146-GGJN.png)

[2019-03-01 06:12] GitHub-NetFly commented on #1047
There is no progress yet?

[2019-03-01 10:17] badlogic opened #1286 "[cocos2dx] Crash when setting a track complete listener"
See http://esotericsoftware.com/forum/cocos2dx-Crash-when-setting-a-track-complete-listener-11570

[2019-03-01 10:51] badlogic opened #1287 "[cocos2d-objc] Exampel project doesn't compile with latest Xcode"
Linker error:

[code]

[2019-03-01 10:53] #1287 closed, assigned to badlogic

[2019-03-01 14:36] HaraldCsaszar opened #1288 "[unity] Materials are cleared when MeshRenderer is disabled"
Unity's default shader is assigned instead of the Spine shader in rare occasions.

As reported on the forum:
http://esotericsoftware.com/forum/viewtopic.php?f=12&t=11526

Reproduction project email with large we-transfer zip file reference:
FMfcgxwBVqVmBPgkgzkrwXJJbtKRgZTp

[2019-03-01 18:41] HaraldCsaszar commented on #1288
Problem was as follows:
There were 4 movement directions having SpineAnimations for each direction, but all start disabled and have no Material assigned (maybe that is cleared by Unity upon save when disabled? I don't know) except for the FrontAnimation version - then you have to pick up one of your spritelings before they turned in all directions and throw them at a target resource, then when the

[2019-03-04 14:43] badlogic opened #1289 "[ue4] Add blueprint methods to query for available animations"
See http://esotericsoftware.com/forum/How-to-verify-if-SetAnimation-found-an-animation-in-UE4-11578

[2019-03-04 15:06] badlogic opened #1290 "[runtimes] NaN when setting from and next TrackEntry timescale to 0"
See http://esotericsoftware.com/forum/TimeScale-0-bug-with-added-animation-11589

- [x] spine-libgdx

---
- [x] spine-csharp
- [x] spine-xna
- [x] spine-monogame
- [x] spine-unity
- [x] spine-tk2d

---
- [x] spine-c
- [x] spine-cpp
- [x] spine-sfml
- [x] spine-cocos2d-objc
- [x] spine-cocos2dx
- [x] spine-ue4

---
- [x] spine-ts core
- [x] spine-ts webgl
- [x] spine-ts canvas
- [x] spine-ts threej

[2019-03-04 16:07] #1290 closed, assigned to badlogic

[2019-03-04 17:27] HaraldCsaszar commented on #1288
Turned out that SkeletonRenderer implicitly sets the sharedMaterial to null in the editor when MeshRenderer is disabled. This is not desirable in terms of consistency, clearing the mesh of the filter is sufficient. Decision is to be keeping material references intact, will be fixed in next commit.

[2019-03-04 17:30] #1288 closed, assigned to HaraldCsaszar

[2019-03-04 18:01] HaraldCsaszar commented on #1277
Implemented in commit aebae07.

[2019-03-04 18:01] #1277 closed, assigned to HaraldCsaszar

[2019-03-05 03:06] GitHub-NetFly opened #1291 "[ue4]Skeleton Viewer"
Because you can't see the information about Spine animation under UE4, you want to have a preview under UE4, or transplant a Skeleton Viewer to UE4..

I have made a simple preview at the moment but I have not done the rendering part of the image...
![3](https://user-images.githubusercontent.com/6991952/53778133-b17c2d80-3f36-11e9-9c7c-e3e31ba3d5c8.png)
![4](https://user-images.githubusercontent.co

[2019-03-05 09:08] NathanSweet opened #1292 "Mixing out attachment timelines loses the deform"
[Forum post](http://esotericsoftware.com/forum/Mix-animation-include-setup-pose-11602)

## Scenario
Setting animations `a->b` where both animations have 1) attachment keys showing the same mesh, which is hidden in setup mode, and 2) deform keys.

## Result
When `a` is applied we are mixing the entry out and so the attachment is cleared, which also clears the slot's deform. When `b` is applied, the

[2019-03-05 09:35] NathanSweet commented on #1292
## Possible solutions

### AnimationState.Entry#timelineMode
If we knew when applying an attachment timeline that a later applied attachment timeline would set the attachment for the same slot, then we could avoid mixing out `a`. We have `timelineMode` (for dipping) but this isn't really the right information. We could collect more information in `setTimelineModes` and store a bit flag in the `tim

[2019-03-06 10:24] badlogic commented on #1291
This is cool! I can surely add the textual information you already implemented. However, previewing a skeleton .json/.skel file will also require an atlas to be specified.

[2019-03-06 11:54] GitHub-NetFly commented on #1291
I hope that there will be time to write the image preview function into the plugin, which will greatly reduce the communication cost at work.

[2019-03-06 13:22] HaraldCsaszar opened #1294 "[csharp] Incorrect animation transition upon rewind"
As reported on the forum: http://esotericsoftware.com/forum/Keyframe-Issues-and-Import-Errors-After-Upgrading-to-3-7-11604
Email: FMfcgxwBVzpvCNlfxhQXgFdRpkQgwfTh

Spine-csharp implementation turned out to be incorrect.
Reference implementation:
https://github.com/EsotericSoftware/spine-runtimes/blob/3.7/spine-libgdx/spine-libgdx/src/com/esotericsoftware/spine/Animation.java#L958
Wrong code in spi

[2019-03-06 14:14] #1289 closed, assigned to badlogic

[2019-03-06 14:15] badlogic commented on #1246
I see @scardario has posted new UE4 forum threads, I assume you have figured out the include path issue. Closing this.

[2019-03-06 14:15] #1246 closed, assigned to badlogic

[2019-03-06 16:57] GitHub-NetFly commented on #1047
Is this problem reopened? I'm still working on the problem that the Basic renderer can't render mesh..Once there is a result... I will continue to discuss it with you here.

[2019-03-06 17:04] GitHub-NetFly commented on #1291
This is cool!

[2019-03-06 17:50] GitHub-NetFly commented on #1291
[link](https://github.com/EsotericSoftware/spine-runtimes/commit/4ba46d76e88621d6f127202d9ef199d40c794e3c)

[2019-03-06 17:58] GitHub-NetFly commented on #1291
[link](https://github.com/EsotericSoftware/spine-runtimes/commit/4ba46d76e88621d6f127202d9ef199d40c794e3c)   Looks like the "Event" preview is missing?

Also, I found that the editor preview feature and getting the Slots feature didn't work..

![3](https://user-images.githubusercontent.com/6991952/53928117-f41f4080-40c3-11e9-9348-eb884bab2c0f.png)

Missing code
![555](https://user-images.githubuse

[2019-03-07 02:43] GitHub-NetFly commented on #1291
There is a new problem. Importing the json file engine will crash.. The engine version I am using is 4.21 source version.
![6](https://user-images.githubusercontent.com/6991952/53928646-dc48bc00-40c5-11e9-86d7-2de960f83c21.png)

![4](https://user-images.githubusercontent.com/6991952/53928655-e1a60680-40c5-11e9-819e-525fbc675ca2.png)

[2019-03-07 03:13] GitHub-NetFly commented on #1291
After testing, I found that many resources export json resource formats are different. Some json files will have strange characters.. Causes the read to fail.. Use .skel to read normally. It will not cause a crash..

[2019-03-07 09:01] badlogic commented on #1291
Thanks for testing! I'll be fixing the issues you mentioned.

[2019-03-07 13:28] GitHub-NetFly commented on #1291
Thank you very much for your contribution, making the spine-ue4 plugin more and more perfect.. The main problem now is that the preview of the animation doesn't work.. Other features are working fine, except for json import issues.. this is weird.. because spine export The json file, the data format is not exactly the same..

[2019-03-07 15:34] badlogic commented on #1291
I've fixed the JSON import error. Regarding the preview animation and skin not working: did you enable the `Real-time` viewport option?

![https://i.imgur.com/cJiwVHD.png](https://i.imgur.com/cJiwVHD.png)

Without this, the level view is not redrawn, so no animation can happen.

Still working on the encoding issue.

[2019-03-07 16:22] #1291 closed, assigned to badlogic

[2019-03-07 16:36] daniele-rapagnani opened #1295 "[cocos2dx] Possible segmentation fault when rendering meshes with an high number of vertices"
When mesh attachments with more than 1000 vertices are rendered the application will access unintended memory locations and may crash with a SIGSEGV.

This is related to issue #1014 and #1015 which I believe was not entirely resolved by commit 8650c668e9d29458cacd4a8085dfadb33058686f.

The issue can be observed [here](https://github.com/EsotericSoftware/spine-runtimes/commit/8650c668e9d29458cacd4a

[2019-03-07 18:00] #1295 closed, assigned to badlogic

[2019-03-07 18:08] badlogic commented on #1286
The entry's `rendererObject` was not reset when fetching a reused track from the pool. This caused us to dereference garbage. Fixed in 3.7 and 3.8-beta. See this PR https://github.com/EsotericSoftware/spine-runtimes/pull/1293

[2019-03-07 18:08] #1286 closed, assigned to badlogic

[2019-03-08 01:29] GitHub-NetFly commented on #1291
I think I found the problem.. your implementation is to add the Add Component in the main interface to achieve preview, and does not support preview inside the Actor. If you add a Component inside the Actor and then add it to the scene, then It will be invalid.. The effect is as follows... The Actor inside is actually empty.. sorry I didn't read the code carefully.
![1](https://user-images.githubu

[2019-03-08 03:26] GitHub-NetFly commented on #1291
According to my previous functional requirements, I made a simple modification to the code, removed the Transient tag, and implemented the ability to preview the animation under the Actor. But this method has a problem, it will also be executed in the case of Runtime. It might be better to add it to the WITH_EDITORONLY_DATA macro, only for the Editor service.

![333](https://user-images.githubuser

[2019-03-08 14:25] badlogic opened #1296 "[ue4] Can't save level with blueprint actor containing ProceduralMeshComponent"
Repro:

1. Create empty actor in level, add `SpineSkeletonAnimationComponent` and `SpineSkeletonRendererComponent`
2. Create a blueprint from the actor
3. Try to save level

The level can't be saved due to a graph link to a private object, the ``ProceduralMeshComponent`'s physics body.

This issue has been tracked by UE4 since 2016, but has not been resolved. https://issues.unrealengine.com/issue/

[2019-03-08 14:52] badlogic commented on #1296
Nothing to be done on our side. I've sent a new issue report to Epic, Case # 00102290

[2019-03-08 14:52] #1296 closed, assigned to badlogic

[2019-03-08 19:02] NathanSweet commented on #1292
Slot `clearAttachment` or separating current attachment from the deform attachment did not work out. The real problem is `a`'s attachment timeline uses the setup pose (in this case hides the attachment) when mixing out, then `a`'s deform timeline is not applied and `b` mixes in from the setup pose.

The best fix is for `AnimationState.Entry#timelineMode` to tell when an attachment timeline's slot

[2019-03-08 19:14] NathanSweet commented on #1292
Fixed in the `3.8-beta` branch.

[2019-03-08 19:14] #1292 closed, assigned to nobody

[2019-03-08 19:33] cerxer commented on #762
Is there any progress?

[2019-03-09 17:19] pharan opened #1301 "[unity] Make shaders compatible with Linear Color Space"
I found myself in a Gamma-Linear-HDR rabbit hole the past couple of days.

A forum user was previously encountering this same problem.
As it turns out, if you switch to Linear color space mode (sensibly, a recommendation if you go HDR), Unity has an undocumented requirement for shaders to tint properly: vertex colors need to be converted to linear space before they are used for tinting.

Without t

[2019-03-09 19:19] pharan commented on #1301
Extra considerations:
1. Skeleton renderers apply PMA to the vertex colors. Would the colors still be correct when alpha is less than 1?

2. Tint black colors need to be transformed too?

Relevant code in UnityCG.cginc
https://github.com/TwoTailsGames/Unity-Built-in-Shaders/blob/master/CGIncludes/UnityCG.cginc#L105-L112

[2019-03-12 06:46] kienvn opened #1302 "[Cocos2d-x]Spine not show when add to Billboard"
bool HelloWorld::init()
{

if ( !Scene::init() )
{
    return false;
}

auto visibleSize = Director::getInstance()->getVisibleSize();
auto origin = Director::getInstance()->getVisibleOrigin();

auto camera = Camera::createPerspective(60.0, visibleSize.width / visibleSize.height, 1.0f, 1000.f);
camera->setCameraFlag(CameraFlag::USER2);
camera->setPosition3D(Vec3(0.f, 0.f, 100.f));
camera->lookAt(Ve

[2019-03-12 13:05] badlogic commented on #1302
Please modify one of the scenes in the cocos2d-x example project in this repository for me to reproduce the issue.

[2019-03-12 14:19] badlogic opened #1303 "[runtimes] Port latest AnimationState and Animation changes"
Commits to port **only in 3.8-beta branch**!

https://github.com/EsotericSoftware/spine-runtimes/commit/a321aa76d556a618a09abb3adeb7473a6c099304
https://github.com/EsotericSoftware/spine-runtimes/commit/bd306d4781ea292316abe053ebe4493c196e006c
https://github.com/EsotericSoftware/spine-runtimes/commit/50bfb3ae0f9abf64567cd5f311b54a8f8989c24a

- [x] spine-libgdx

---
- [x] spine-csharp
- [x] spine-x

[2019-03-12 17:14] HaraldCsaszar opened #1304 "[unity] Arbitrary frame animation preview in Scene"
Feature requested multiple times on the forum here: http://esotericsoftware.com/forum/Play-an-animation-on-editor-mode-11084

Currently the starting animation's first frame is displayed in the Scene window.
Provide means in e.g. the Inspector to set the preview frame to an arbitrary frame.
It shall also be considered to add `play` functionality that plays back the whole animation in the Scene wind

[2019-03-12 17:32] HaraldCsaszar opened #1305 "[unity] Exception in incorrect material setting detection mechanism"
As reported on the forum:
http://esotericsoftware.com/forum/Spine-Unity-3-6-to-3-7-Upgrade-Guide-10446

When a non-spine shader is used at a Spine Skeleton, e.g. Unity's standard shader, an exception is thrown due to the non-existing shader parameter `_StraightAlphaInput`.

[2019-03-12 17:38] #1305 closed, assigned to HaraldCsaszar

[2019-03-13 03:53] kienvn commented on #1302
@badlogic
[Archive.zip](https://github.com/EsotericSoftware/spine-runtimes/files/2959715/Archive.zip)
Thanks for your interest!

[2019-03-13 10:22] smaren opened #1306 "[ts] wrong if check in apply mixing from in spine-core"
In spine-core.js the following line exists:
`if (timelineBlend = spine.MixBlend.setup) {` - the `=` should be double equals as it is in the source file

[2019-03-13 20:49] HaraldCsaszar opened #1308 "[unity] Import error skeleton JSON file"
Error upon import:
[code]
Was reported on the forum:

http://esotericsoftware.com/forum/Error-reading-skeleton-JSON-file-for-SkeletonData-asset-11629

[2019-03-14 01:36] GitHub-NetFly commented on #1047
In communication with Epic engineers, I have made some progress on this matter, the effect is as follows:
![1](https://user-images.githubusercontent.com/6991952/54423124-e2384000-474a-11e9-86df-fb9558c70a52.png)

![2](https://user-images.githubusercontent.com/6991952/54423133-e6fcf400-474a-11e9-9e06-bc3e6c0aef79.png)

There are probably two problems. 1. The MaterialDomain used on the UI should use

[2019-03-14 14:13] HaraldCsaszar commented on #1308
Turned out to be incorrect data in json file, contained a reference to a second skeleton that was exported to another json file:

The `root` clipping area of the first skeleton `Typhon 1х3` has `appear_00` of the other skeleton `Typhon 2х3` set as End slot. Informed Nate about the problem.

[2019-03-14 14:13] #1308 closed, assigned to HaraldCsaszar

[2019-03-14 14:22] HaraldCsaszar commented on #1308
New editor ticket created:
https://github.com/EsotericSoftware/spine-editor/issues/448.

[2019-03-15 04:51] kienvn commented on #1302
Hi @badlogic,
I've fixed this bug by init trianglesCommand with flags = 0, spine node will be 2D

[2019-03-16 06:11] NHodgesVFX commented on #728
I am also looking forward to official godot support. Hopefully development starts soon now that godot 3.1 has been released as stable and spine 2.8 has just started its beta as well.

[2019-03-16 07:32] mjtorn commented on #728
Yeah, I couldn't second that harder. I kinda managed to sweep the segfaulting under the rug on that WIP/RFC pull request, but really don't have the time (or maybe even skill) to do a lot about it. And help hasn't exactly been abundant.

[2019-03-16 07:35] jacksparrowGreg commented on #728
I third it!!! Godot is growing and is just an amazing workflow for game
development. Spine is the best in the business for animation! Please
esoteric! Please let us know when the work begins, we are waiting and
excited

On Sat, 16 Mar 2019, 09:32 Markus Törnqvist, <notifications@github.com>
wrote:

[2019-03-16 12:32] mjtorn commented on #728
As I commented on https://github.com/chanon/spine/pull/1 - I got some work snuck in on making the unofficial repo better, but testing and help with that one commit are still welcome!

You can use https://github.com/mjtorn/godot-stretchyman-test as a demo.

If/When Esoteric ships an official runtime for Godot, it would be really nice to have those slots for separate z-indexing and normal maps as in

[2019-03-18 15:00] badlogic commented on #1306
This is fixed in the latest 3.7 and 3.8-beta branches.

[2019-03-18 15:00] #1306 closed, assigned to badlogic

[2019-03-18 15:06] badlogic commented on #1302
This appears to be a bug in Cocos2d-x. We simply pass along the `transformFlags` that are handed down the scene graph to `SkeletonAnimation::draw` and `SkeletonRenderer::draw`. I suggest simply extending either of the two classes for your use case and overwrite the value passed down the scene graph as you outlined.

[2019-03-18 15:06] #1302 closed, assigned to badlogic

[2019-03-18 16:07] #1294 closed, assigned to HaraldCsaszar

[2019-03-20 17:14] HaraldCsaszar opened #1310 "[unity] SkeletonUtilityBone has missing 'Create 2D Hinge Chain'"
SkeletonUtilityBone's inspector offered a `Create Hinge Chain` button for 3D only and had the 2D version hidden behind an #if pragma in code.

Shall be offered as a separate button without the need for changing code.

[2019-03-20 17:18] #1310 closed, assigned to HaraldCsaszar

[2019-03-26 15:56] HaraldCsaszar opened #1312 "[unity] Wrong atlas asset assigned upon import"
As reported via Email, including repro zip package:
FMfcgxwBWStJLlKQGbMbCTVFjvJcdVKg.

There were three exported Spine skeletons (with one atlas each) in a single directory, Upon import, only the first atlas was always assigned.

Cause was that no "name" or "path" is being exported in the skeleton json file (which is considered valid export), such as this:
[code]
The Unity import searches for a "n

[2019-03-26 16:01] #1312 closed, assigned to HaraldCsaszar

[2019-03-29 10:46] HaraldCsaszar opened #1313 "[unity] Timeline multi-track scrubbing not working"
For reference, shall be fixed in the future.

As reported again on the forum:
http://esotericsoftware.com/forum/Timeline-and-multiple-aimations-11709

Discussed on the forum by Pharan here:
http://esotericsoftware.com/forum/Timeline-support-10250?p=47501&hilit=Timeline+scrubbing#p47501

[2019-04-01 13:55] liana-p opened #1315 "spine-ts runtime type declaration file isn't accepted in TypeScript"
According to the documentation, the import syntax is:

`import { spine } from "@game/libs/spine-ts/spine-canvas.js";`.

The type declaration file is in the right place,  and I have also added the `export { spine };` at the end of the js file (tried both with and without).

But when using this, I get the following error from  the type system: `[ts] Variable 'spine' implicitly has type 'any' in some

[2019-04-02 11:27] bilgekaan commented on #762
:(

[2019-04-02 13:37] HaraldCsaszar opened #1316 "[unity] SkeletonGraphic blend modes support"
As reported via email:
FMfcgxwBWSxklFKCkMvWXkzwSPRFpNNx

Blend modes (multiply, add, ..) are not currently supported on SkeletonGraphic, due to the limitation of Unity.UI.Graphic to a single material. This could be worked around by e.g. adding additional vertex attributes (an additional enum int value per vertex for "normal", "multiply", "add", etc) and processing them in the fragment shader.

[2019-04-02 15:48] HaraldCsaszar commented on #1284
User `Fainder` on the forum has reported some repro steps:
"It seems if I duplicate a skin that has some new meshes and some linked meshes, the duplicate creates linked meshes that refer to other linked meshes."
http://esotericsoftware.com/forum/Error-reading-Skeleton-JSON-file-in-Unity-11567

[2019-04-02 17:45] HaraldCsaszar opened #1317 "[unity] SkeletonMecanim controller animation layer blend modes not working"
As reported here on the forum:
http://esotericsoftware.com/forum/How-to-blend-animation-layers-with-mecanim-11725

Layer blend mode is always behaving like Override, switching to Additive blend mode in the controller has no effect, it remains the same.

[2019-04-02 17:49] #1317 closed, assigned to HaraldCsaszar

[2019-04-03 02:36] GitHub-NetFly opened #1318 "[UE4]Unreal Engine 4.22 support"
SpinePlugins is no longer compatible with UnrealEngine 4.22

[2019-04-03 12:59] maximkornilov opened #1319 "[unity] masking doesn't work for skeleton with attachments packed to several sprite atlases"
**Repro steps:**

1. Skeleton attachments are packed to several sprite atlases
2. SkeletonAnimation component is used inside Sprite Mask
3. Mask interaction for skeleton is set to "Visible Inside Mask"

**Actual**: the rendering of the skeleton is totally broken
**Expected**: skeleton is rendered correctly and masking is working

Unity Version: 2018.3.7f1
Spine runtime version:  spine-unity-3_7-20

[2019-04-03 13:13] maximkornilov opened #1320 "[unity] mask interaction behavior is not reverted back to none after it was set to visible "Inside/Outside" of mask"
**Repro steps:**

1. Update skeleton animation `Mask Interaction` property to `Visible Inside Mask`
2. Press the play button, check that masking is applied
3. Change your mind and update back `Mask Interaction` property to `None` default value
4. Press the play button

**Actual**: the masking is still applied

Unity Version: 2018.3.7f1
Spine runtime version:  spine-unity-3_7-2019-03-04

[2019-04-03 14:48] HaraldCsaszar opened #1321 "[unity] SkeletonMecanim leftover rotation at additive layer after clip end"
As reported on the forum:
http://esotericsoftware.com/forum/How-to-blend-animation-layers-with-mecanim-11725?p=52583#p52583

Reproduction zip package sent via mail:
FMfcgxwBWTFWtcrrrQlkSJZcPpFwHbjq

Added rotations should be cleared to zero, since after the clip a node with "Write Defaults" is executed in the mecanim controller, however it seems to have no effect.

[2019-04-04 10:57] #1315 closed, assigned to nobody

[2019-04-04 12:01] badlogic opened #1322 "[runtimes] Port of fix for additive blending"
This needs to be ported to both 3.7 and 3.8-beta.

https://github.com/EsotericSoftware/spine-runtimes/commit/6514c41d178005c57dcd1a29b9a930be7c002f48

- [x] spine-libgdx

---
- [x] spine-csharp
- [x] spine-xna
- [x] spine-monogame
- [x] spine-unity
- [x] spine-tk2d

---
- [x] spine-c
- [x] spine-cpp
- [x] spine-sfml
- [x] spine-cocos2d-objc
- [x] spine-cocos2dx
- [x] spine-ue4

---
- [x] spine-ts

[2019-04-04 12:58] #1322 closed, assigned to badlogic, HaraldCsaszar

[2019-04-04 14:53] HaraldCsaszar commented on #1320
Could not reproduce within described setup. Tried with saving and without saving, also in Unity 2019.1, problem did not occur.

Please verify that there is no problem with access permissions on your side to save the generated files, and that no other scripts are interfering with the save operation.

[2019-04-04 14:53] #1320 closed, assigned to nobody

[2019-04-04 15:27] HaraldCsaszar commented on #1319
Could not reproduce with described setup.
Renders correctly both with a single atlas with two pages, as well as three atlases with a single page per atlas.

Please verify that there is no problem with access permissions on your side to save the generated files, and that no other scripts are interfering with the save operation.

If the problem persists, please send us a repro zip package to contact

[2019-04-04 15:27] #1319 closed, assigned to nobody

[2019-04-04 16:11] badlogic opened #1323 "[runtimes] Add Skin#addAttachments to all runtimes"
It appears we did not port the [`Skin#addAttachments(Skin)`](https://github.com/EsotericSoftware/spine-runtimes/blob/3.7/spine-libgdx/spine-libgdx/src/com/esotericsoftware/spine/Skin.java#L69) method from the reference implementation to the other language runtimes. This makes creating custom skins harder than it should be.

- [x] spine-libgdx

---
- [ ] spine-csharp
- [ ] spine-xna
- [ ] spine-mon

[2019-04-05 12:34] #1321 closed, assigned to HaraldCsaszar

[2019-04-08 14:24] HaraldCsaszar commented on #1323
For C#, `AddAttachments` is added as an extension method in the spine-unity runtime instead of spine-csharp:
https://github.com/EsotericSoftware/spine-runtimes/blob/3.7/spine-unity/Assets/Spine/Runtime/spine-unity/Modules/AttachmentTools/AttachmentTools.cs#L812

Decided Action: Methods shall be moved to spine-csharp on 3.8-beta branch (also don't forget to add CHANGELOG entry under c# and unity wi

[2019-04-08 14:31] badlogic commented on #1323
We're going for the full implementation of this issue in the 3.8-beta branch https://github.com/EsotericSoftware/spine-runtimes/issues/841

Closing this issue in favor of #841.

[2019-04-08 14:31] #1323 closed, assigned to badlogic, HaraldCsaszar

[2019-04-08 16:06] badlogic commented on #1318
Fixed in both the 3.7 and 3.8-beta branch. We no longer depend on the RHI. The bigger issue was figuring out that the `IMPLEMENT_MODULE` macro changed. Where previously, the `I` prefix was removed by the macro when generating symbol names, that is no longer the case in 4.22. There was no mention of this in the changelog, no UBT warning, nothing. Love UE4 releases. The build system always breaks re